---
import Layout from '../../layouts/Layout.astro';
import Expertise from '../../components/Expertise.astro';
---

<Layout>
    <div class="pg-wrap pg-exp">
        <Expertise />
    </div>
</Layout>