---
import Layout from '../../layouts/Layout.astro';
import SolutionsInnerEnterprise from '../../components/SolutionsInnerEnterprise.astro';

---

<Layout>
    <div class="pg-wrap">
        <SolutionsInnerEnterprise />
    </div>
</Layout>