---
import Layout from '../../layouts/Layout.astro';
import SolutionsInnerExpansion from '../../components/SolutionsInnerExpansion.astro';

---

<Layout>
    <div class="pg-wrap">
        <SolutionsInnerExpansion />
    </div>
</Layout>