---
import Layout from '../../layouts/Layout.astro';
import SolutionsInnerFranchise from '../../components/SolutionsInnerFranchise.astro';

---

<Layout>
    <div class="pg-wrap">
        <SolutionsInnerFranchise />
    </div>
</Layout>