---
import Layout from '../../layouts/Layout.astro';
import SolutionsInnerGrowth from '../../components/SolutionsInnerGrowth.astro';

---

<Layout>
    <div class="pg-wrap">
        <SolutionsInnerGrowth />
    </div>
</Layout>