---
import Layout from '../../layouts/Layout.astro';
import SolutionsInnerStartup from '../../components/SolutionsInnerStartup.astro';

---

<Layout>
    <div class="pg-wrap">
        <SolutionsInnerStartup />
    </div>
</Layout>