:root {
    --white: #ffffff;
    --darkGrey: #2C2C2C;
    --darkGrey2: #2D3035;
    --darkBlue: #17191F;
    --lightGrey: #676B78;
    --lightGrey2: #E3DFD9;
    --lightGrey3: #F5F5F7;
    --grey: #B5B8BC;
    --lightblue: #DEE6EE;
    --lightblue2: #48A3FF;
    --blue: #0264FF;
    --red: #FF8787;
    --darkRed: #E20000;
    --green: #04A107;
}
@font-face {
    font-family: 'pp_neue_montrealmedium';
    src: url('/fonts/ppneuemontreal-medium/ppneuemontreal-medium-webfont.eot');
    src: url('/fonts/ppneuemontreal-medium/ppneuemontreal-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/ppneuemontreal-medium/ppneuemontreal-medium-webfont.woff2') format('woff2'),
         url('/fonts/ppneuemontreal-medium/ppneuemontreal-medium-webfont.woff') format('woff'),
         url('/fonts/ppneuemontreal-medium/ppneuemontreal-medium-webfont.ttf') format('truetype'),
         url('/fonts/ppneuemontreal-medium/ppneuemontreal-medium-webfont.svg#pp_neue_montrealmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pp_neue_montrealbook';
    src: url('/fonts/ppneuemontreal-book/ppneuemontreal-book-webfont.eot');
    src: url('/fonts/ppneuemontreal-book/ppneuemontreal-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/ppneuemontreal-book/ppneuemontreal-book-webfont.woff2') format('woff2'),
         url('/fonts/ppneuemontreal-book/ppneuemontreal-book-webfont.woff') format('woff'),
         url('/fonts/ppneuemontreal-book/ppneuemontreal-book-webfont.ttf') format('truetype'),
         url('/fonts/ppneuemontreal-book/ppneuemontreal-book-webfont.svg#pp_neue_montrealbook') format('svg');
    font-weight: normal;
    font-style: normal;
}
html, body {
    margin:0;
    padding:0;
    font-weight: 500;
    font-family: 'pp_neue_montrealmedium';
}
html{
    scroll-behavior: smooth;
    background: var(--darkBlue);
    font-size: 16px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
::selection {
    
}
svg * {
    -webkit-transition: fill .4s, stroke .4s;
    -moz-transition: fill .4s, stroke .4s;
    transition: fill .4s, stroke .4s;
}
input:not([type=checkbox], [type=radio]), textarea {
    outline:none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
input:-webkit-autofill {
    -webkit-text-fill-color: var(--darkBlue) !important;
    -webkit-box-shadow: 0 0 0px 1000px var(--white4) inset !important;
    background-color: var(--white4) !important;
    border: 1px solid transparent;
    transition: background-color 5000s ease-in-out 0s;
}
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--darkBlue) !important;
    -webkit-box-shadow: 0 0 0px 1000px var(--white4) inset !important;
    background-color: var(--white4) !important;
    border: 1px solid var(--lightGrey6) !important;
}
input[type=number] {
    -moz-appearance: textfield;
}
input {
    outline: none;
}
textarea {
    overflow: auto;
}
ul{
    list-style-type: none;
    margin:0;
    padding:0;
}
a {
    text-decoration: none;
}
.fx {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.fx-ac {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
}
.fx-as {
    align-items: flex-start;
}
.fx-jb {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.fx-jc {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.fx-ae {
    align-items: flex-end;
}
.fx-je {
    justify-content: flex-end;
}
.fx-js {
    justify-content: flex-start;
}
.f-dir-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.fx-wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
img {
    vertical-align: top;
    max-width: 100%;
    height: auto;
}
.container{
    padding: 0 6rem;
    margin: auto;
}
.btn-primary{
    height: 36px;
    padding: 0 16px;
    border-radius: 8px;
    background: var(--white);
    color: var(--darkGrey);
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}
.btn-dark{
    background: var(--darkGrey);
    color: var(--white);
}
.sc-al-cnt h1,
.sc-al-cnt h2,
.sc-al-cnt .sc-txt p{
    text-align: center;
}
h1, h2{
    color: var(--white);
    font-size: 3.75rem;
    font-weight: 500;
    line-height: 3.75rem;
    margin: 0;
}
h3, h4{
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.75rem;
    margin: 0;
    font-family: 'pp_neue_montrealbook';
    letter-spacing: 0.02rem;
}
h5{
    color: var(--darkGrey);
    font-family: 'pp_neue_montrealbook';
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin: 0;
}
.sc-grey-C h2,
.sc-grey-C .sc-txt p,
.sc-grey-C .sc-txt ul{
    color: var(--darkGrey);
}
.sc-txt{
    margin-top: 1.5rem;
}
.sc-txt p, .sc-txt ul{
    color: var(--white);
    font-size: 1.4rem;
    letter-spacing: 0.05rem;
    font-weight: 400;
    line-height: 1.7rem;
    margin: 0;
    font-family: 'pp_neue_montrealbook';
}
.sc-txt ul{
    list-style: square;
    margin: 1rem 1rem 1rem 2rem;
}
.fwidth{
    width: 100%;
}
.sc-pd{
    padding: 6.25rem 0;
}
.ps-rel{
    position: relative;
}
.tst-pagination.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 1rem 0 0;
}
.tst-pagination.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet:last-child{
    margin-right: 0;
}
.tst-pagination.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
    background: var(--grey);
}
.tst-pagination.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet-active{
    background: linear-gradient(0deg, #2C2C2C 0%, #2C2C2C 100%), var(--grey);
}
.sc-grey{
    background: var(--lightGrey3);
}

@media screen and (max-width:1600px){
    html{
        font-size: 12px;
    }
}
@media screen and (min-width:1601px){
    html{
        font-size: 16px;
    }
}
@media screen and (max-width:479px){
    .container {
        padding: 0 2rem;
    }
}