:root {
    --white: #ffffff;
    --darkGrey: #2C2C2C;
    --darkGrey2: #2D3035;
    --darkBlue: #17191F;
    --lightGrey: #676B78;
    --lightGrey2: #E3DFD9;
    --lightGrey3: #F5F5F7;
    --lightGrey4: #E9EDEF;
    --grey: #B5B8BC;
    --lightblue: #DEE6EE;
    --lightblue2: #48A3FF;
    --blue: #0264FF;
    --red: #FF8787;
    --darkRed: #E20000;
    --green: #04A107;
    --lightGreen: #1ECE76;
    --lighterBlue: #80A0FF;
    --lightRed: #FF6C6C;
}
@font-face {
    font-family: 'pp_neue_montrealregular';
    src: url('/fonts/ppneuemontreal-reg/ppneuemontreal-regular-webfont.eot');
    src: url('/fonts/ppneuemontreal-reg/ppneuemontreal-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/ppneuemontreal-reg/ppneuemontreal-regular-webfont.woff2') format('woff2'),
         url('/fonts/ppneuemontreal-reg/ppneuemontreal-regular-webfont.woff') format('woff'),
         url('/fonts/ppneuemontreal-reg/ppneuemontreal-regular-webfont.ttf') format('truetype'),
         url('/fonts/ppneuemontreal-reg/ppneuemontreal-regular-webfont.svg#pp_neue_montrealregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pp_neue_montrealmedium';
    src: url('/fonts/ppneuemontreal-medium/ppneuemontreal-medium-webfont.eot');
    src: url('/fonts/ppneuemontreal-medium/ppneuemontreal-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/ppneuemontreal-medium/ppneuemontreal-medium-webfont.woff2') format('woff2'),
         url('/fonts/ppneuemontreal-medium/ppneuemontreal-medium-webfont.woff') format('woff'),
         url('/fonts/ppneuemontreal-medium/ppneuemontreal-medium-webfont.ttf') format('truetype'),
         url('/fonts/ppneuemontreal-medium/ppneuemontreal-medium-webfont.svg#pp_neue_montrealmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pp_neue_montrealbook';
    src: url('/fonts/ppneuemontreal-book/ppneuemontreal-book-webfont.eot');
    src: url('/fonts/ppneuemontreal-book/ppneuemontreal-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/ppneuemontreal-book/ppneuemontreal-book-webfont.woff2') format('woff2'),
         url('/fonts/ppneuemontreal-book/ppneuemontreal-book-webfont.woff') format('woff'),
         url('/fonts/ppneuemontreal-book/ppneuemontreal-book-webfont.ttf') format('truetype'),
         url('/fonts/ppneuemontreal-book/ppneuemontreal-book-webfont.svg#pp_neue_montrealbook') format('svg');
    font-weight: normal;
    font-style: normal;
}
html, body {
    margin:0;
    padding:0;
    font-weight: 500;
    font-family: 'pp_neue_montrealmedium';
}
html{
    scroll-behavior: smooth;
    font-size: 16px;
}
html.dark {
    background: var(--darkBlue);
}
html.light {
    background: var(--lightGrey3);
}
html.light .sc-hero p, html.light .sc-hero h1, html.light .sc-hero h2 {
    color: var(--darkGrey);
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
::selection {
    
}
svg * {
    -webkit-transition: fill .4s, stroke .4s;
    -moz-transition: fill .4s, stroke .4s;
    transition: fill .4s, stroke .4s;
}
input:not([type=checkbox], [type=radio]), textarea {
    outline:none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
input:-webkit-autofill {
    -webkit-text-fill-color: var(--darkBlue) !important;
    -webkit-box-shadow: 0 0 0px 1000px var(--white4) inset !important;
    background-color: var(--white4) !important;
    border: 1px solid transparent;
    transition: background-color 5000s ease-in-out 0s;
}
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--darkBlue) !important;
    -webkit-box-shadow: 0 0 0px 1000px var(--white4) inset !important;
    background-color: var(--white4) !important;
    border: 1px solid var(--lightGrey6) !important;
}
input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
}
input {
    outline: none;
}
textarea {
    overflow: auto;
}
ul{
    list-style-type: none;
    margin:0;
    padding:0;
}
a {
    text-decoration: none;
}
.fx {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.fx-ac {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
}
.fx-as {
    align-items: flex-start;
}
.fx-jb {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.fx-jc {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.fx-ae {
    align-items: flex-end;
}
.fx-je {
    justify-content: flex-end;
}
.fx-js {
    justify-content: flex-start;
}
.f-dir-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.fx-wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
img {
    vertical-align: top;
    max-width: 100%;
    height: auto;
}
.container{
    padding: 0 6rem;
    margin: auto;
}
.btn-primary{
    height: 36px;
    padding: 0 16px;
    border-radius: 8px;
    background: var(--white);
    color: var(--darkGrey);
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    letter-spacing: 0.01rem;
}
.btn-primary-lg {
    height: 3.5rem;
    padding: 0 2.5rem;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 2rem;
}
.btn-dark{
    background: var(--darkGrey);
    color: var(--white);
}
.sc-al-cnt h1,
.sc-al-cnt h2,
.sc-al-cnt .sc-txt p{
    text-align: center;
}
h1, h2{
    color: var(--white);
    font-size: 3.75rem;
    font-weight: 500;
    line-height: 3.75rem;
    margin: 0;
}
h3, h4{
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.75rem;
    margin: 0;
    font-family: 'pp_neue_montrealbook';
    letter-spacing: 0.02rem;
}
h5{
    color: var(--darkGrey);
    font-family: 'pp_neue_montrealbook';
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin: 0;
}
.sc-grey-C h2,
.sc-grey-C .sc-txt p,
.sc-grey-C .sc-txt ul{
    color: var(--darkGrey);
}
.sc-txt{
    margin-top: 1.5rem;
}
.sc-txt p, .sc-txt ul{
    color: var(--white);
    font-size: 1.4rem;
    letter-spacing: 0.05rem;
    font-weight: 400;
    line-height: 1.7rem;
    margin: 0;
    font-family: 'pp_neue_montrealbook';
}
.sc-txt ul{
    list-style: square;
    margin: 1rem 1rem 1rem 2rem;
}
.fwidth{
    width: 100%;
}
.sc-pd{
    padding: 6.25rem 0;
}
.sc-wrapper{
    width: 66rem;
    margin: auto;
}
.ps-rel{
    position: relative;
}
.tst-pagination.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 1rem 0 0;
}
.tst-pagination.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet:last-child{
    margin-right: 0;
}
.tst-pagination.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
    background: var(--grey);
}
.tst-pagination.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet-active{
    background: linear-gradient(0deg, #2C2C2C 0%, #2C2C2C 100%), var(--grey);
}
.sc-grey{
    background: var(--lightGrey3);
}
.pg-wrap{
    padding-top: 12.5rem;
}
.exp-acc-dot {
    border-radius: 1.5rem;
    border: 1px solid #5A5E68;
    background: #51535A;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.12);
    width: 1.5rem;
    height: 1.5rem;
    flex-shrink: 0;
    margin-right: 0.5rem;
}
.exp-dot{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 0.25rem;
    background: linear-gradient(0deg, #999A9F 0%, #6B6C70 27.88%, #CDCFD6 82.69%, #EBECF2 100%);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
}
.exp-acc-key-points{
    margin-top: 2rem;
    gap: 0.75rem;
}
.exp-acc-key-point{
    border-radius: 1.375rem;
    background: #343741;
    padding: 0.75rem 20px 0.75rem 0.75rem;
    width: calc((100% - 2 * 0.75rem) / 3);
}
.exp-acc-key-point span{
    color: var(--white);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.25rem;
    letter-spacing: 0.01rem;
}
/* results styles start */
.rs-banner {
    height: 100vh;
}
 .rs-video {
    position: relative;
    overflow: hidden;
    height: 100%;
 }
 .rs-video video {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    object-fit: cover;
}
.rs-details {
    padding: 12.5rem 0;
    background: var(--lightGrey3);
}
.dark-gray {
    color: var(--darkGrey);    
}
.col {
    width: calc((100% - 1.5rem)/2);
}
.rs-info {
    font-family: 'pp_neue_montrealbook';
    margin-top: 1.5rem;
    color: var(--darkGrey);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: 0.03rem;
    border-bottom: 0.063rem solid rgba(44, 44, 44, 0.20);
    padding-bottom: 3.75rem;
}
.rs-info p {
    margin: 0 0 1.25rem 0;
}
.rs-info p:last-child {
    margin-bottom: 0;
}
.rs-actions-row {
    margin: 2.5rem 0;
}
.md-text {
    color: var(--darkGrey);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.25rem;
    letter-spacing: 0.02rem;
}
.rs-action-links > span {
    margin-right: 1rem;
    line-height: 0.8rem;
}
.rs-action-links svg {
    width: 1.5rem;
    height: auto;
}
.rs-action-links a:not(:last-child) {
    margin-right: 0.5rem;
}
.rs-sharing {
    margin-right: 2rem;
}
.rs-info-cols {
    margin-top: 3.75rem;
}
.rs-info-col span {
    color: rgba(44, 44, 44, 0.40);
}
.rs-info-rows {
    margin-top: 1rem;
}
.rs-info-rows > * {
    display: block;
}
.rs-fw-video video, .rs-inner-cols video, .boxed-col video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.rs-ar-videos video {
    aspect-ratio: 16 / 9;
}
.rs-inner-cols {
    padding: 3.75rem;
}
.rs-inner-cols, .boxed-col {
    border-radius: 2.5rem;
    background: var(--lightGrey4);
}
.boxed-col {
    padding: 3.75rem 2.5rem;
    position: relative;
    overflow: hidden;
}
.with-rds-shadow {
    border-radius: 1rem;
    box-shadow: 4.543px 4.543px 22.716px 0 rgba(68, 84, 98, 0.10);
}
.inner-rows-mg {
    margin-top: 1.5rem;
}
.fw-gray {
    padding: 6.25rem 0;
    background: var(--lightGrey3);
}
.rs-inner-sm-col {
    width: 24%;
}
.box-without-pd .boxed-col {
    padding: 0;
}
.boxed-cols .boxed-col img {
    width: 100%;
}
.boxed-col.no-pd {
    padding: 0;
}
.obj-ps-left {
    object-position: left;
}
.md-subheading {
    margin: 0;
    color: var(--darkGrey);
    text-align: center;
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 2rem;
}
.sm-text {
    color: var(--darkGrey);
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5rem;
}
.rs-next-ref {
    padding: 12.5rem 0;
}
.sm-wrap {
    width: 45rem;
    margin: 0 auto;
}
.tx-center {
    text-align: center;
}
.white-sc {
    background: var(--white);
}
.btn-primary-blue {
    background: var(--blue);
    color: var(--white);
}
.rs-btn-row {
    margin: 2.5rem 0;
}
.next-rs-link-text {
    margin: 0;
    color: rgba(44, 44, 44, 0.40);
}
.next-rs-link-text a {
    color: var(--blue);
    border-bottom: 0.063rem solid var(--blue);
}
.rs-similar {
    padding: 6.25rem 0;
}
.pj-list{
    margin-top: 2.5rem;
}
.pj-ft-image{
    overflow: hidden;
    border-radius: 1.25rem;
}
.pj-ft-image img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 1.25rem;
    -webkit-transition: transform 0.5s ease;
    -moz-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
}
.pj-ft-image:hover img{
    transform: scale(1.05);
}
.pj-ft-info-row{
    padding: 1.5rem;
}
.pj-ft-info-lcol{
    width: 50%;
}
.pj-ft-info-rcol{
    width: 50%;
}
.pj-ft-info-txt{
    margin-top: 1.5rem;
}
.pj-ft-info-txt h4{
    color: var(--lightGrey);
}
.pj-ft-info-rcol p{
    font-family: 'pp_neue_montrealbook';
    color: var(--lightGrey);
    text-align: right;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin: 0;
    letter-spacing: 0.02rem;
}
.pj-featured-2col{
    margin: 4rem 0;
}
.pj-featured-2col .pj-featured-item{
    width: 49%;
}
.pj-featured-2col .pj-ft-info-txt{
    width: 100%;
}
.rs-similar .pj-ft-info-lcol-wrap h3 {
    color: var(--darkGrey);
}
.pj-featured-cols {
    margin-top: 3.75rem;
    position: relative;
    overflow: hidden;
    padding: 0 0 0 6rem;
    flex-wrap: nowrap;
    min-width: max-content;
}
.pj-featured-cols .pj-featured-item {
    margin-right: 1.5rem;
    flex-shrink: 0;
    width: 36vw;
}
.pj-featured-cols .pj-featured-item:last-child {
    margin-right: 0;
}
.vct-icon svg * {
    -webkit-transition: fill .4s, stroke .4s;
    -moz-transition: fill .4s, stroke .4s;
    transition: fill .4s, stroke .4s;
}
.copy-link-btn svg {
    cursor: pointer;
}
.copy-status {
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    background: rgba(44, 44, 44, 0.2);
    color: var(--lightGrey3);
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1rem;
    margin-left: 1rem;
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.visible {
    opacity: 1;
}
.rs-sc-sharing-links a:hover svg rect, .x-icon:hover svg g path, .copy-link-btn svg:hover rect:nth-child(1) {
    fill: var(--blue);
}
.rs-similar .container {
    padding-right: 0;
}
.exp-txt{
    color: var(--darkBlue);
    font-size: 1.25rem;
    line-height: 1.5rem;
    letter-spacing: 0.025rem;
    text-align: center;
}
.exp-txt p span.blue{
    color: var(--lighterBlue);
}
.exp-txt p span.red{
    color: var(--lightRed);
}
.exp-txt p span.green{
    color: var(--lightGreen);
}
.exp-scd-txt-row{
    margin-top: 3.75rem;
}
.exp-scd-txt-row .sc-txt p{
    font-family: 'pp_neue_montrealregular';
}
.hz-scroll {
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    cursor: grab;
}
.hz-scroll::-webkit-scrollbar {
    display: none;
}
.rs-banner-slider, .rs-banner-slider .swiper, .rs-banner-slider .swiper-wrapper,
.rs-banner-slider .swiper-slide, .rs-banner-bg {
    height: 100%;
}
.img-after {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}



/* results styles end */




@media screen and (max-width:1600px){
    html{
        font-size: 12px;
    }
}
@media screen and (min-width:1601px){
    html{
        font-size: 16px;
    }
}
@media screen and (max-width:479px){
    .container {
        padding: 0 2rem;
    }
    .sc-wrapper{
        width: 100%;
    }
    .pj-ft-info-lcol, .pj-ft-info-rcol,
    .pj-featured-2col .pj-featured-item{
        width: 100%;
    }
    .pj-ft-info-row, .pj-featured-2col{
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .pj-ft-info-lcol{
        order: 1;
    }
    .pj-ft-info-rcol p{
        text-align: left;
    }
}