:root {
    --white: #ffffff;
    --black: #000000;
    --darkGrey: #2C2C2C;
    --darkGrey2: #2D3035;
    --darkBlue: #17191F;
    --lightGrey: #676B78;
    --lightGrey2: #E3DFD9;
    --lightGrey3: #F5F5F7;
    --lightGrey4: #E9EDEF;
    --grey: #B5B8BC;
    --lightblue: #DEE6EE;
    --lightblue2: #48A3FF;
    --blue: #0264FF;
    --red: #FF8787;
    --darkRed: #E20000;
    --green: #04A107;
    --lightGreen: #1ECE76;
    --lighterBlue: #80A0FF;
    --lightRed: #FF6C6C;
}
@font-face {
    font-family: 'pp_neue_montrealregular';
    src: url('/fonts/ppneuemontreal-reg/ppneuemontreal-regular-webfont.eot');
    src: url('/fonts/ppneuemontreal-reg/ppneuemontreal-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/ppneuemontreal-reg/ppneuemontreal-regular-webfont.woff2') format('woff2'),
         url('/fonts/ppneuemontreal-reg/ppneuemontreal-regular-webfont.woff') format('woff'),
         url('/fonts/ppneuemontreal-reg/ppneuemontreal-regular-webfont.ttf') format('truetype'),
         url('/fonts/ppneuemontreal-reg/ppneuemontreal-regular-webfont.svg#pp_neue_montrealregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pp_neue_montrealmedium';
    src: url('/fonts/ppneuemontreal-medium/ppneuemontreal-medium-webfont.eot');
    src: url('/fonts/ppneuemontreal-medium/ppneuemontreal-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/ppneuemontreal-medium/ppneuemontreal-medium-webfont.woff2') format('woff2'),
         url('/fonts/ppneuemontreal-medium/ppneuemontreal-medium-webfont.woff') format('woff'),
         url('/fonts/ppneuemontreal-medium/ppneuemontreal-medium-webfont.ttf') format('truetype'),
         url('/fonts/ppneuemontreal-medium/ppneuemontreal-medium-webfont.svg#pp_neue_montrealmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'pp_neue_montrealbook';
    src: url('/fonts/ppneuemontreal-book/ppneuemontreal-book-webfont.eot');
    src: url('/fonts/ppneuemontreal-book/ppneuemontreal-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/ppneuemontreal-book/ppneuemontreal-book-webfont.woff2') format('woff2'),
         url('/fonts/ppneuemontreal-book/ppneuemontreal-book-webfont.woff') format('woff'),
         url('/fonts/ppneuemontreal-book/ppneuemontreal-book-webfont.ttf') format('truetype'),
         url('/fonts/ppneuemontreal-book/ppneuemontreal-book-webfont.svg#pp_neue_montrealbook') format('svg');
    font-weight: normal;
    font-style: normal;
}
html, body {
    margin:0;
    padding:0;
    font-weight: 500;
    font-family: 'pp_neue_montrealmedium';
    position: relative;
}
html{
    scroll-behavior: smooth;
    font-size: 16px;
    overflow-x: hidden;
}
html.dark {
    background: var(--darkBlue);
}
html.light {
    background: var(--lightGrey3);
}
html.white {
    background: var(--white);
}
html.white .rs-next-ref.sc-grey {
    background: var(--white); 
}
html.light .sc-hero p, html.light .sc-hero h1, html.light .sc-hero h2 {
    color: var(--darkGrey);
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
::selection {
    
}
svg * {
    -webkit-transition: fill .4s, stroke .4s;
    -moz-transition: fill .4s, stroke .4s;
    transition: fill .4s, stroke .4s;
}
input:not([type=checkbox], [type=radio]), textarea {
    outline:none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
input:-webkit-autofill {
    -webkit-text-fill-color: var(--darkBlue) !important;
    -webkit-box-shadow: 0 0 0px 1000px var(--white4) inset !important;
    background-color: var(--white4) !important;
    border: 1px solid transparent;
    transition: background-color 5000s ease-in-out 0s;
}
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--darkBlue) !important;
    -webkit-box-shadow: 0 0 0px 1000px var(--white4) inset !important;
    background-color: var(--white4) !important;
    border: 1px solid var(--lightGrey6) !important;
}
input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
}
input {
    outline: none;
}
textarea {
    overflow: auto;
}
ul{
    list-style-type: none;
    margin:0;
    padding:0;
}
a {
    text-decoration: none;
}
a.rg-link {
    color: var(--blue);
}
.fx {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.fx-ac {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
}
.fx-as {
    align-items: flex-start;
}
.fx-jb {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.fx-jc {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.fx-ae {
    align-items: flex-end;
}
.fx-je {
    justify-content: flex-end;
}
.fx-js {
    justify-content: flex-start;
}
.f-dir-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.fx-wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
img {
    vertical-align: top;
    max-width: 100%;
    height: auto;
}
.container{
    padding: 0 6rem;
    margin: auto;
}
.btn-primary{
    height: 36px;
    padding: 0 16px;
    border-radius: 8px;
    background: var(--white);
    color: var(--darkGrey);
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    letter-spacing: 0.01rem;
}
.btn-primary-lg {
    height: 3.5rem;
    padding: 0 2.5rem;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 2rem;
}
.btn-dark{
    background: var(--darkGrey);
    color: var(--white);
}
.sc-al-cnt h1,
.sc-al-cnt h2,
.sc-al-cnt .sc-txt p{
    text-align: center;
}
h1, h2{
    color: var(--white);
    font-size: 3.75rem;
    font-weight: 500;
    line-height: 3.75rem;
    margin: 0;
}
h3, h4{
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.75rem;
    margin: 0;
    font-family: 'pp_neue_montrealbook';
    letter-spacing: 0.02rem;
}
h5{
    color: var(--darkGrey);
    font-family: 'pp_neue_montrealbook';
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin: 0;
}
.sc-grey-C h2,
.sc-grey-C .sc-txt p,
.sc-grey-C .sc-txt ul{
    color: var(--darkGrey);
}
.sc-txt{
    margin-top: 1.5rem;
}
.sc-txt p, .sc-txt ul{
    color: var(--white);
    font-size: 1.4rem;
    letter-spacing: 0.05rem;
    font-weight: 400;
    line-height: 1.7rem;
    margin: 0;
    font-family: 'pp_neue_montrealbook';
}
.sc-txt ul{
    list-style: square;
    margin: 1rem 1rem 1rem 2rem;
}
.fwidth{
    width: 100%;
}
.sc-pd{
    padding: 6.25rem 0;
}
.sc-wrapper{
    width: 66rem;
    margin: auto;
}
.ps-rel{
    position: relative;
}
.tst-pagination.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 1rem 0 0;
}
.tst-pagination.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet:last-child{
    margin-right: 0;
}
.tst-pagination.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
    background: var(--grey);
}
.tst-pagination.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet-active{
    background: linear-gradient(0deg, #2C2C2C 0%, #2C2C2C 100%), var(--grey);
}
.sc-grey{
    background: var(--lightGrey3);
}
.pg-wrap{
    padding-top: 12.5rem;
}
.exp-acc-dot {
    border-radius: 1.5rem;
    border: 1px solid #5A5E68;
    background: #51535A;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.12);
    width: 1.5rem;
    height: 1.5rem;
    flex-shrink: 0;
    margin-right: 0.5rem;
}
.exp-dot{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 0.25rem;
    background: linear-gradient(0deg, #999A9F 0%, #6B6C70 27.88%, #CDCFD6 82.69%, #EBECF2 100%);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
}
.exp-acc-key-points{
    margin-top: 2rem;
    gap: 0.75rem;
}
.exp-acc-key-point{
    border-radius: 1.375rem;
    background: #343741;
    padding: 0.75rem 20px 0.75rem 0.75rem;
    width: calc((100% - 2 * 0.75rem) / 3);
}
.exp-acc-key-point span{
    color: var(--white);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.25rem;
    letter-spacing: 0.01rem;
}
/* results styles start */
 .rs-video {
    position: relative;
    overflow: hidden;
 }
 .rs-video video {
    width: 100%;
    height: auto;
    border: none;
    max-height: 100vh;
    object-fit: cover;
}
.rs-details {
    padding: 6.25rem 0 12.5rem 0;
    background: var(--lightGrey3);
}
.dark-gray {
    color: var(--darkGrey);    
}
.col {
    width: calc((100% - 1.5rem)/2);
}
.rs-info {
    font-family: 'pp_neue_montrealbook';
    margin-top: 1.5rem;
    color: var(--darkGrey);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: 0.03rem;
    border-bottom: 0.063rem solid rgba(44, 44, 44, 0.20);
    padding-bottom: 3.75rem;
}
.rs-info p {
    margin: 0 0 1.25rem 0;
}
.rs-info p:last-child {
    margin-bottom: 0;
}
.rs-actions-row {
    margin: 2.5rem 0;
}
.md-text {
    color: var(--darkGrey);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.25rem;
    letter-spacing: 0.02rem;
}
.rs-action-links > span {
    margin-right: 1rem;
    line-height: 0.8rem;
}
.rs-action-links svg {
    width: 1.5rem;
    height: auto;
}
.rs-action-links a:not(:last-child) {
    margin-right: 0.5rem;
}
.rs-sharing {
    margin-right: 2rem;
}
.rs-info-cols {
    margin-top: 3.75rem;
}
.rs-info-col span {
    color: rgba(44, 44, 44, 0.40);
}
.rs-info-rows {
    margin-top: 1rem;
}
.rs-info-rows > * {
    display: block;
}
.rs-fw-video video, .rs-inner-cols video, .boxed-col video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.rs-ar-videos video {
    aspect-ratio: 16 / 9;
}
.rs-inner-cols {
    padding: 3.75rem;
}
.rs-inner-cols, .boxed-col {
    background: var(--lightGrey4);
}
.rounded-box {
    position: relative;
    overflow: hidden;
}
.row-img img {
    width: 100%;
}
.rounded-box, .boxed-col {
    border-radius: 2.5rem;
}
.boxed-col {
    padding: 3.75rem 2.5rem;
    position: relative;
    overflow: hidden;
}
.with-rds-shadow {
    border-radius: 1rem;
    box-shadow: 4.543px 4.543px 22.716px 0 rgba(68, 84, 98, 0.10);
}
.inner-rows-mg {
    margin-top: 1.5rem;
}
.fw-gray {
    padding: 6.25rem 0;
    background: var(--lightGrey3);
}
.rs-inner-sm-col {
    width: 24%;
}
.box-without-pd .boxed-col {
    padding: 0;
}
.boxed-cols .boxed-col img {
    width: 100%;
}
.boxed-col.no-pd {
    padding: 0;
}
.obj-ps-left {
    object-position: left;
}
.md-subheading {
    margin: 0;
    color: var(--darkGrey);
    text-align: center;
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 2rem;
}
.sm-text {
    color: var(--darkGrey);
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5rem;
}
.rs-next-ref {
    padding: 12.5rem 0;
}
.sm-wrap {
    width: 45rem;
    margin: 0 auto;
}
.tx-center {
    text-align: center;
}
.white-sc {
    background: var(--white);
}
.btn-primary-blue {
    background: var(--blue);
    color: var(--white);
}
.rs-btn-row {
    margin: 2.5rem 0;
}
.next-rs-link-text {
    margin: 0;
    color: rgba(44, 44, 44, 0.40);
}
.next-rs-link-text a {
    color: var(--blue);
    border-bottom: 0.063rem solid var(--blue);
}
.rs-similar {
    padding: 6.25rem 0;
}
.pj-list{
    margin-top: 2.5rem;
}
.pj-ft-image{
    overflow: hidden;
    border-radius: 1.25rem;
    margin-bottom: 8px;
}
.pj-ft-image img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 1.25rem;
    -webkit-transition: transform 0.5s ease;
    -moz-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
}
.pj-ft-image:hover img{
    transform: scale(1.05);
}
.pj-ft-info-row{
    padding: 1.5rem;
}
.pj-ft-info-lcol{
    width: 50%;
}
.pj-ft-info-rcol{
    width: 50%;
}
.pj-ft-info-txt{
    margin-top: 1.5rem;
}
.pj-ft-info-txt h4{
    color: var(--lightGrey);
}
.pj-ft-info-rcol p{
    font-family: 'pp_neue_montrealbook';
    color: var(--lightGrey);
    text-align: right;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin: 0;
    letter-spacing: 0.02rem;
}
.pj-featured-2col{
    margin: 4rem 0;
}
.pj-featured-2col .pj-featured-item{
    width: 49%;
}
.pj-featured-2col .pj-ft-info-txt{
    width: 100%;
}
.rs-similar .pj-ft-info-lcol-wrap h3 {
    color: var(--darkGrey);
    font-family: 'pp_neue_montrealmedium';
}
.pj-featured-cols {
    margin-top: 3.75rem;
    position: relative;
    overflow: hidden;
    padding: 0 6rem;
    flex-wrap: nowrap;
    min-width: max-content;
}
.pj-featured-cols .pj-featured-item {
    margin-right: 1.5rem;
    flex-shrink: 0;
    width: 36vw;
}
.pj-featured-cols .pj-featured-item:last-child {
    margin-right: 0;
}
.vct-icon svg * {
    -webkit-transition: fill .4s, stroke .4s;
    -moz-transition: fill .4s, stroke .4s;
    transition: fill .4s, stroke .4s;
}
.copy-link-btn svg {
    cursor: pointer;
}
.copy-status {
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    background: rgba(44, 44, 44, 0.2);
    color: var(--lightGrey3);
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1rem;
    margin-left: 1rem;
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.visible {
    opacity: 1;
}
.rs-sc-sharing-links a:hover svg rect, .x-icon:hover svg g path, .copy-link-btn svg:hover rect:nth-child(1) {
    fill: var(--blue);
}
.rs-similar .container {
    padding-right: 0;
}
.exp-txt{
    color: var(--darkBlue);
    font-size: 1.25rem;
    line-height: 1.5rem;
    letter-spacing: 0.025rem;
    text-align: center;
}
.exp-txt span.blue{
    color: var(--lighterBlue);
}
.exp-txt span.red{
    color: var(--lightRed);
}
.exp-txt span.green{
    color: var(--lightGreen);
}
.exp-txt h3{
    color: var(--darkGrey);
}
.exp-scd-txt-row{
    margin-top: 3.75rem;
}
.exp-scd-txt-row .sc-txt p{
    font-family: 'pp_neue_montrealregular';
}
.hz-scroll {
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    cursor: grab;
}
.hz-scroll::-webkit-scrollbar {
    display: none;
}
.rs-fw-image img {
    width: 100%;
}
.rs-banner img {
    width: 100%;
}
.cmp-fade img {
    transition: opacity 1s ease;
}
.img-after {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
.cmp-fade.show .img-before {
    opacity: 0;
}
.cmp-fade.show .img-after {
    opacity: 1;
}
.row-gap {
    row-gap: 1.5rem;
}
.bottom-pd {
    padding-bottom: 6.25rem;
}
.rs-page-view-wrap {
    width: 58.375rem;
    margin: 0 auto;
}
.rs-tablet-box {
    height: 39.875rem;
    border-radius: 3rem;
    background: #767676;
    padding: 0.188rem;
    box-sizing: border-box;
    width: 100%;
}
.rs-tablet-box-inner {
    width: 100%;
    height: 100%;
    border-radius: 2.875rem;
    background: #000000;
    padding: 1.625rem;
}
.rs-tablet-box-view {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
    cursor: pointer;
    border-radius: 1.75rem;
}
.rs-tablet-box-view img {
    width: 100%;
    opacity: 1;
    transition: opacity 0.4s ease;
    -webkit-transition: opacity 0.4s ease;
    -moz-transition: opacity 0.4s ease;
}
.rs-page-view-links {
    margin-top: 2.5rem;
    column-gap: 0.5rem;
}
.rs-page-view-links a {
    border-radius: 1.25rem;
    border: 1px solid var(--darkGrey);
    background: var(--white);
    padding: 0.625rem 1rem;
    color: #000000;
    font-size: 1rem;
    font-weight: 500;
    height: 2.5rem;
    line-height: 1.25rem;
    letter-spacing: 0.02rem;
    cursor: pointer;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
}
.rs-page-view-links a.active {
    cursor: text;
}
.rs-page-view-links a.active, .rs-page-view-links a:hover{
    background: var(--black);
    color: var(--white);
}
.bottom-lg-pd {
    padding-bottom: 12.5rem;
}
.ticker {
    column-gap: 1.5rem;
    width: max-content;
    animation: scroll 40s linear infinite;
}
.ticker-wrapper {
    overflow: hidden;
    width: 100%;
}
.ticker-item img {
    width: 100%;
}
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-33.333%);
    }
}
.mid-wrap {
    width: 71.5rem;
    margin: 0 auto;
}
.rs-testimonial-box {
    border-radius: 1.25rem;
    background: var(--lightGrey3);
    position: relative;
    overflow: hidden;
}
.rs-testimonial-box > div {
    width: 50%;
}
.rs-testimonial-content {
    padding: 2.5rem 2.3rem;
}
.rs-testimonial-content > div {
    flex-grow: 1;
}
.rs-testimonial-rating {
    width: 8.125rem;
}
.rs-testimonial-text {
    margin-top: 0.75rem;
}
.rs-testimonial-text p {
    margin: 0;
}
.rs-tst-fsize {
    color: var(--darkGrey);
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1rem;
}
.rs-testimonial-author-position {
    font-family: 'pp_neue_montrealbook';
    font-weight: 400;
}
.rs-testimonial-top-info {
    align-self: flex-start;
}
.rs-testimonial-logo {
    width: 6.25rem;
}
.rs-testimonial-info {
    padding-right: 1rem;
}
.tst-video-btn{
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.50);
    background: rgba(255, 255, 255, 0.50);
    backdrop-filter: blur(10px);
    height: 3.75rem;
    position: absolute;
    bottom: 2.375rem;
    left: 2.5rem;
    right: 2.5rem;
    margin: 0 auto;
    cursor: pointer;
}
.tst-video-btn span{
    color: var( --darkGrey);
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 3.75rem;
    padding-left: 1rem;
}
.rs-testimonial-box .tst-video-btn {
    width: 15rem;
    left: 0;
    right: 0;
}




/* results styles end */
.video-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    padding: 3rem 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}
.video-overlay.active {
    opacity: 1;
    pointer-events: all;
}
.video-popup {
    position: relative;
    max-height: 90vh;
    width: 100%;
    transform: scale(0.8);
    transition: transform 0.3s ease;
}
.video-overlay.active .video-popup {
    transform: scale(1);
}
.video-wrapper {
    position: relative;
    background: var(--black);
    border-radius: 2.5rem;
    overflow: hidden;
    aspect-ratio: 16 / 9;
    max-height: 90vh;
    width: 100%;
}
.video-wrapper iframe {
    border: none;
    width: 100%;
    height: 100%;
    object-fit: contain; 
}
.popup-close-btn {
    position: fixed;
    top: -1.8rem;
    right: 0.8rem;
    border-radius: 0;
    border: none;
    background: none;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    padding: 0;
}
.popup-close-btn svg {
    width: 1rem;
    height: auto;
}
.posts-grid-wrap{
    margin: 3.75rem 0;
    font-size: 0;
    opacity: 0;
    transition: opacity .25s ease;
}
.posts-grid-wrap.masonry-loaded {
    opacity: 1;
}
.post-card{
    display: inline-block;
    vertical-align: top;
    width: calc(25% - 1.5rem);
    margin-bottom: 1.5rem;
    border-radius: 20px;
    break-inside: avoid;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity .4s ease, transform .4s ease;
}
.post-image{
    overflow: hidden;
    border-radius: 1.25rem 1.25rem 0 0;
    max-height: 30rem;
}
.post-card:hover .post-image img{
    transform: scale(1.05);
}
.post-card.animate-in {
    opacity: 1;
    transform: translateY(0);
}
.post-card a{
    color: var(--darkGrey);
}
.post-card img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 1.25rem 1.25rem 0 0;
    -webkit-transition: transform 0.5s ease;
    -moz-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
}
.post-info{
    padding: 1.25rem;
    background: var(--white);
    border-radius: 0 0 1.25rem 1.25rem;
}
.post-info h6{
    color: var(--darkGrey);
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: 0.02rem;
    margin: 0;
}
.post-info p{
    color: rgba(44, 44, 44, 0.40);
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1rem;
    margin: 2.5rem 0 0 0;
    letter-spacing: 0.02rem;
}
.posts-navigation{
    margin-bottom: 3.75rem;
}
.posts-navigation a,
.posts-navigation span{
    width: 2.5rem;
    height: 2.5rem;
    color: var(--darkGrey);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.25rem;
    letter-spacing: 0.02rem;
    margin-right: 0.25rem;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    transition: all .3s linear;
    border-radius: 0.5rem;
}
.posts-navigation a.active, .posts-navigation a:hover{
    background: var(--white);
}
.posts-navigation a.arrow-next{
    margin-left: 1.25rem;
    margin-right: 0;
}
.posts-navigation a.arrow-prev{
    margin-right: 1.25rem;
}
.txt-anim {
    opacity: 0;
    transform: matrix(1, 0, 0, 1, 0, 50);
    transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
    -moz-transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
    -webkit-transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
}
.txt-anim.visible {
    opacity: 1;
    transform: matrix(1, 0, 0, 1, 0, 0);
}
.reveal-anim{
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease, transform 0.6s ease;
    -moz-transition: opacity 0.6s ease, transform 0.6s ease;
    -webkit-transition: opacity 0.6s ease, transform 0.6s ease;
    transition-delay: calc(var(--delay, 0) * 120ms);
    will-change: transform, opacity;
}
.reveal-anim.is-visible {
    opacity: 1;
    transform: translateY(0);
}
.hero-graphic {
    text-align: center;
}
.form-status-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    height: 100%;
    background: var(--lightGrey3); 
    z-index: 1;
    display:none;
}
body .revealed {
    display: block;
}
.form-status-area {
    height: 100%;
}
.form-status-heading {
    margin: 1.25rem 0;
    color: var(--darkGrey);
    font-family: 'pp_neue_montrealmedium';
    font-size: 3rem;
    font-weight: 500;
    line-height: 3.25rem;
}
.form-status-subheading {
    margin: 0;
    color: rgba(44, 44, 44, 0.60);
    font-size: 2rem;
    font-family: 'pp_neue_montrealmedium';
    font-weight: 500;
    line-height: 2.25rem;
}
.form-status-icon svg {
    width: 10rem;
    height: auto;
}
.try-again-btn {
    margin-top: 3.75rem;
}
.try-again-btn button {
    background: var(--blue);
    height: 4rem;
    padding: 0 1.75rem;
    border-radius: 50px;
    color: var(--white);
    font-size: 1.5rem;
    font-family: 'pp_neue_montrealmedium';
    font-weight: 500;
    letter-spacing: 0.01rem;
    border: none;
    cursor: pointer;
}
.form-status-type {
    display: none;
}





@media screen and (max-width:1600px){
    html{
        font-size: 12px;
    }
}
@media screen and (min-width:1601px){
    html{
        font-size: 16px;
    }
}
@media screen and (max-width:1200px){
    .post-card {
        width: calc(33% - 1.5rem);
    }
}
@media screen and (max-width:1100px){
    .container {
        margin: 0 4rem;
        padding: 0;
    }
    .pj-featured-cols {
        padding: 0 4rem;
    }
}
@media screen and (max-width:1000px){
    .sc-wrapper {
        width: 80%;
    }
    h1, h2 {
        font-size: 24px;
        line-height: 28px;
    }
    h3, h4 {
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.16px;
    }
    .pj-ft-info-row {
        padding: 8px 16px 0 16px;
    }
    .pj-ft-info-txt {
        margin-top: 8px;
    }
    .pj-ft-info-rcol p {
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 0.24px;
        margin-top: 7px;
    }
    .pj-featured-2col {
        margin: 24px 0;
    }
    .sc-pd {
        padding: 40px 0;
    }
    .sc-txt {
        margin-top: 12px;
    }
    .sc-txt p, .sc-txt ul {
        font-size: 14px;
        letter-spacing: 0.28px;
        line-height: 18px;
    }
    .btn-primary {
        height: 32px;
        padding: 0 12px;
        border-radius: 4px;
        font-size: 12px;
        line-height: 16px;
        font-weight: 500;
        letter-spacing: 0.24px;
    }
    .container {
        margin: 0 40px;
    }
    body .hp-results .sl-lcol, body .hp-expertees .sl-lcol {
        width: 338px;
    }
    .pj-ft-image img {
        border-radius: 12px;
    }
    .tst-video-btn {
        border-radius: 4px;
        height: 40px;
        bottom: 20px;
        left: 16px;
        right: 16px;
    }
    .pj-list {
        margin-top: 24px;
    }
    .sc-txt ul {
        margin: 16px 0 16px 25px;
    }
    .post-image {
        border-radius: 12px 12px 0 0;
    }
    .post-card {
        margin-bottom: 12px;
        border-radius: 12px;
    }
    .post-info {
        padding: 16px;
        border-radius: 0 0 12px 12px;
    }
    .post-info h6 {
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0;
    }
    .post-info p {
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 0;
        margin-top: 40px;
    }
    .post-card img {
        border-radius: 12px 12px 0 0;
    }
    .posts-grid-wrap {
        margin: 24px 0;
    }
    body .gts-form-headline h3 {
        margin-bottom: 3px;
        font-size: 14px;
        line-height: 16px;
    }
    body .gts-form-headline h5, body .gts-form-num span {
        font-size: 11px;
        line-height: 14px;
    }
    body .gts-form-row.fourcol .gts-form-col {
        width: calc((100% - 3 * 8px) / 4);
    }
    body .gts-form-col.active {
        border-radius: 8px;
    }
    body .gts-form-col {
        height: 110px;
        border-radius: 8px;
        padding: 10px 8px;
    }
    body .gts-form-main {
        margin-top: 14px;
        min-height: 10rem;
    }
    body .gts-form-wrap {
        margin-top: 24px;
    }
    body .gts-lstep-form-main h5, body .form-status-heading {
        font-size: 32px;
        line-height: 36px;
        margin: 24px 0;
    }
    body .gts-quote-icon img {
        width: 130px;
    }
    body .gts-lstep-form-main h6, body .form-status-subheading {
        font-size: 20px;
        line-height: 24px;
    }
    body .gts-lstep-form {
        width: 100%;
        margin-top: 40px;
    }
    body .gts-lstep-form .field-group {
        margin-bottom: 24px;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    body .field-group input, body .field-group textarea {
        border-radius: 8px;
        margin-top: 8px;
        padding: 10px;
        font-size: 14px;
        line-height: 24px;
    }
    body .field-group input {
        padding-right: 30px;
    }
    body .success-icon {
        right: 10px;
    }
    body .field-group label {
        font-size: 12px;
        line-height: 14px;
    }
    body .field-lbl span {
        font-size: 10px;
        line-height: 10px;
    }
    body .field-group-btm {
        margin-top: 0;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    body .field-group-ack {
        width: 100%;
    }
    body .field-group-ack label {
        font-size: 12px;
        line-height: 18px;
    }
    body .ct-apply-btn button {
        border-radius: 30px;
        height: 48px;
        padding: 0 25px;
        font-size: 16px;
        line-height: 20px;
    }
    body .ct-apply-btn {
        margin-top: 15px;
    }
    body .field-group textarea {
        min-height: 80px;
        max-height: 160px;
    }
    body .err-msg span {
        font-size: 10px;
        font-weight: 400;
        line-height: 12px;
        padding-top: 5px;
    }
    body .gts-lstep-form .field-group:first-child {
        margin-bottom: 24px;
    }
    .pj-ft-image {
        border-radius: 12px;
        margin-bottom: 4px;
    }
    .pg-wrap {
        padding-top: 145px;
    }
    body .projects-list {
        margin-top: 24px;
        column-gap: 12px;
        row-gap: 24px;
    }
    .sc-team .sc-txt p br {
        display:none;
    }
    .exp-item-top h5 br {
        display:none;
    }
    .exp-acc-key-point {
        border-radius: 16px;
        padding: 8px 12px 8px 8px;
    }
    .exp-acc-dot {
        border-radius: 50%;
        width: 10px;
        height: 10px;
        margin-right: 4px;
    }
    .exp-dot {
        width: 4px;
        height: 4px;
        border-radius: 50%;
    }
    .exp-acc-key-point span {
        font-size: 11px;
        line-height: 12px;
        letter-spacing: 0.11px;
    }
    .exp-acc-key-points {
        margin-top: 12px;
        gap: 8px;
    }
    .exp-acc-key-point {
        width: calc((100% - 2 * 8px) / 2);
    }
    .rs-details {
        padding: 40px 0 80px 0;
    }
    .rs-info {
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.28px;
        padding-bottom: 60px;
        border-bottom-width: 1px;
        margin-top: 0;
    }
    .rs-heading {
        font-size: 32px;
        line-height: 32px;
    }
    .rs-info p {
        margin-bottom: 15px;
    }
    .col {
        width: calc((100% - 12px) / 2);
    }
    .rs-actions-row {
        margin: 60px 0 0 0;
    }
    .rs-sharing {
        margin-right: 32px;
    }
    .rs-action-links > span {
        margin-right: 16px;
        line-height: 16px;
    }
    .md-text {
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.24px;
    }
    .rs-action-links a:not(:last-child) {
        margin-right: 8px;
    }
    .rs-action-links svg {
        width: 24px;
    }
    .rs-info-cols {
        margin-top: 60px;
    }
    .rs-info-rows {
        margin-top: 16px;
    }
    .rs-info-col {
        width: 20%;
    }
    .copy-status {
        padding: 5px;
        border-radius: 4px;
        font-size: 10px;
        line-height: 14px;
        margin-left: 10px;
    }
    .bottom-pd {
        padding-bottom: 80px;
    }
    .row-gap {
        row-gap: 12px;
    }
    .rs-page-view-links {
        margin-top: 30px;
        gap: 11px;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .rs-page-view-links a {
        border-radius: 15px;
        padding: 7px 11px;
        font-size: 12px;
        height: 29px;
        line-height: 15px;
        letter-spacing: 0.33px;
    }
    .bottom-lg-pd {
        padding-bottom: 80px;
    }
    .mid-wrap {
        width: 100%;
    }
    .rs-testimonial-box {
        border-radius: 12px;
    }
    .rs-testimonial-thumb img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .rs-testimonial-box .tst-video-btn {
        max-width: 80%;
        width: 240px;
    }
    .tst-video-btn span {
        font-size: 14px;
        line-height: 20px;
        padding-left: 10px;
    }
    .rs-testimonial-content {
        padding: 20px 40px;
    }
    .rs-tst-fsize {
        font-size: 14px;
        line-height: 16px;
    }
    .rs-testimonial-rating {
        width: 130px;
    }
    .rs-testimonial-text {
        margin-top: 10px;
    }
    .rs-testimonial-details {
        margin-top: 50px;
    }
    .rs-testimonial-logo {
        width: 100px;
        margin-top: 20px;
    }
    .rs-next-ref {
        padding: 120px 0;
    }
    .pj-featured-cols {
        margin-top: 0;
        padding: 0 40px;
    }
    .pj-featured-cols .pj-featured-item {
        margin-right: 12px;
        width: 54vw;
    }
    .video-wrapper {
        border-radius: 15px;
    }
    .popup-close-btn {
        top: -3rem;
    }
    .fw-gray {
        padding: 80px 0;
    }
    .rs-inner-cols {
        padding: 30px;
    }
    .with-rds-shadow {
        border-radius: 12px;
    }
    .inner-rows-mg {
        margin-top: 12px;
    }
    .boxed-col {
        padding: 25px;
    }
    .md-subheading {
        font-size: 18px;
        line-height: 24px;
    }
    .rs-similar {
        padding: 0;
    }

}
@media screen and (max-width:900px){
    .post-card {
        width: calc(50% - 1.5rem) !important;
    }
    .pj-ft-info-row {
        padding: 16px 16px 0 16px;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .pj-ft-info-lcol {
        width: 100%;
    }
    .pj-ft-info-txt {
        margin-top: 12px;
    }
    .pj-ft-info-rcol {
        width: 100%;
    }
    .pj-ft-info-rcol p {
        margin-top: 12px;
        text-align: left;
    }
    body .ft-lcol {
        width: 25rem; 
    }
    body .ft-rcol {
        gap: 4.25rem;
    }

}
@media screen and (max-width:800px){
    body .ft-rcol {
        gap: 2.25rem;
    }
    .pg-wrap {
        padding-top: 120px;
    }
    .exp-cta-desc-row p br {
        display:none;
    }
    .sl-list .sc-txt br {
        display: none;
    }
    .rs-page-view-wrap {
        width: 100%;
    }
    .rs-tablet-box {
        border-radius: 33px;
        padding: 2px;
    }
    .rs-tablet-box-inner {
        border-radius: 33px;
        padding: 18px;
    }
    .rs-tablet-box-view {
        border-radius: 20px;
    }
    .rs-inner-sm-col {
        width: 32%;
    }


}
@media screen and (max-width:767px){
    .rs-details .col {
        width: 100%;
        padding: 0 16px;
    }
    .rs-info {
        margin-top: 24px;
    }
    .rs-tablet-box {
        height: 34rem;
    }
    .rs-testimonial-content {
        padding: 15px 15px;
    }
}
@media screen and (max-width:700px){
    body .gts-form-main-wrapper {
        width: 100%;
    }
    body .ft-wrap .ft-row:first-child {
        padding: 180px 0 0 0;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    body .ft-row:first-child .ft-rcol, body .ft-row-f .ft-rcol {
        width: 100%;
        margin-top: 70px; 
    }
    body footer {
        background: url(/footer-mobile-bg.png) var(--darkBlue) no-repeat;
        background-size: contain;
    }
    body .ft-row-f .ft-rcol {
        column-gap: 60px;
    }
    body .dna-fm .sc-txt p br {
        display:none;
    }
    body .exp-scd-txt-row p br {
        display: none;
    }
    .exp-approach .sc-headline p br, .exp-txt br {
        display: none;
    }
    .ct-wrap {
        width: 100%;
        padding: 0 16px;
    }
    .post-card {
        width: 100% !important;
        margin-bottom: 24px;
    }
    .sl-ch .sc-txt p br {
        display: none;
    }
    .sc-adv-txt br {
        display: none;
    }
    .rs-banner {
        height: 60vw;
    }
    .rs-banner-slider, .rs-banner-slider .swiper {
        height: 100%;
    }
    .rs-banner img {
        height: 100%;
        object-fit: cover;
    }
    .sm-wrap {
        width: 100%;
    }
    .rs-video, .rs-video video {
        height: 100%;
    }
    
}
@media screen and (max-width:600px){
    .rs-info-col {
        width: calc((100% - 6px) / 2);
        margin-bottom: 20px;
    }
    .rs-info-col:nth-child(3), .rs-info-col:last-child {
        margin-bottom: 0;
    }
    .rs-actions-row {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .copy-link-btn {
        position: relative;
    }
    .copy-status {
        margin-left: 0;
        position: absolute;
        top: -35px;
        right: 0;
    }
    .rs-info-cols {
        border-top: 1px solid rgba(44, 44, 44, 0.20);
        padding-top: 20px;
    }
    .rs-info {
        border: none;
        padding-bottom: 0;
    }
    .col {
        width: 100%;
    }
    .rs-banner {
        height: 70vw;
    }
    .rs-tablet-box {
        height: 29rem;
    }
    .rs-testimonial-box > div {
        width: 100%;
    }
    .rs-testimonial-thumb img {
        border-radius: 12px;
    }
    .rs-testimonial-box {
        background: none;
    }
    .rs-testimonial-content {
        padding: 16px;
    }
    .rs-testimonial-text {
        line-height: 20px;
    }
    .rs-testimonial-details {
        margin-top: 20px;
    }
    .rs-testimonial-details {
        font-size: 12px;
    }
    .rs-testimonial-logo {
        margin-top: 0;
    }
    .rs-testimonial-info {
        padding-right: 0;
        width: calc(100% - 120px);
    }
    .boxed-cols, .cols-wrap {
        row-gap: 12px;
    }
    
}
@media screen and (max-width: 550px) {
    .rs-tablet-box {
        height: 26rem;
    }
    .ct-wrap p br {
        display: none;
    }
}
@media screen and (min-width:479px) and (max-width: 600px) {
    .pj-featured-2col {
        margin-top: 44px;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .pj-featured-2col .pj-featured-item, body .pj-featured-item {
        width: 100%;
        margin: 0;
    }
    .pj-featured-2col .pj-featured-item:last-child {
        margin-top: 44px;
    }
    body .projects-list {
        row-gap: 44px;
    }
}
@media screen and (max-width:479px){
    .rs-banner {
        height: 85vw;
    }
    .sc-pd {
        padding: 60px 0;
    }
    .container {
        margin: 0 16px;
    }
    .sc-wrapper{
        width: 100%;
    }
    .hero-top {
        width: 100%;
    }
    .pj-ft-info-lcol, .pj-ft-info-rcol,
    .pj-featured-2col .pj-featured-item{
        width: 100%;
    }
    .pj-ft-info-row, .pj-featured-2col{
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .pj-ft-info-rcol p{
        text-align: left;
    }
    .post-card{
        position: relative !important;
        width: 100% !important;
        left: 0 !important;
        top: 0 !important;
    }
    h1, h2 {
        font-size: 32px;
        line-height: 32px;
        letter-spacing: 0.32px;
    }
    .sc-txt {
        margin-top: 24px;
    }
    .sc-txt p, .sc-txt ul {
        font-size: 16px;
        letter-spacing: 0.32px;
        line-height: 20px;
    }
    .btn-primary {
        height: 48px;
        padding: 0 20px;
        border-radius: 6px;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.24px;
    }
    .sl-heading br {
        display: none;
    }
    body .hp-results .sl-lcol, body .hp-expertees .sl-lcol {
        width: 100%;
        padding: 0 16px;
    }
    .pj-list {
        margin-top: 40px;
    }
    .pj-featured-2col {
        margin: 44px 0 60px 0;
    }
    .pj-featured-2col > div:last-child {
        margin-top: 44px;
    }
    h3, h4 {
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.2px;
    }
    .pj-ft-info-rcol p {
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.28px;
    }
    .tst-video-btn span {
        font-size: 12px;
        line-height: 12px;
        padding-left: 4px;
    }
    .posts-grid-wrap {
        margin: 40px 0;
    }
    body .gts-form-row.fourcol .gts-form-col, body .gts-form-row.threecol .gts-form-col {
        width: 100% !important;
    }
    body .gts-form-main {
        margin-top: 14px;
        min-height: auto;
    }
    body .gts-form-col {
        height: auto;
        border-radius: 12px;
        padding: 20px;
        min-height: 120px;
    }
    body .gts-form-col.active {
        border-radius: 12px;
    }
    body .gts-form-headline h3 {
        margin-bottom: 8px;
        font-size: 20px;
        line-height: 24px;
    }
    body .gts-form-headline h5, body .gts-form-num span {
        font-size: 15px;
        line-height: 16px;
        letter-spacing: 0.28px;
    }
    body .gts-form-step {
        gap: 8px;
        position: static;
    }
    body .gts-form-num {
        margin-top: 10px;
    }
    body .gs-prev-step span {
        margin-left: 4px;
        letter-spacing: 0;
    }
    body .gs-prev-step {
        color: var(--darkGrey2);
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0;
    }
    body .fm-progress-txt p {
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 0;
    }
    body .fm-progress-bar {
        height: 4px;
        border-radius: 12px;
        margin-top: 8px;
    }
    body .fm-progress-bar-spin {
        height: 4px;
        border-radius: 12px;
    }
    body .gts-form-wrap {
        margin-top: 20px;
    }
    body .field-group-h {
        width: 100%;
    }
    body .field-group-h:last-child {
        margin-top: 24px;
    }
    body .gts-lstep-form-main h5, body .gts-lstep-form-main h6, body .get-started-form .headline,
    body .hp-solutions h1, body .hp-solutions h2 {
        padding: 0 16px;
    }
    body .ft-subscribe h6 {
        font-size: 28px;
        line-height: 32px;
        letter-spacing: 0;
    }
    body .ft-subscribe {
        margin: 40px 0 48px 0;
    }
    body .ft-lcol {
        width: 100%;
    }
    body .sb-form {
        margin-top: 24px;
    }
    body .sb-row {
        padding: 8px 8px 8px 20px;
        border-radius: 32px;
        height: 56px;
    }
    body .sb-col input {
        font-size: 16px;
        line-height: 20px;
        padding-right: 15px;
    }
    body .sb-btn-col button {
        border-radius: 26px;
        height: 40px;
        padding: 0 16px;
        font-size: 16px;
        line-height: 20px;
    }
    body .ft-sb-msg {
        bottom: -34px;
    }
    body .ft-sb-msg p.sb-err, body .sb-scc span {
        font-size: 12px;
        line-height: 14px;
    }
    body .sb-scc span {
        margin-left: 5px;
    }
    body .ft-row:first-child .ft-rcol {
        margin-top: 70px;
        gap: 0;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    body .ft-menu-col h6, body .ft-menu-col ul li a, body .ft-pv-menu ul li a, body .ft-rcol p {
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.32px;
    }
    body .ft-rcol p {
        margin-top: 20px;
    }
    body .ft-menu-col ul li a {
        padding-bottom: 4px;
    }
    body .ft-menu-col ul li span {
        font-size: 12px;
        line-height: 16px;
        margin-top: 4px;
        letter-spacing: 0;
    }
    body .ft-menu-col ul li {
        margin-top: 16px;
    }
    body .ft-menu-col:last-child {
        margin-top: 20px;
    }
    body .ft-row:last-child {
        padding: 96px 0 48px 0;
    }
    body .ft-pv-menu ul {
        gap: 0;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        row-gap: 20px;
    }
    body .ft-pv-menu ul li {
        width: 100%;
    }
    body .projects-list {
        column-gap: 0;
        row-gap: 44px;
    }
    body .pj-featured-item {
        width: 100%;
        margin: 0;
    }
    .exp-issues-row .exp-lcol br, .exp-br-cta .sc-headline br {
        display: none;
    }
    .post-info h6 {
        font-size: 20px;
        line-height: 24px;
    }
    .rs-tablet-box {
        height: 20rem;
        border-radius: 16px;
    }
    .rs-tablet-box-inner {
        border-radius: 16px;
        padding: 9px;
    }
    .rs-tablet-box-view {
        border-radius: 10px;
    }
    .rs-next-ref {
        padding: 90px 16px;
    }
    .pj-featured-cols {
        padding: 0 16px;
    }
    .pj-featured-cols .pj-featured-item {
        width: 75vw;
    }
    .rs-similar .pj-ft-info-lcol-wrap h3, .pj-ft-info-txt h4 {
        font-size: 16px;
        line-height: 20px;
    }
    .rs-inner-sm-col {
        width: 48%;
    }
    .form-status-type {
        padding: 0 16px;
    }

}
@media screen and (max-width: 340px) {
    body .ft-row:first-child .ft-rcol {
        column-gap: 30px;
        padding-right: 25px;
    }
    .rs-action-links > span {
        margin-right: 8px;
    }
}
