---
import Layout from '../layouts/Layout.astro';
import ErrorMain from '../components/ErrorMain.astro';

---

<Layout theme="light" isErr="yes">
    <div class="pg-wrap err-pg">
        <ErrorMain />
    </div>
</Layout>