---
import Layout from '../layouts/Layout.astro';
import ExpertiseBranding from '../components/ExpertiseBranding.astro';
---

<Layout>
    <div class="pg-wrap">
        <ExpertiseBranding />
    </div>
</Layout>