---
import Layout from '../layouts/Layout.astro';
import ContactMain from '../components/ContactMain.astro';

---

<Layout theme="light" isContact="yes">
    <div class="pg-wrap ct-pg">
        <ContactMain />
    </div>
</Layout>