---
import Layout from '../layouts/Layout.astro';
import ExpertiseCreative from '../components/ExpertiseCreative.astro';
---

<Layout>
    <div class="pg-wrap">
        <ExpertiseCreative />
    </div>
</Layout>