---
import Layout from '../layouts/Layout.astro';
import ExpertiseMarketing from '../components/ExpertiseMarketing.astro';
---

<Layout>
    <div class="pg-wrap">
        <ExpertiseMarketing />
    </div>
</Layout>