---
import Layout from '../layouts/Layout.astro';
import ExpertiseSoftware from '../components/ExpertiseSoftware.astro';
---

<Layout>
    <div class="pg-wrap">
        <ExpertiseSoftware />
    </div>
</Layout>