---
import Layout from '../layouts/Layout.astro';
import SolutionsMain from '../components/SolutionsMain.astro';

---

<Layout>
    <div class="pg-wrap">
        <SolutionsMain />
    </div>
</Layout>