<section class="exp-br-faq sc-al-cnt sc-pd sc-grey sc-grey-C ps-rel">
    <div class="container">
        <div class="sc-wrapper ps-rel">
            <div class="sc-headline ps-rel">
                <h2>Branding FAQs</h2>
            </div>
        </div>
        <div class="faq-wrap ps-rel">
            <div class="faq-list fx fx-wrap">
                <div class="exp-acc-item exp-faq">
                    <div class="exp-acc-top fx fx-ac fx-jb fwidth">
                        <div class="exp-acc-top-lcol">
                            <h5>What is included in a full branding project?</h5>
                        </div>
                        <div class="exp-acc-top-rcol">
                            <div class="exp-acc-toggle fx fx-ac fx-jc">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                    <path d="M13.4975 6.50045L8.00391 10.6164L2.5103 6.50045" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="exp-acc-main fwidth">
                        <div class="exp-acc-wrap fx fx-wrap">
                            <div class="sc-txt sc-br-faq">
                                <p>A complete branding project covers strategy, messaging, visual identity, guidelines, and digital/print applications. For larger organisations, it can also include brand architecture and international adaptation.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="exp-acc-item exp-faq">
                    <div class="exp-acc-top fx fx-ac fx-jb fwidth">
                        <div class="exp-acc-top-lcol">
                            <h5>How long does branding take?</h5>
                        </div>
                        <div class="exp-acc-top-rcol">
                            <div class="exp-acc-toggle fx fx-ac fx-jc">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                    <path d="M13.4975 6.50045L8.00391 10.6164L2.5103 6.50045" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="exp-acc-main fwidth">
                        <div class="exp-acc-wrap fx fx-wrap">
                            <div class="sc-txt sc-br-faq">
                                <p>Most branding projects take 4 to 8 weeks depending on complexity.</p>
                                <p>Startups are often faster.</p>
                                <p>Enterprises or multi-brand structures require more time for research and architecture.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="exp-acc-item exp-faq">
                    <div class="exp-acc-top fx fx-ac fx-jb fwidth">
                        <div class="exp-acc-top-lcol">
                            <h5>Can you refresh an existing brand instead of creating a new one?</h5>
                        </div>
                        <div class="exp-acc-top-rcol">
                            <div class="exp-acc-toggle fx fx-ac fx-jc">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                    <path d="M13.4975 6.50045L8.00391 10.6164L2.5103 6.50045" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="exp-acc-main fwidth">
                        <div class="exp-acc-wrap fx fx-wrap">
                            <div class="sc-txt sc-br-faq">
                                <p>Yes. Many clients come to us with strong foundations but outdated visuals or unclear messaging.</p>
                                <p>A brand refresh can provide major results without losing existing equity.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="exp-acc-item exp-faq">
                    <div class="exp-acc-top fx fx-ac fx-jb fwidth">
                        <div class="exp-acc-top-lcol">
                            <h5>Do you provide only the logo?</h5>
                        </div>
                        <div class="exp-acc-top-rcol">
                            <div class="exp-acc-toggle fx fx-ac fx-jc">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                    <path d="M13.4975 6.50045L8.00391 10.6164L2.5103 6.50045" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="exp-acc-main fwidth">
                        <div class="exp-acc-wrap fx fx-wrap">
                            <div class="sc-txt sc-br-faq">
                                <p>We do not sell “logo-only” projects.</p>
                                <p> A premium brand requires a full system — strategy, identity, behaviour, and application. Logos are only one piece of a complete brand.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="exp-acc-item exp-faq">
                    <div class="exp-acc-top fx fx-ac fx-jb fwidth">
                        <div class="exp-acc-top-lcol">
                            <h5>How do I know if I need branding or a full Solution?</h5>
                        </div>
                        <div class="exp-acc-top-rcol">
                            <div class="exp-acc-toggle fx fx-ac fx-jc">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                    <path d="M13.4975 6.50045L8.00391 10.6164L2.5103 6.50045" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="exp-acc-main fwidth">
                        <div class="exp-acc-wrap fx fx-wrap">
                            <div class="sc-txt sc-br-faq">
                                <p>If your challenge is purely identity-related, branding might be enough.</p>
                                <p>If you also need a website, strategy, or digital presence, then a Solution (Startup or Growth) will deliver more value and clarity.</p>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="exp-acc-item exp-faq">
                    <div class="exp-acc-top fx fx-ac fx-jb fwidth">
                        <div class="exp-acc-top-lcol">
                            <h5>Do you offer naming services?</h5>
                        </div>
                        <div class="exp-acc-top-rcol">
                            <div class="exp-acc-toggle fx fx-ac fx-jc">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                    <path d="M13.4975 6.50045L8.00391 10.6164L2.5103 6.50045" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="exp-acc-main fwidth">
                        <div class="exp-acc-wrap fx fx-wrap">
                            <div class="sc-txt sc-br-faq">
                                <p>Yes — naming is part of brand architecture and storytelling, included in select branding tiers or the Enterprise Solution.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .exp-br-faq:after {
        content: "";
        position: absolute;
        top: -23rem;
        left: 0;
        width: 100%;
        height: 36rem;
        background: url(/br-grd-sc.webp) no-repeat;
        background-size: 100% 100%;
        z-index: 0;
    }
    .exp-br-faq .sc-wrapper{
        z-index: 1;
    }
    .faq-wrap{
        width: 66.5rem;
        margin: 2.5rem auto 0 auto;
        z-index: 1;
    }
    .faq-list{
        gap: 0.75rem;
    }
    .exp-acc-item{
        background: #252831;
        border-radius: 1.25rem;
        width: 100%;
    }
    .exp-acc-item.opened .exp-acc-top{
        border-radius: 1.25rem 1.25rem 0 0;
    }
    .exp-acc-item .exp-acc-toggle svg {
        transition: transform 0.3s ease;
    }
    .exp-acc-item.opened .exp-acc-toggle svg {
        transform: rotate(180deg);
    }
    .exp-acc-top{
        padding: 2rem;
        border-radius: 1.25rem;
        background: #343741;
        gap: 1.5rem;
        cursor: pointer;
    }
    .exp-acc-main{
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease;
    }
    .exp-acc-top-lcol{
        flex-grow: 1;
    }
    .exp-acc-top-lcol h5{
        color: var(--white);
        font-size: 1.75rem;
        font-weight: 500;
        line-height: 2rem;
        letter-spacing: 0.018rem;
        width: 100%;
        margin: 0;
    }
    .exp-acc-toggle{
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 0.75rem;
        background: #444854;
    }
    .sc-br-faq{
        padding: 1.25rem 2rem 3.75rem 2rem;
    }
    .sc-br-faq p{
        color: #F5F5F7;
        text-align: left;
    }
</style>