---
import { Image } from 'astro:assets';
import brandingHero from '../../public/branding-graphic.png';

---

<section class="exp-hero sc-al-cnt">
    <div class="container">
        <div class="exp-sc-wrap fx fx-wrap">
            <div class="exp-graphic">
                <Image src={brandingHero} alt=" " />
            </div>
            <div class="exp-intro-text">
                <h1>Branding <br/> & Identity Design</h1>
                <div class="sc-txt">
                    <p>Your brand is more than visuals — it's the story people believe about your business. We build brand systems that communicate authority, inspire trust, and position you for long-term success.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .exp-sc-wrap{
        width: 45rem;
        margin: auto;
    }
    .exp-graphic{
        margin-bottom: -9rem;
    }
</style>