<section class="exp-br-cta sc-al-cnt sc-pd sc-grey sc-grey-C ps-rel">
    <div class="container">
        <div class="sc-wrapper ps-rel">
            <div class="sc-headline ps-rel">
                <h2>Build a Brand That <br/> Creates Confidence</h2>
                <div class="sc-txt">
                    <p>Whether you՛re launching something new or evolving an established identity, we'll help you build a brand engineered for clarity, trust, and long-term performance.</p>
                </div>
            </div>
            <div class="btn-row btn-exp-row fx fx-jc"> 
                <a href="#" class="btn-primary btn-dark fx fx-ac fx-jc">
                    <span>Explore Solutions</span>
                </a>
                <a href="#" class="btn-primary btn-dark fx fx-ac fx-jc">
                    <span>Connect With Us</span>
                </a>
            </div>
        </div>
    </div>
</section>

<style>
    .btn-exp-row{
        gap: 1.5rem;
        margin-top: 3.125rem;
    }
</style>