<section class="exp-br-prc sc-al-cnt sc-pd ps-rel">
    <div class="container">
        <div class="sc-wrapper">
            <div class="sc-headline ps-rel">
                <h2>Deliverables</h2>
                <div class="sc-txt">
                    <p>Depending on your Solution tier, branding deliverables include:</p>
                </div>
            </div>
        </div>
        <div class="exp-dv-wrap">
            <div class="exp-dv-container">
                <div class="exp-dv-list fx fx-wrap fx-jc">
                    <div class="exp-dv-item fx fx-wrap">
                        <div class="exp-dv-item-wrap fx fx-ac">
                            <div class="exp-dv-icon">
                                <img src="/file-icon.svg" alt="file icon" />
                            </div>
                            <h3>Brand strategy document</h3>
                        </div>
                    </div>
                    <div class="exp-dv-item fx fx-wrap">
                        <div class="exp-dv-item-wrap fx fx-ac">
                            <div class="exp-dv-icon">
                                <img src="/file-icon.svg" alt="file icon" />
                            </div>
                            <h3>Brand guidelines</h3>
                        </div>
                    </div>
                    <div class="exp-dv-item fx fx-wrap">
                        <div class="exp-dv-item-wrap fx fx-ac">
                            <div class="exp-dv-icon">
                                <img src="/file-icon.svg" alt="file icon" />
                            </div>
                            <h3>Messaging & tone of voice</h3>
                        </div>
                    </div>
                    <div class="exp-dv-item fx fx-wrap">
                        <div class="exp-dv-item-wrap fx fx-ac">
                            <div class="exp-dv-icon">
                                <img src="/file-icon.svg" alt="file icon" />
                            </div>
                            <h3>Social & marketing assets</h3>
                        </div>
                    </div>
                    <div class="exp-dv-item fx fx-wrap">
                        <div class="exp-dv-item-wrap fx fx-ac">
                            <div class="exp-dv-icon">
                                <img src="/file-icon.svg" alt="file icon" />
                            </div>
                            <h3>Logo system</h3>
                        </div>
                    </div>
                    <div class="exp-dv-item fx fx-wrap">
                        <div class="exp-dv-item-wrap fx fx-ac">
                            <div class="exp-dv-icon">
                                <img src="/file-icon.svg" alt="file icon" />
                            </div>
                            <h3>Digital brand application</h3>
                        </div>
                    </div>
                    <div class="exp-dv-item fx fx-wrap">
                        <div class="exp-dv-item-wrap fx fx-ac">
                            <div class="exp-dv-icon">
                                <img src="/file-icon.svg" alt="file icon" />
                            </div>
                            <h3>Colour & typography</h3>
                        </div>
                    </div>
                    <div class="exp-dv-item fx fx-wrap">
                        <div class="exp-dv-item-wrap fx fx-ac">
                            <div class="exp-dv-icon">
                                <img src="/file-icon.svg" alt="file icon" />
                            </div>
                            <h3>Brand architecture documentation</h3>
                        </div>
                    </div>
                    <div class="exp-dv-item fx fx-wrap">
                        <div class="exp-dv-item-wrap fx fx-ac">
                            <div class="exp-dv-icon">
                                <img src="/file-icon.svg" alt="file icon" />
                            </div>
                            <h3>Visual identity toolkit</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .exp-dv-container{
        width: 66.5rem;
        margin: auto;
    }
    .exp-dv-list{
        gap: 1.5rem;
        margin-top: 2.5rem;
    }
    .exp-dv-item{
        border-radius: 1.25rem;
        background: #252831;
        padding: 0 2rem;
        height: 6.625rem;
        width: calc((100% - 1.5rem) / 2);
    }
    .exp-dv-icon{
        margin-right: 1.5rem;
    }
    .exp-dv-icon img{
        width: auto;
        height: 5.125rem;
    }
</style>