<section class="pv-pg sc-pd ps-rel">
    <div class="container">
        <div class="hero-intro-text">
            <h1 class="txt-anim"><strong>IPOINT INT</strong> <br/> Cookie Policy.</h1>
        </div>
        <div class="pg-content-wrap">
            <div class="page-content">
                <h2>1. Inroduction</h2>
                <p>This Policy (“The Cookie Policy”) shall be read in combination with our <a href="/privacy-policy">Privacy Policy</a> and, together with the <a href="/terms-and-conditions">Terms and Conditions of Use</a>, govern in full your relationship with Ipoint International LTD in relation to <a href="https://www.ipoint.com.mt">www.ipoint.com.mt</a> (“the Website”).</p>
                <p>We use cookies as set out below to give you the best possible experience on the Website.</p>
                <p>By browsing the Website, you agree to be bound by the terms of this Cookie Policy.</p>
                <p>An information pop-up window is shown when entering the Website with regards to cookies, stating:</p>
                <p>“We use cookies to give you the best possible experience on our website. By continuing to browse this site, you give consent for cookies to be used. For more details, including how you can amend your preferences, please read our Cookie Policy”.</p>
                <p>Your consent is therefore given by the affirmative act of entering the Website.</p>
                <h2>2. Definion of cookie</h2>
                <p>Cookies are small text files that are downloaded to your computer, smartphone or other device for accessing the internet, whenever you visit the Website. Cookies are useful because if you visit the Website on a second time, your device will be recognized.</p>
                <h2>3. Purpose for using cookies</h2>
                <p>We use cookies to:</p>
                <ul>
                    <li>Determine and remember your preferences, e.g. arrange the content and layout of our website and recognize those devices that have been to the Website before;</li>
                    <li>Let you navigate between the webpages part of the Website efficiently and rapidly;</li>
                    <li>Verify the Website visitor’s identity and carry out other essential security checks.</li>
                </ul>
                <h2>4. THIRD-PARTY COOKIES (GOOGLE ANALYTICS)</h2>
                <p>The Website may use Google Analytics, which is a web analytics service provided by Google.</p>
                <p>For more information, including details of how to block these cookies specifically, please visit this page:&nbsp;<a href="https://support.google.com/analytics/answer/181881?hl=en" target="_blank" rel="noopener">https://support.google.com/analytics/answer/181881?hl=en</a></p>
                <h2>5. Disabling Cookies</h2>
                <p>5.1. You are not obliged to accept cookies and may modify your browser so that it will not accept them. The browser you use to surf the web not only allows you to see the cookies that you have got but also allows you to control their use.</p>
                <p>5.2. Information on how to disable cookies can be obtained by referring to either your Operating Systems Manual or your Browser Guide, or by contacting your Internet Service Provider.</p>
                <p>5.3. Alternatively, you can delete the cookies manually from your browser settings.</p>
                <p>5.4. In case you disable cookies, you may not be able to take full advantage of the Website, and some functions may not be available, totally or partially.</p>
                <p>5.5. For more information on how to disable cookies in your browser, please visit <a href="http://www.allaboutcookies.org/" target="_blank" rel="noopener">www.allaboutcookies.org</a>.</p>
                <h2>6. Amendments</h2>
                <p>This Policy may be subject to frequent changes. Please visit this page frequently to familiarize with the amendments.</p>
            </div>
        </div>
    </div>
</section>