---
const { heading, description, items } = Astro.props;

---

<section class="exp-issues sc-pd-dbl ps-rel">
    <div class="container">
        <div class="exp-issues-row fx fx-jb ps-rel">
            <div class="exp-lcol">
                <h2>{heading}</h2>
                <div class="sc-txt">
                    <p set:html={description}></p>
                </div>
            </div>
            <div class="exp-rcol fx fx-wrap">
                {items.map((item: { title: string; text: string; }) => (
                    <div class="exp-iss-col fx fx-ae fx-wrap">
                        <div class="exp-iss-col-top fx">
                            <div class="exp-iss-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="23" viewBox="0 0 24 23" fill="none">
                                    <path d="M10.2679 2C11.0377 0.666667 12.9623 0.666667 13.7321 2L22.3923 17C23.1621 18.3333 22.1999 20 20.6603 20H3.33975C1.80015 20 0.837895 18.3333 1.6077 17L10.2679 2Z" stroke="#FF6725" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M12 15C12.5523 15 13 15.4477 13 16C13 16.5523 12.5523 17 12 17C11.4477 17 11 16.5523 11 16C11 15.4477 11.4477 15 12 15ZM12 7C12.5523 7 13 7.44772 13 8V12C13 12.5523 12.5523 13 12 13C11.4477 13 11 12.5523 11 12V8C11 7.44772 11.4477 7 12 7Z" fill="#FF6725"/>
                                </svg>
                            </div>
                            <h3>{item.title}</h3>
                        </div>
                        <div class="exp-iss-col-btm">
                            <div class="exp-txt">
                                <p>{item.text}</p>
                            </div>
                        </div>
                    </div>
                ))}
            </div>
        </div>
    </div>
</section>

<style>
    .sc-pd-dbl{
        padding: 13rem 0 6.25rem 0;
    }
    .exp-issues:after {
        content: "";
        position: absolute;
        bottom: -18rem;
        left: 0;
        width: 100%;
        height: 31.25rem;
        background: url(/gradient-shadow.png) no-repeat;
        background-size: 100% 100%;
        z-index: 0;
    }
    .exp-issues-row{
        z-index: 1;
    }
    .exp-lcol{
        width: 40%;
    }
    .exp-rcol{
        width: 56%;
        gap: 1.5rem;
    }
    .exp-iss-col{
        border-radius: 1.25rem;
        background: #252831;
        padding: 2rem;
        width: calc((100% - 1.5rem) / 2);
        height: 10.5rem;
    }
    .exp-iss-icon{
        margin-right: 0.75rem;
    }
    .exp-iss-icon svg{
        width: 1.5rem;
        height: 1.5rem;
    }
    .exp-iss-col-btm .exp-txt{
        margin-left: 2.25rem;
    }
    .exp-txt p{
        color: var(--white);
        font-family: 'pp_neue_montrealbook';
        font-size: 1em;
        line-height: 1.125rem;
        letter-spacing: 0.01rem;
        margin: 0;
    }
    .exp-iss-col-top {
        align-self: flex-start;
    }
    .exp-iss-col-top h3{
        min-height: 3rem;
        margin-right: 1rem;
    }
</style>