---
import { Image } from 'astro:assets';
const { img, title, text } = Astro.props;

---

<section class="exp-hero sc-al-cnt">
    <div class="container">
        <div class="exp-sc-wrap fx fx-wrap">
            <div class="exp-graphic">
                <Image src={img} alt={title} />
            </div>
            <div class="exp-intro-text">
                <h1 set:html={title}></h1>
                <div class="sc-txt">
                    <p>{text}</p>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .exp-sc-wrap{
        width: 45rem;
        margin: auto;
    }
    .exp-graphic{
        margin:0 auto -9rem auto;
    }
</style>