<section class="exp-intro sc-pd ps-rel">
    <div class="container">
        <div class="exp-row fwidth">
            <div class="exp-intro-lcol">
                <h2>Your business deserves more <br/> than a service provider. <br/> It deserves a partner engineered <br/> for excellence.</h2>
            </div>
        </div>
        <div class="exp-row fwidth fx fx-je ps-rel">
            <div class="exp-intro-rcol">
                <h3>Every project we deliver is built on specialised expertise across branding,<br/> UX/UI, development, strategy, and creative production. These aren't <br/> isolated skills — they form a unified system designed to help your business <br/> grow with intention, precision, and long-term impact.</h3>
            </div>
        </div>
    </div>
</section>

<style>
    .exp-intro-lcol, .exp-intro-rcol{
        width: 48%;
    }
    .exp-row{
        z-index: 1;
    }
    .exp-intro-lcol h2{
        font-size: 2.5rem;
        font-weight: 500;
        line-height: 2.5rem;
        letter-spacing: 0.025rem;
    }
    .exp-intro-rcol h3{
        font-size: 1.25rem;
    }
    .exp-intro:after {
        content: "";
        position: absolute;
        bottom: -15rem;
        left: 0;
        width: 100%;
        height: 31.25rem;
        background: url(/gradient-shadow.png) no-repeat;
        background-size: 100% 100%;
        z-index: 0;
    }
</style>