---
import IpointLogo from '../assets/IPOINT-logo-new.svg';
---

<header>
    <div class="hd-wrap fx fx-jc">
        <div class="hd-main-wrap">
            <div class="hd-main fx fx-ac">
                <div class="hd-logo">
                    <IpointLogo />
                </div>
                <div class="hd-main-menu fx fx-wrap fx-ac fx-jc">
                    <div class="hd-menu">
                        <ul class="fx fx-ac">
                            <li><a href="#">Solutions</a></li>
                            <li><a href="#">Results</a></li>
                            <li><a href="#">DNA</a></li>
                            <li><a href="#">Insights</a></li>
                        </ul>
                    </div>
                    <div class="menu-toggle fx fx-wrap fx-ac fx-jc">
                        <div class="menu-line menu-line-f"></div>
                        <div class="menu-line-wrap fx fx-jb fwidth">
                            <div class="menu-line menu-line-h"></div>
                            <div class="menu-line menu-line-h"></div>
                        </div>
                        <div class="menu-line-wrap fx fx-jb fwidth">
                            <div class="menu-line menu-line-trd"></div>
                            <div class="menu-line menu-line-trd"></div>
                            <div class="menu-line menu-line-trd"></div>
                        </div>
                    </div>
                </div>
                <div class="hd-ct-menu">
                    <a class="fx fx-ac fx-jc" href="/">Contact</a>
                </div>
            </div>
        </div>
    </div>
</header>

<style>
    header{
        position: fixed;
        z-index: 10;
        top: 20px;
        margin: auto;
        width: 100%;
    }
    .hd-logo, .hd-logo svg{
        width: 36px;
        height: 36px;
    }
    .hd-main-wrap{
        padding: 12px;
        border-radius: 12px;
        border: 1px solid rgba(255, 255, 255, 0.50);
        background: rgba(255, 255, 255, 0.20);
        backdrop-filter: blur(10px);
    }
    .hd-main-menu{
        border-radius: 4px;
        background: var(--white);
        padding: 0 12px;
        margin: 0 8px;
        height: 36px;
        min-width: 36px;
    }
    .menu-toggle{
        width: 12px;
        height: 12px;
        gap: 4px;
        cursor: pointer;
        position: relative;
    }
    .menu-line{
        height: 1.5px;
        background: var(--darkGrey2);
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        transform-origin: center;
        border-radius: 0.75px;
    }
    .menu-line-f{
        width: 100%;
    }
    .menu-line-h{
        width: 45%;
    }
    .menu-line-trd{
        width: 25%;
    }
    .menu-toggle.open .menu-line-f {
        transform: rotate(-45deg);
        width: 100%;
        position: absolute;
    }
    .menu-toggle.open .menu-line-h:first-child{
        transform: rotate(45deg);
    }
    .menu-toggle.open .menu-line-h:last-child{
        transform: rotate(45deg);
        right: 0;
        bottom: 2px;
    }
    .menu-toggle.open .menu-line-trd {
        opacity: 0;
        transform: scaleX(0);
    }
    .hd-ct-menu a{
        background: var(--white);
        height: 36px;
        padding: 0 12px;
        color: var(--darkGrey2);
        font-size: 14px;
        line-height: 16px;
        font-weight: 500;
        border-radius: 4px;
    }
    .hd-menu{
        overflow: hidden;
        max-width: 0;
        transition: max-width 0.4s ease;
        -webkit-transition: max-width 0.4s ease;
        -moz-transition: max-width 0.4s ease;
        white-space: nowrap;
        opacity: 0;
        pointer-events: none;
    }
    .hd-menu.open {
        margin-left: 12px;
        margin-right: 16px;
        max-width: 240px;
        opacity: 1;
        pointer-events: auto;
    }
    .hd-menu ul{
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    .hd-menu ul li:not(:last-child){
        margin-right: 20px;
    }
    .hd-menu ul li a{
        color: var(--darkGrey2);
        font-size: 14px;
        line-height: 16px;
        font-weight: 500;
    }
</style>

<script is:inline>
    const toggle = document.querySelector('.menu-toggle');
    const menu = document.querySelector('.hd-menu');

    toggle.addEventListener('click', () => {
        toggle.classList.toggle('open');
        menu.classList.toggle('open');
    });

    window.addEventListener('scroll', () => {
        if (toggle.classList.contains('open')) {
            toggle.classList.remove('open');
            menu.classList.remove('open');
        }
    });
</script>