---
import { Image } from 'astro:assets';
import laferlaThumb from '../assets/results/laferla/laferla-thumb.jpg';
import paperlessThumb from '../assets/results/pl/paperless-thumb.jpg';
import boomerangThumb from '../assets/results/boomerang/hero-banner.jpg';
---

<section class="hp-results sc-pd sc-alg-l">
    <div class="container">
        <div class="sc-wrap">
            <div class="sc-row fx fx-jb">
                <div class="sl-lcol">
                    <h2>Your Success, <br/> Measured in Results</h2>
                    <div class="sc-txt">
                        <p>Our work is designed to deliver impact, not just aesthetics. From measurable growth in brand visibility to seamless user experiences, IPOINT INT projects are built to outperform.</p>
                    </div>
                </div>
            </div>
            <div class="pj-list">
                <div class="pj-featured-item">
                    <a href="/portfolio/laferla-website-redesign/">
                        <div class="pj-ft-image">
                            <Image src={laferlaThumb} alt="laferla-thumb" />
                        </div>
                        <div class="pj-ft-info-row fwidth fx fx-jb">
                            <div class="pj-ft-info-lcol">
                                <div class="pj-ft-info-lcol-wrap">
                                    <h3>Laferla</h3>
                                </div>
                                <div class="pj-ft-info-txt">
                                    <h4>Creating an Insurance instrument with all functions in your pocket.</h4>
                                </div>
                            </div>
                            <div class="pj-ft-info-rcol">
                                <p>Web Design, Branding, Consulting</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="pj-featured-2col fx fx-jb">
                    <div class="pj-featured-item">
                        <a href="/portfolio/paperless-website-redesign/">
                            <div class="pj-ft-image">
                                <Image src={paperlessThumb} alt="paperless-thumb" />
                            </div>
                            <div class="pj-ft-info-row fwidth">
                                <div class="pj-ft-info-wrap fx fx-jb fx-wrap">
                                    <div class="pj-ft-info-lcol">
                                        <div class="pj-ft-info-lcol-wrap">
                                            <h3>Paperless</h3>
                                        </div>
                                    </div>
                                    <div class="pj-ft-info-rcol">
                                        <p>Web Design, Branding, Consulting</p>
                                    </div>
                                </div>
                                <div class="pj-ft-info-txt">
                                    <h4>Website redesign for a leading document workflow provider since 1997.</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="pj-featured-item">
                        <a href="/portfolio/boomerang/">
                            <div class="pj-ft-image">
                                <Image src={boomerangThumb} alt="boomerang-thumb" />
                            </div>
                            <div class="pj-ft-info-row fwidth">
                                <div class="pj-ft-info-wrap fx fx-jb fx-wrap">
                                    <div class="pj-ft-info-lcol">
                                        <div class="pj-ft-info-lcol-wrap">
                                            <h3>Boomerang</h3>
                                        </div>
                                    </div>
                                    <div class="pj-ft-info-rcol">
                                        <p>Branding</p>
                                    </div>
                                </div>
                                <div class="pj-ft-info-txt">
                                    <h4>Brand book for the business.</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="btn-row fx fx-jc">
                <a href="/portfolio/" class="btn-primary fx fx-ac fx-jc"><span>Show More Case Studies</span></a>
            </div>
        </div>
    </div>
</section>

<style>
    .sl-lcol{
        width: 46%;
    }
    @media screen and (max-width: 479px){
        .sl-row{
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        }
        .sl-lcol{
            width: 100%;
        }
    }
</style>