---
const { theme } = Astro.props;
---

<section 
    class={`sc-pd ps-rel ${
        theme === "dark" ? "sc-dark" : "sc-grey sc-grey-C"
    }`}>
    <div class="container">
        <div class="sl-row fx fx-jb ps-rel">
            <div class="sl-lcol">
                <h2>Solutions That Deliver</h2>
                <div class="sc-txt">
                    <p>We don't just promise results, we prove them. Our clients' experience:</p>
                    <ul>
                        <li>Increased engagement & retention</li>
                        <li>Higher revenue per visitor</li>
                        <li>Streamlined, future-proof digital operations</li>
                    </ul>
                </div>
            </div>
            <div class="sl-rcol">
                <div class="sl-logos-row fx fx-jb fx-wrap">
                   <div class="logo-col fx fx-jc fx-ac">
                        <img src="/logos/sigma-logo.svg" alt="Sigma Logo" />
                    </div>
                    <div class="logo-col fx fx-jc fx-ac">
                        <img src="/logos/laferla-logo-new.svg" alt="Laferla Logo" />
                    </div>
                    <div class="logo-col fx fx-jc fx-ac">
                        <img src="/logos/spinbet-logo.svg" alt="Spinbet Logo" />
                    </div>
                    <div class="logo-col fx fx-jc fx-ac">
                        <img src="/logos/C21-logo.svg" alt="C21 Logo" />
                    </div>
                    <div class="logo-col fx fx-jc fx-ac">
                        <img src="/logos/boomerang-logo.svg" alt="Boomerang Logo" />
                    </div>
                    <div class="logo-col fx fx-jc fx-ac">
                        <img src="/logos/medilink-logo.svg" alt="Medilink Logo" />
                    </div>
                    <div class="logo-col fx fx-jc fx-ac">
                        <img src="/logos/quantum-logo.svg" alt="Quantum Logo" />
                    </div>
                    <div class="logo-col fx fx-jc fx-ac">
                        <img src="/logos/alunafi-logo.svg" alt="Alunafi Logo" />
                    </div>
                    <div class="logo-col fx fx-jc fx-ac">
                        <img src="/logos/gamanza-logo.svg" alt="Gamanza Logo" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .sl-lcol{
        width: 46%;
    }
    .sl-rcol{
        width: 50%;
    }
    .sl-row{
        z-index: 1;
    }
    .sl-logos-row{
        gap: 1rem;
    }
    .logo-col{
        border-radius: 1.25rem;
        background: var(--white);
        width: calc((100% - 2rem) / 3);
        cursor: pointer;
    }
    .logo-col img{
        -webkit-transition: transform 0.5s ease;
        -moz-transition: transform 0.5s ease;
        transition: transform 0.5s ease;
    }
    .logo-col:hover img{
        transform: scale(1.05);
    }
    .logo-col::before {
        content: "";
        display: block;
        padding-top: 100%;
    }
    @media screen and (max-width: 1400px){
        .logo-col img {
            max-width: 60%;
        }
    }
    @media screen and (max-width: 1000px){
        .sl-logos-row {
            gap: 10px;
        }
        .logo-col {
            border-radius: 8px;
            width: calc(50% - 5px);
        }
        .logo-col:last-child {
            display: none;
        }

    }
    @media screen and (max-width: 479px){
        .sl-row{
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        }
        .sl-lcol, .sl-rcol{
            width: 100%;
        }
        .sl-rcol {
            margin-top: 40px;
        }
        .logo-col img {
            max-width: 70%;
        }
    }
</style>