<section class="hp-results sc-pd sc-al-cnt sc-alg-l">
    <div class="container">
        <div class="sc-wrap">
            <div class="sc-wrapper">
                <h2>Your Success, Measured in Results</h2>
                <div class="sc-txt">
                    <p>Our work is designed to deliver impact, not just aesthetics. <br/> From measurable growth in brand visibility to seamless user experiences, IPOINT INT projects are built to outperform.</p>
                </div>
            </div>
            <div class="pj-list">
                <div class="pj-featured-item">
                    <a href="#">
                        <div class="pj-ft-image">
                            <img src="laferla-app-cover.webp" alt="Laferla"/>
                        </div>
                        <div class="pj-ft-info-row fwidth fx fx-jb">
                            <div class="pj-ft-info-lcol">
                                <div class="pj-ft-info-lcol-wrap">
                                    <h3>Laferla App</h3>
                                </div>
                                <div class="pj-ft-info-txt">
                                    <h4>Creating an Insurance instrument with all functions in your pocket</h4>
                                </div>
                            </div>
                            <div class="pj-ft-info-rcol">
                                <p>UX/UI Design, Wireframing, Prototyping</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="pj-featured-2col fx fx-jb">
                    <div class="pj-featured-item">
                        <a href="#">
                            <div class="pj-ft-image">
                                <img src="laferla-project-cover.webp" alt="Laferla"/>
                            </div>
                            <div class="pj-ft-info-row fwidth">
                                <div class="pj-ft-info-wrap fx fx-jb fx-wrap">
                                    <div class="pj-ft-info-lcol">
                                        <div class="pj-ft-info-lcol-wrap">
                                            <h3>Laferla Website</h3>
                                        </div>
                                    </div>
                                    <div class="pj-ft-info-rcol">
                                        <p>UX/UI Design, Wireframing, Prototyping</p>
                                    </div>
                                </div>
                                <div class="pj-ft-info-txt">
                                    <h4>Creating an Insurance instrument with all functions in your pocket</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="pj-featured-item">
                        <a href="#">
                            <div class="pj-ft-image">
                                <img src="spinbet-project-cover.webp" alt="Spinbet"/>
                            </div>
                            <div class="pj-ft-info-row fwidth">
                                <div class="pj-ft-info-wrap fx fx-jb fx-wrap">
                                    <div class="pj-ft-info-lcol">
                                        <div class="pj-ft-info-lcol-wrap">
                                            <h3>Spinbet</h3>
                                        </div>
                                    </div>
                                    <div class="pj-ft-info-rcol">
                                        <p>Brand Identity, Web Design, 3D </p>
                                    </div>
                                </div>
                                <div class="pj-ft-info-txt">
                                    <h4>Casino and Sportsbook platforms for an iGaming startup from Germany</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="btn-row fx fx-jc">
                <a class="btn-primary fx fx-ac fx-jc"><span>Show More Case Studies</span></a>
            </div>
        </div>
    </div>
</section>

<style>
    .sc-wrapper{
        width: 41rem;
    }
    .pj-list{
        margin-top: 2.5rem;
    }
    .pj-ft-image{
        overflow: hidden;
        border-radius: 1.25rem;
    }
    .pj-ft-image img{
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 1.25rem;
        -webkit-transition: transform 0.5s ease;
        -moz-transition: transform 0.5s ease;
        transition: transform 0.5s ease;
    }
    .pj-ft-image:hover img{
        transform: scale(1.05);
    }
    .pj-ft-info-row{
        padding: 1.5rem;
    }
    .pj-ft-info-lcol{
        width: 50%;
    }
    .pj-ft-info-rcol{
        width: 50%;
    }
    .pj-ft-info-txt{
        margin-top: 1.5rem;
    }
    .pj-ft-info-txt h4{
        color: var(--lightGrey);
    }
    .pj-ft-info-rcol p{
        font-family: 'pp_neue_montrealbook';
        color: var(--lightGrey);
        text-align: right;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5rem;
        margin: 0;
        letter-spacing: 0.02rem;
    }
    .pj-featured-2col{
        margin: 4rem 0;
    }
    .pj-featured-2col .pj-featured-item{
        width: 49%;
    }
    .pj-featured-2col .pj-ft-info-txt{
        width: 100%;
    }
    @media screen and (max-width: 479px){
        .sc-wrapper{
            width: 100%;
        }
        .pj-ft-info-lcol, .pj-ft-info-rcol,
        .pj-featured-2col .pj-featured-item{
            width: 100%;
        }
        .pj-ft-info-row, .pj-featured-2col{
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        }
        .pj-ft-info-lcol{
            order: 1;
        }
        .pj-ft-info-rcol p{
            text-align: left;
        }
    }
</style>