---
import { Image } from 'astro:assets';
import soundOffIcon from '../../public/volume-mute-fill.svg';
import soundOnIcon from '../../public/volume-down-fill.svg';


---


<section class="hp-hero" id="intro-video-section">
    <div class="container">
        <div class="intro-vd ps-rel">
            <div class="sound-switcher" id="sound-toggle">
                <div class="sound-switcher-icon ps-rel">
                    <Image src={soundOffIcon} alt="sound off icon" class="icon-off"/>
                    <Image src={soundOnIcon} alt="sound on icon" class="icon-on" />
                </div>
            </div>
            <video id="intro-video" muted playsinline>
                <source src="/vd/showreel.mp4" type="video/mp4">
            </video>
        </div>
    </div>
</section>

<style>
    video{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 1.25rem;
    }
    .sound-switcher{
        width: 3rem;
        height: 3rem;
        border-radius: 0.5rem;
        border: 1px solid rgba(255, 255, 255, 0.50);
        background: rgba(255, 255, 255, 0.20);
        backdrop-filter: blur(10px);
        position: absolute;
        right: 0;
        left: 0;
        bottom: 2.5rem;
        margin: auto;
        z-index: 2;
        cursor: pointer;
    }
    .sound-switcher-icon img{
        width: 1rem;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        -webkit-transition: opacity .3s linear;
        -moz-transition: opacity .3s linear;
        transition: opacity .3s linear;
    }
    .sound-switcher-icon .icon-off { 
        opacity: 1; 
    }
    .sound-switcher-icon.sound-on .icon-off { 
        opacity: 0; 
    }
    .sound-switcher-icon.sound-on .icon-on { 
        opacity: 1; 
    }
    .sound-switcher-icon .icon-on {
        opacity: 0;
    }
    .sound-switcher-icon{
        width: 100%;
        height: 100%;
    }
</style>

<script>
    const video = document.getElementById('intro-video');
    const section = document.getElementById('intro-video-section');
    const soundToggle = document.getElementById("sound-toggle");
    const iconWrap = soundToggle.querySelector(".sound-switcher-icon");

    const observer = new IntersectionObserver((entries) => {
        entries.forEach((entry) => {
            if (entry.isIntersecting) {
                video.play();
            } else {
                video.pause();
            }
        });
    }, {
        threshold: 0.5 // play when 50% of section is visible
    });

    observer.observe(section);

    soundToggle.addEventListener("click", () => {
        if (video.muted) {
            video.muted = false;   // turn sound ON
            iconWrap.classList.add("sound-on");
        } else {
            video.muted = true;    // turn sound OFF
            iconWrap.classList.remove("sound-on");
        }
    });
</script>