---
import { Image } from 'astro:assets';
import soundOffIcon from '../../public/volume-mute-fill.svg';
import soundOnIcon from '../../public/volume-down-fill.svg';
---


<section class="hp-hero-video" id="intro-video-section">
    <div class="container">
        <div class="intro-vd ps-rel" id="video-wrapper">
            <div class="sound-switcher" id="sound-toggle">
                <div class="sound-switcher-icon ps-rel">
                    <Image src={soundOffIcon} alt="sound off icon" class="icon-on"/>
                    <Image src={soundOnIcon} alt="sound on icon" class="icon-off" />
                </div>
            </div>
            <video id="intro-video" muted playsinline>
                <source src="/vd/showreel.mp4" type="video/mp4">
            </video>
        </div>
    </div>
</section>

<style>
    .hp-hero-video{
        margin-bottom: 6.25rem;
    }
    video{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 1.25rem;
        transition: transform 0.4s ease-in-out;
    }
    .intro-vd {
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 1.25rem;
        overflow: hidden;
        transition: transform 0.4s ease-in-out, border-radius 0.4s ease-in-out;
    }
    .intro-vd.fixed {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        border-radius: 0;
        z-index: 999;
    }
    .intro-vd.fixed video {
        border-radius: 0;
    }
    .sound-switcher{
        width: 3rem;
        height: 3rem;
        border-radius: 0.5rem;
        border: 1px solid rgba(255, 255, 255, 0.50);
        background: rgba(255, 255, 255, 0.20);
        backdrop-filter: blur(10px);
        position: absolute;
        right: 0;
        left: 0;
        bottom: 2.5rem;
        margin: auto;
        z-index: 2;
        cursor: pointer;
    }
    .sound-switcher-icon img{
        width: 1rem;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        -webkit-transition: opacity .3s linear;
        -moz-transition: opacity .3s linear;
        transition: opacity .3s linear;
    }
    .sound-switcher-icon .icon-off { 
        opacity: 1; 
    }
    .sound-switcher-icon.sound-on .icon-off { 
        opacity: 0; 
    }
    .sound-switcher-icon.sound-on .icon-on { 
        opacity: 1; 
    }
    .sound-switcher-icon .icon-on {
        opacity: 0;
    }
    .sound-switcher-icon{
        width: 100%;
        height: 100%;
    }
    @media screen and (max-width: 1000px) {
        video {
            border-radius: 12px;
        }
        .sound-switcher {
            border-radius: 4px;
            bottom: 1.5rem;
        }
        .hp-hero-video {
            margin-bottom: 40px;
        }
    }
    @media screen and (max-width: 479px) {
        video {
            height: 260px;
        }
        .sound-switcher {
            width: 24px;
            height: 24px;
            bottom: 12px;
        }
        .hp-hero-video {
            margin-bottom: 0;
        }
    }
</style>

<script>
    const video = document.getElementById('intro-video');
    const section = document.getElementById('intro-video-section');
    const wrapper = document.getElementById('video-wrapper');
    const soundToggle = document.getElementById("sound-toggle");
    const iconWrap = soundToggle.querySelector(".sound-switcher-icon");

    wrapper.style.transformOrigin = 'top center';
    let hasPlayed = false;

    function handleScroll() {
        const rect = section.getBoundingClientRect();
        const vh = window.innerHeight;

        // Fully out of view → reset
        if (rect.bottom <= 0 || rect.top >= vh) {
            wrapper.style.transform = 'translate3d(0,0,0) scale(1)';
            wrapper.style.zIndex = 1;
            wrapper.style.top = "0";
            video.pause();
            hasPlayed = false;
            return;
        }

        const visibleHeight = Math.min(rect.bottom, vh) - Math.max(rect.top, 0);
        const visibilityRatio = Math.max(0, Math.min(visibleHeight / rect.height, 1));

        let scale = 1;

        if (visibilityRatio > 0.8) {
            const progress = Math.min((visibilityRatio - 0.5) / 0.4, 1); // 0 → 1
            scale = 1 + 0.3 * progress;

            if (!hasPlayed) {
                video.play();
                hasPlayed = true;
            }else {
                video.pause();
                hasPlayed = false;
            }
        }

        wrapper.style.transform = `translate3d(0,0,0) scale(${scale})`;
        wrapper.style.zIndex = 9;
        wrapper.style.top = "-2rem";
        //video.play();
    }

    let ticking = false;
    window.addEventListener('scroll', () => {
        if (!ticking) {
            window.requestAnimationFrame(() => {
                handleScroll();
                ticking = false;
            });
            ticking = true;
        }
    });

    window.addEventListener('resize', handleScroll);
    handleScroll();

    soundToggle.addEventListener("click", () => {
        video.muted = !video.muted;
        iconWrap.classList.toggle("sound-on", !video.muted);
    });
</script>