<section class="pv-pg sc-pd ps-rel">
    <div class="container">
        <div class="hero-intro-text">
            <h1 class="txt-anim"><strong>IPOINT INT.</strong> <br/> Privacy Policy.</h1>
        </div>
        <div class="pg-content-wrap">
            <div class="page-content">
                <p class="align-right italic pg-last-updated">Last updated: 21 May 2018</p>
                <p>Welcome to <a href="https://www.ipoint.com.mt/">www.ipoint.com.mt</a></p>
                <p>Ipoint International Ltd. take the privacy of their clients seriously into account. This Privacy Notice is to let you know how ipoint protects the privacy of your communications and collects, processes, uses and stores your personal data through our Website as well as the rights you have with regard to the foregoing collection and processing of your personal data. By visiting our Website and using our services you acknowledge of having read and fully taken into account this Privacy Notice.</p>
                <p>This Privacy Notice applies only to our Website under the domain www.ipoint.com.mt. Users should be aware that our Website may also contain links to other websites, yet our Company cannot be held responsible for the data processing practices or the content of such websites.</p>
                <h2>1. Introduction</h2>
                <p>By:</p>
                <ul>
                    <li>Visiting Ipoint International LTD (" Ipoint ") official website (" the Website ") at <a href="https://www.ipoint.com.mt">https://www.ipoint.com.mt</a>;</li>
                    <li>Applying for a job through the <a href="/about-us#vacancies">Careers</a> section;</li>
                    <li>Sending us a request through the <a href="/contacts/">Contact Us</a> form;</li>
                    <li>Sending us a request through the <a href="/contacts">Contact Us</a> form;</li>
                </ul>
                <p>you provide us with your personal data. Personal data, due its sensitive nature, shall be processed within the terms of Law.</p>
                <p>The aim of this policy is to inform you about:</p>
                <ul>
                    <li>The Controller and Processor of your personal data;</li>
                    <li>The purposes and legal basis for the collection of such data;</li>
                    <li>The recipients of your such data;</li>
                    <li>The retention period of such data;</li>
                    <li>Your rights in relation to personal data.</li>
                </ul>
                <p>We have tried to keep this policy as simple and plain as possible. However, if any part is unclear to you, contact us at <a href="mailto:info@ipoint.com.mt">info@ipoint.com.mt</a> and we will respond to your query in due time and clarify any doubt you may have.</p>
                <h2>2. Definitions</h2>
                <p>For the purposes of this Privacy Notice the following definitions shall apply:</p>
                <p>2.1. “Consent” – Any explicit, specific and freely given indication by which the User, after having been fully informed, signifies her agreement to personal data relating to her being processed.</p>
                <p>2.2. “Cookie” – short text of software code, which is transmitted from the web server of our Company and stored at your device each time that you enter the Website. “Personal Data” – Any information relating to an identified or identifiable user of <a href="https://www.ipoint.com.mt/">www.ipoint.com.mt</a></p>
                <p>2.3. “GDPR” – the General Data Protection Regulation (EU) 2016/679, of the European Parliament and of the Council of 27 April 2016 on the protection of natural persons with regard to the processing of personal data and on the free movement of such data, and repealing Directive 95/46/EC, as amended, replaced or superseded and in force from time to time and as transposed into member-state legislation.</p>
                <p>2.4. “Personal Data” – any information which relates to a User, who can be identified directly or indirectly.</p>
                <p>2.5. “Processing” – Any operation or set of operations which is performed by bit8 upon the personal data of the users of www.ipoint.com.mt, whether or not by automatic means, such as collection, recording, organization, storage, adaptation or alteration, retrieval, consultation, use, disclosure by transmission, dissemination or otherwise making available, alignment or combination, blocking, erasure or destruction;</p>
                <p>2.6. “User” – Any internet user who accesses and browses at <a href="https://www.ipoint.com.mt/">www.ipoint.com.mt</a></p>
                <p>2.7. “Website” – The worldwide web website which is accessible through the domain name <a href="https://www.ipoint.com.mt/">www.ipoint.com.mt</a> including all of its webpages.</p>
                <h2>3. Data Controller and Processor</h2>
                <p>The Data Controller (“ the Controller ”), i.e. the entity who determines the purposes and means of data processing and The Data Processor (“ the processor ”), is Ipoint International LTD, company incorporated in Malta with offices at Flt 4, Sylvienne’s Crt, Triq ic-Cirasa, Malta. The Controller as well as The Processor is reachable at: <a href="mailto:info@ipoint.com.mt">info@ipoint.com.mt</a> or +356 2147 2790.</p>
                <p>The Controller is also the owner and registrant of the Website.</p>
                <h2>4. Types of data collected</h2>
                <p>4.1. At the point of your access and during your use of our Website, you provide to ipoint the following types of personal data:</p>
                <ul>
                    <li>(i) Your IP Address;</li>
                    <li>(ii) Cookies (please refer to our <a href="/cookie-policy">Cookie Policy</a> for more information);</li>
                    <li>(iii) Browser information (including language settings) and device used;</li>
                    <li>(iv) Your location (as per your IP address);</li>
                    <li>(v) Your screen resolution;</li>
                    <li>(vi) Average time you spend on each webpage part of the Website;</li>
                    <li>(vii) You age and gender (if you visit the Website while logged into you Google account).</li>
                </ul>
                <p>The Website visitor data is anonymised.</p>
                <p>4.2. When you apply for a job through the <a href="https://www.ipoint.com.mt/about-us#vacancies">Careers</a> section of the Website, we collect the following information about you (“<strong>job applicant data</strong>”):</p>
                <ul>
                    <li>(i) Your name and surname;</li>
                    <li>(ii) The name of your company (if provided);</li>
                    <li>(iii) Your contact number;</li>
                    <li>(iv) Your email address;</li>
                    <li>(v) Your CV;</li>
                    <li>(vi) The items of personal data that you may include in the free-text box.</li>
                </ul>
                <p>4.3. When you send us a message through the <a href="/contacts">Contact Us</a> form, we collect the following information (“<strong>information enquirer data</strong>”):</p>
                <ul>
                    <li>(i) Your name;</li>
                    <li>(ii) The name of your company (if provided);</li>
                    <li>(iii) Your contact number;</li>
                    <li>(iv) Your email address;</li>
                    <li>(v) The items of personal data that you may include in the free-text box.</li>
                </ul>
                <h2>5. Purposes and legal basis for collecting data</h2>
                <p>Personal data, as described in Clause 3 above is only collected for specific, explicitly stated and legitimate purposes. and is processed according to the legal basis identified below</p>
                <table>
                    <tbody>
                        <tr>
                            <td width="208"><strong>Categories of personal data</strong></td>
                            <td width="193"><strong>Purpose(s)</strong></td>
                            <td width="200"><strong>Legal basis</strong></td>
                        </tr>
                        <tr>
                            <td rowspan="4" width="208">Website visitor data</td>
                            <td rowspan="4" width="193">–&nbsp; Improve the content and functionality of our website; – Better understand the categories of visitors to our Website, <br/><br/>
                                Improve our products and services.</td>
                            <td width="200"><strong>Legitimate interest</strong></td>
                        </tr>
                        <tr>
                            <td width="200"><strong><em>Purpose</em></strong>&nbsp;– is there a legitimate interest behind the processing?<br/><br/>
                                <strong>YES</strong>, Ipoint has a legitimate interest to understand the category of visitors to the Website and the visitors/users have interest in having the best possible experience by visiting the Website.</p></td>
                        </tr>
                        <tr>
                            <td width="200"><strong><em>Necessity</em></strong>&nbsp;– is the processing necessary for that purpose?<br/><br/>
                                <strong>YES</strong>, Ipoint could not achieve the same purposes without collecting such data.</td>
                        </tr>
                        <tr>
                            <td width="200"><strong><em>Balancing</em></strong>&nbsp;– is the legitimate interest overridden by the individual’s interests, rights or freedoms?<br/><br/>
                                <strong>NO</strong>, individual’s interests, rights or freedoms are not overridden by collecting personal data of the subject.</td>
                        </tr>
                        <tr>
                            <td rowspan="4" width="208">Job applicant data</td>
                            <td rowspan="4" width="193">Recruitment and selection of candidates</td>
                            <td width="200"><strong>Legitimate interest</strong></td>
                        </tr>
                        <tr>
                            <td width="200"><strong><em>Purpose</em></strong>&nbsp;– is there a legitimate interest behind the processing?<br/><br/>
                               <strong>YES,</strong>&nbsp;Ipoint has legitimate interest to collect personal data to find suitable candidates for the vacant positions advertised on the Website, and the applicants/jobseekers have interest in their applications being considered and examined by Ipoint.</td>
                        </tr>
                        <tr>
                            <td width="200"><strong><em>Necessity</em></strong>&nbsp;– is the processing necessary for that purpose?<br/><br/>
                                <strong>YES</strong>, Ipoint need some items of personal data of the applicants in the recruitment process. The same purpose, being recruitment and selection of suitable candidates, cannot be achieved without the collection of personal data of the applicant.</td>
                        </tr>
                        <tr>
                            <td width="200"><strong><em>Balancing</em></strong>&nbsp;– is the legitimate interest overridden by the individual’s interests, rights or freedoms?<br/><br/>
                                <strong>NO</strong>, individual’s interests, rights or freedoms are not overridden by collecting personal data of the subject</td>
                        </tr>
                        <tr>
                            <td rowspan="4" width="208">Information enquirer data</td>
                            <td rowspan="4" width="193">Respond to information requests</td>
                            <td width="200"><strong>Legitimate interest</strong></td>
                        </tr>
                        <tr>
                            <td width="200"><strong><em>Purpose&nbsp;</em></strong><em>– is there a legitimate interest behind the processing</em>?<br/><br/>
                                <strong>YES</strong>, we have a legitimate interest to create and maintain professional relationship with any member of the public enquiring information from us.</td>
                        </tr>
                        <tr>
                            <td width="200"><strong>Necessity</strong>&nbsp;– i<em>s the processing necessary for that purpose?</em><br/><br/>
                                <strong>YES</strong>, personal data is necessary to respond to the enquirer</p></td>
                        </tr>
                        <tr>
                            <td width="200"><strong>Balancing&nbsp;</strong>–&nbsp;<em>is the legitimate interest overridden by the individual’s interests, rights or freedoms?</em><br/><br/>
                                <strong>NO</strong>, individual’s interests, rights or freedoms are not overridden by collecting personal data of the subject.</td>
                        </tr>
                    </tbody>
                </table>
                <h2>6. Recipients of personal data</h2>
                <p>6.1. Your personal data may be shared between the undertakings forming part of the Ipoint, as foreseen by <a href="http://www.privacy-regulation.eu/en/recital-48-GDPR.htm" target="_blank" rel="noopener">Recital 48</a> of GDPR.</p>
                <p>6.2. Your personal data may be also shared between the Controller and the Processor.</p>
                <p>6.3. Your personal data is <u>never</u> transferred outside of the European Economic Area (EEA) or to international organizations.</p>
                <p>6.4. We do not sell, trade or otherwise transfer any personal information to third parties.</p>
                <p>6.5. We will release your data if we are obliged to do so to comply with any law, regulation or court order.</p>
                <h2>7. Retention of personal data</h2>
                <p>7.1. We keep your personal data for as long as it is each time necessary for the relevant purposes of their processing, in alignment with the Data Minimisation and Storage Limitation principles as defined the GDPR.</p>
                <p>7.2. Ipoint may retain your personal data after the expiration of their relevant processing purposes in the following limited cases:</p>
                <ul>
                    <li>In case that there is a legal obligation under a relevant statutory provision.</li>
                    <li>For research or statistical purposes of for the proper organization and operation of our business provided that anonymity or pseudonymization of your data takes place.</li>
                    <li>In case of any claims against ipoint, for as long as necessary to defend our rights and legitimate interests before any competent court and any other public authority.</li>
                </ul>
                <p>7.3. After the period of retention, your personal data is erased from our databases and systems in accordance with our data protection policies and provided that their retention is no longer required for the fulfillment of the purposes we have described above.</p>
                <p>7.4. For more information about data retention terms in relation to specific personal data, please contact us at <a href="mailto:info@ipoint.com.mt">info@ipoint.com.mt</a></p>
                <table>
                    <tbody>
                    <tr>
                        <td width="217"><strong>Categories of personal data</strong></td>
                        <td width="384"><strong>Retention period</strong></td>
                    </tr>
                    <tr>
                        <td width="217">Website visitor data</td>
                        <td width="384">Data is retained for 25 months from the date of collection.</td>
                    </tr>
                    <tr>
                        <td width="217">Job applicant data</td>
                        <td width="384">Data is retained for 3 months from the date of the application, which is the maximum duration of the recruitment process.An email acknowledging receipt of the application is send to the applicant with a link to this Policy. <br/><br/>
                            Once the recruitment process is over, we may ask you if you would like us to retain your application for further three months. We will do so only if you positively opt-in.
                        </td>
                    </tr>
                    <tr>
                        <td width="217">Information enquirer data</td>
                        <td width="384">Data is retained only for the time necessary to process a response to the enquiry.Once this is completed, the enquirer data is deleted.</td>
                    </tr>
                    </tbody>
                </table>
                <h2>8. Your rights</h2>
                <p>8.1. As a website visitor, job applicant or information enquirer, you have extensive rights when it comes to the processing of your personal data.</p>
                <p>Your rights, listed below, may be enforced by contacting the Controller or the Processor by email, by post or by phone using the contact details provided above.</p>
                <p>You are guaranteed a response within 30 days month from the date of receipt of your enquiry.</p>
                <p>If your request is particularly complex or we need to process an extraordinary number of simultaneous requests, our reply may take longer but will be provided no later than 2 months from the date of receipt of your enquiry. This reply will also include details explaining the reason for the delay in our response.</p>
                <p>We will provide the information in digital format or if preferred in hard copy format.</p>
                <p>Such requests will not incur any fee, except when:</p>
                <ul>
                    <li>(i)  Your requests are manifestly unfounded or excessive, in particular because of their repetitive character. In this case we will charge a reasonable fee, taking into account the administrative costs of providing the information or communication or taking the action requested. In this case, we may also refuse to act on the request after having explained our position;</li>
                    <li>(ii) You request the information on paper and posted. In that case, we will charge you the postage fees.</li>
                </ul>
                <p>Should we have reasonable doubts concerning your identity when making the request above, we may require additional information, necessary to confirm your identity.</p>
                <p>Your rights are:</p>
                <p>8.2. Access</p>
                <p>You may obtain confirmation from us as to whether or not your personal data is being processed including:</p>
                <ul>
                    <li>(i) the purposes of the processing;</li>
                    <li>(ii) the categories of personal data concerned;</li>
                    <li>(iii) the recipients or categories of recipient to whom the personal data have been or will be disclosed, in particular recipients in third countries or international organisations;</li>
                    <li>(iv) where possible, the envisaged period for which the personal data will be stored, or, if not possible, the criteria used to determine that period;</li>
                    <li>(v) the existence of the right to request from the Controller rectification or erasure of personal data or restriction of processing of personal data concerning the data subject or to object to such processing;</li>
                    <li>(vi) the right to lodge a complaint with the supervisory authority;</li>
                    <li>(vii) the existence of automated decision-making, including profiling.</li>
                </ul>
                <p>8.3.  Rectification</p>
                <p>In case your date is inaccurate, incomplete or out-of-date, you have the right to rectify it.</p>
                <p>8.4. Deletion (“the right to be forgotten”)</p>
                <p>You have the right to have your personal data erased in case:</p>
                <ul>
                    <li>(i) the data is no longer necessary in relation to the purposes for which it was collected or otherwise processed;</li>
                    <li>(ii) You have withdrawn consent to process your data and there is no other legal basis legitimating its processing;</li>
                    <li>(iii) You have objected to processing your data and there is no other legal basis legitimating its processing;</li>
                    <li>(iv) Your personal data has been unlawfully processed;</li>
                    <li>(v) Your personal data has to be erased in order to ensure compliance with any legal obligations arising from any legislation enacted within the EU or any member states.</li>
                </ul>
                <p>8.5. Restriction</p>
                <p>You have the right to request a restriction on the processing of your data in case:</p>
                <ul>
                    <li>(i) You contest the accuracy of your personal data, for a period enabling us to verify the accuracy of such data;</li>
                    <li>(ii) The processing of your data is unlawful, and you oppose the erasure of your personal data and request the restriction of their use instead;</li>
                    <li>(iii) We no longer need the personal data for the purposes of the processing;</li>
                    <li>(iv) We no longer need your data, but we are required by you to retain the data for the establishment, exercise or defence of legal claims;</li>
                    <li>(v) You have objected to processing (as specified in detail below), pending the verification whether our legitimate grounds override yours.</li>
                </ul>
                <p>When you restrict processing, your personal data will, with the exception of storage, only be processed with your consent or for the establishment, exercise or defence of legal claims or for the protection of the rights of another natural or legal person or for reasons of important public interest of the Union or of a Member State.</p>
                <p>In case you have obtained restriction of processing as per above, we will inform you before the restriction of processing is lifted.</p>
                <p>8.6. Complaint</p>
                <p>In addition to the above, and without prejudice to any other administrative or judicial remedy, you have the right to lodge a complaint with the competent supervisory authority if you consider that your personal data has been processed unlawfully.</p>
                <p>8.7. Data Portability</p>
                <p>You enjoy a right to data portability with respect to your Personal Data held by Ipoint and Ipoint hereby binds itself to provide you with the Personal Data concerning yourself which you have provided to the Ipoint, in a structured, commonly used and machine-readable format. In addition, you enjoy the right to transmit that data to another data controller without hindrance from Ipoint.</p>
                <h2>9. Applicatble law</h2>
                <p>The law applicable to the processing activities, and to this policy, shall be:</p>
                <ul>
                    <li>Until 25 May 2018, the Data Protection Act, Chapter 440 of the Laws of Malta and other subsidiary legislation</li>
                    <li>After 25 May 2018, Regulation EU 2016/679 (“<em>GDPR</em>”).</li>
                </ul>
                <h2>10. Amendments</h2>
                <p>This Privacy Policy is subject to changes. You are invited to familiarize with its content and visit <a href="/privacy-policy">this URL</a> frequently to familiarize with the changes.</p>
            </div>
        </div>
    </div>
</section>