---
const { nextLink } = Astro.props;

---

<section class="rs-next-ref sc-grey">
    <div class="container">
        <div class="sm-wrap tx-center">
            <p class="sm-text">Liked the Case Study?</p>
            <h2 class="dark-gray">Let's build something that lasts together!</h2>
            <div class="rs-btn-row fx fx-jc">
                <a href="/contact" class="btn-primary btn-primary-lg btn-primary-blue fx fx-ac fx-jc">
                    <span>Contact Us</span>
                </a>
            </div>
            <p class="next-rs-link-text md-text">Or just click the link to see our <a href={nextLink}>Next Case Study</a></p>
        </div>
    </div>
</section>

<style>
.rs-next-ref .sm-subheading {
    margin: 0 0 1.5rem 0;
}
</style>