---
import { Image } from 'astro:assets';
import ctArr from '../../public/ct-arr.svg?raw';
import getQuoteText from '../../public/get-quote.svg?raw';
import ctText from '../../public/ct-txt.svg?raw';

---

<section class="hp-solutions">
    <div class="container">
        <h1>Results.</h1>
        <h2>This is how our Solutions are helping our clients reach their business goals.</h2>
        <div class="sl-filter-row fx fx-wrap fx-ac">
            <a href="#" class="active">All Solutions</a>
            <a href="#">Startup Solution</a>
            <a href="#">Growth Solution</a>
            <a href="#">Expansion Solution</a>
            <a href="#">Franchise Solution</a>
        </div>
        <div class="projects-list fx fx-wrap">
            <div class="pj-featured-item">
                <a href="#">
                    <div class="pj-ft-image">
                        <img src="/laferla-app-cover.webp" alt="Laferla"/>
                    </div>
                    <div class="pj-ft-info-row fwidth fx fx-jb">
                        <div class="pj-ft-info-lcol">
                            <div class="pj-ft-info-lcol-wrap">
                                <h3>Laferla App</h3>
                            </div>
                            <div class="pj-ft-info-txt">
                                <h4>Creating an Insurance instrument with all functions in your pocket</h4>
                            </div>
                        </div>
                        <div class="pj-ft-info-rcol">
                            <p>UX/UI Design, Wireframing, Prototyping</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="pj-featured-item">
                <a href="#">
                    <div class="pj-ft-image">
                        <img src="/laferla-project-cover.webp" alt="Laferla"/>
                    </div>
                    <div class="pj-ft-info-row fwidth">
                        <div class="pj-ft-info-wrap fx fx-jb fx-wrap">
                            <div class="pj-ft-info-lcol">
                                <div class="pj-ft-info-lcol-wrap">
                                    <h3>Laferla Website</h3>
                                </div>
                            </div>
                            <div class="pj-ft-info-rcol">
                                <p>UX/UI Design, Wireframing, Prototyping</p>
                            </div>
                        </div>
                        <div class="pj-ft-info-txt">
                            <h4>Creating an Insurance instrument with all functions in your pocket</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="pj-featured-item">
                <a href="#">
                    <div class="pj-ft-image">
                        <img src="/spinbet-project-cover.webp" alt="Spinbet"/>
                    </div>
                    <div class="pj-ft-info-row fwidth">
                        <div class="pj-ft-info-wrap fx fx-jb fx-wrap">
                            <div class="pj-ft-info-lcol">
                                <div class="pj-ft-info-lcol-wrap">
                                    <h3>Spinbet</h3>
                                </div>
                            </div>
                            <div class="pj-ft-info-rcol">
                                <p>Brand Identity, Web Design, 3D </p>
                            </div>
                        </div>
                        <div class="pj-ft-info-txt">
                            <h4>Casino and Sportsbook platforms for an iGaming startup from Germany</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="pj-featured-item">
                <a href="#">
                    <div class="pj-ft-image">
                        <img src="/laferla-app-cover.webp" alt="Laferla"/>
                    </div>
                    <div class="pj-ft-info-row fwidth fx fx-jb">
                        <div class="pj-ft-info-lcol">
                            <div class="pj-ft-info-lcol-wrap">
                                <h3>Laferla App</h3>
                            </div>
                            <div class="pj-ft-info-txt">
                                <h4>Creating an Insurance instrument with all functions in your pocket</h4>
                            </div>
                        </div>
                        <div class="pj-ft-info-rcol">
                            <p>UX/UI Design, Wireframing, Prototyping</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="pj-featured-item">
                <a href="#">
                    <div class="pj-ft-image">
                        <img src="/laferla-project-cover.webp" alt="Laferla"/>
                    </div>
                    <div class="pj-ft-info-row fwidth">
                        <div class="pj-ft-info-wrap fx fx-jb fx-wrap">
                            <div class="pj-ft-info-lcol">
                                <div class="pj-ft-info-lcol-wrap">
                                    <h3>Laferla Website</h3>
                                </div>
                            </div>
                            <div class="pj-ft-info-rcol">
                                <p>UX/UI Design, Wireframing, Prototyping</p>
                            </div>
                        </div>
                        <div class="pj-ft-info-txt">
                            <h4>Creating an Insurance instrument with all functions in your pocket</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="pj-featured-item">
                <a href="#">
                    <div class="pj-ft-image">
                        <img src="/spinbet-project-cover.webp" alt="Spinbet"/>
                    </div>
                    <div class="pj-ft-info-row fwidth">
                        <div class="pj-ft-info-wrap fx fx-jb fx-wrap">
                            <div class="pj-ft-info-lcol">
                                <div class="pj-ft-info-lcol-wrap">
                                    <h3>Spinbet</h3>
                                </div>
                            </div>
                            <div class="pj-ft-info-rcol">
                                <p>Brand Identity, Web Design, 3D </p>
                            </div>
                        </div>
                        <div class="pj-ft-info-txt">
                            <h4>Casino and Sportsbook platforms for an iGaming startup from Germany</h4>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="ct-animation-bar">
        <div class="ct-rolling-bar fx ps-rel">
            <div class="center-detector"></div>
            <div class="ct-rolling fx fx-ac">
                <div class="ct-txt">
                    <svg width="1030" height="105" viewBox="0 0 1030 105" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 84.0572V0H13.0484V72.7564H52.2518V84.0572H0Z" fill="#676B78"/>
                        <path d="M85.4273 85.2805C79.4468 85.2805 74.2818 83.999 69.9324 81.4359C65.6217 78.834 62.3014 75.1641 59.9713 70.4263C57.6801 65.6497 56.5345 60.0381 56.5345 53.5916V53.5333C56.5345 47.1645 57.6995 41.5917 60.0296 36.8151C62.3596 31.9996 65.6412 28.2715 69.8741 25.6308C74.1071 22.9512 79.0779 21.6114 84.7866 21.6114C90.5341 21.6114 95.466 22.8929 99.5825 25.456C103.738 27.9802 106.942 31.5724 109.194 36.2326C111.446 40.8539 112.573 46.2325 112.573 52.3683V56.6207H62.7674V47.7082H106.456L100.223 56.0382V51.145C100.223 46.8344 99.5631 43.2616 98.2427 40.4267C96.9612 37.5529 95.1554 35.417 92.8253 34.019C90.5341 32.621 87.8739 31.9219 84.8448 31.9219C81.8546 31.9219 79.175 32.6598 76.8061 34.1355C74.4372 35.6112 72.5731 37.786 71.2139 40.6597C69.8547 43.4946 69.1751 46.9897 69.1751 51.145V56.0382C69.1751 59.9993 69.8353 63.3973 71.1557 66.2322C72.5149 69.0283 74.4372 71.1836 76.9226 72.6982C79.408 74.1739 82.34 74.9117 85.7186 74.9117C88.204 74.9117 90.3981 74.5428 92.301 73.8049C94.2039 73.0282 95.7767 72.0186 97.0194 70.7758C98.301 69.4943 99.1941 68.0769 99.699 66.5235L99.8738 66.0575H111.874L111.757 66.6982C111.252 69.106 110.301 71.4166 108.903 73.6302C107.505 75.8437 105.68 77.8437 103.427 79.6301C101.214 81.3777 98.5922 82.7563 95.5631 83.766C92.534 84.7757 89.1554 85.2805 85.4273 85.2805Z" fill="#676B78"/>
                        <path d="M142.661 85.2805C136.603 85.2805 132.078 83.9213 129.088 81.2029C126.137 78.4457 124.661 73.9991 124.661 67.8633V32.7957H115.865V22.7764H124.661V6.81545H137.593V22.7764H149.069V32.7957H137.593V67.1642C137.593 70.271 138.273 72.4069 139.632 73.5719C140.991 74.6981 143.01 75.2612 145.69 75.2612C146.35 75.2612 146.952 75.2418 147.496 75.203C148.078 75.1253 148.602 75.0671 149.069 75.0282V84.7563C148.331 84.8728 147.399 84.9893 146.272 85.1058C145.146 85.2223 143.942 85.2805 142.661 85.2805Z" fill="#676B78"/>
                        <path d="M155.273 29.8249L160.108 0H172.691L164.186 29.8249H155.273Z" fill="#676B78"/>
                        <path d="M197.07 85.2805C191.944 85.2805 187.536 84.5038 183.847 82.9505C180.197 81.3582 177.323 79.1641 175.226 76.368C173.129 73.5331 171.867 70.2516 171.439 66.5235L171.381 65.9992H183.847L183.964 66.5817C184.585 69.3778 185.964 71.572 188.099 73.1642C190.235 74.7175 193.226 75.4942 197.07 75.4942C199.633 75.4942 201.808 75.1836 203.594 74.5622C205.381 73.902 206.759 72.97 207.73 71.7661C208.701 70.5623 209.187 69.1254 209.187 67.4555V67.3972C209.187 65.4167 208.546 63.8245 207.264 62.6206C205.983 61.4167 203.692 60.407 200.391 59.5915L190.371 57.3197C186.488 56.4265 183.245 55.2032 180.643 53.6498C178.08 52.0965 176.158 50.1936 174.876 47.9412C173.595 45.6888 172.954 43.0869 172.954 40.1354V40.0772C172.954 36.3879 173.944 33.1646 175.925 30.4074C177.905 27.6113 180.682 25.456 184.255 23.9415C187.828 22.3881 191.964 21.6114 196.662 21.6114C201.478 21.6114 205.633 22.4269 209.128 24.058C212.623 25.689 215.342 27.922 217.284 30.7569C219.264 33.553 220.352 36.6792 220.546 40.1354V40.8345H208.721L208.662 40.4267C208.313 37.7471 207.109 35.5724 205.051 33.9025C202.993 32.1938 200.196 31.3394 196.662 31.3394C194.41 31.3394 192.449 31.6695 190.779 32.3297C189.109 32.9899 187.828 33.9413 186.934 35.184C186.041 36.3879 185.595 37.8054 185.595 39.4364V39.4947C185.595 40.7374 185.886 41.8636 186.468 42.8733C187.09 43.883 188.08 44.7567 189.439 45.4946C190.798 46.2325 192.546 46.8538 194.682 47.3587L204.701 49.6887C210.954 51.1256 215.381 53.1644 217.983 55.8052C220.623 58.4071 221.944 61.9216 221.944 66.3487V66.407C221.944 70.1351 220.876 73.4166 218.74 76.2515C216.604 79.0864 213.653 81.3 209.886 82.8922C206.158 84.4844 201.886 85.2805 197.07 85.2805Z" fill="#676B78"/>
                        <path d="M254.975 84.0572V0H270.062L297.266 67.0477H297.615L324.819 0H339.964V84.0572H328.022V22.0774H322.023L335.653 2.33007L302.275 84.0572H292.605L259.285 2.33007L272.916 22.0774H266.916V84.0572H254.975Z" fill="#676B78"/>
                        <path d="M369.178 85.164C365.101 85.164 361.528 84.3873 358.46 82.834C355.392 81.2806 353.004 79.1058 351.295 76.3098C349.586 73.5137 348.732 70.2904 348.732 66.64V66.5235C348.732 62.9507 349.625 59.8828 351.412 57.3197C353.198 54.7178 355.781 52.6596 359.159 51.145C362.577 49.6305 366.693 48.7373 371.509 48.4654L394.693 47.0674V55.9217L373.198 57.2614C369.431 57.4945 366.518 58.4071 364.46 59.9993C362.441 61.5527 361.431 63.6303 361.431 66.2322V66.3487C361.431 69.0283 362.441 71.1448 364.46 72.6982C366.518 74.2515 369.237 75.0282 372.615 75.0282C375.567 75.0282 378.207 74.4263 380.538 73.2224C382.906 72.0186 384.771 70.3681 386.13 68.271C387.489 66.1351 388.169 63.7468 388.169 61.1061V42.8733C388.169 39.4947 387.12 36.8539 385.023 34.951C382.926 33.0093 379.916 32.0384 375.994 32.0384C372.382 32.0384 369.47 32.8151 367.256 34.3685C365.081 35.9219 363.722 37.9219 363.179 40.3684L363.062 40.8927H351.179L351.237 40.2519C351.548 36.718 352.732 33.553 354.79 30.7569C356.849 27.922 359.703 25.689 363.353 24.058C367.004 22.4269 371.334 21.6114 376.343 21.6114C381.353 21.6114 385.683 22.4463 389.334 24.1162C392.984 25.7861 395.819 28.1356 397.838 31.1647C399.858 34.1938 400.867 37.7471 400.867 41.8247V84.0572H388.169V74.3875H387.936C386.732 76.601 385.178 78.5233 383.275 80.1544C381.373 81.7466 379.217 82.9893 376.809 83.8825C374.441 84.7368 371.897 85.164 369.178 85.164Z" fill="#676B78"/>
                        <path d="M412.548 84.0572V0H425.189V84.0572H412.548ZM451.169 84.0572L429.499 55.6304L437.713 46.6014L465.79 84.0572H451.169ZM422.975 64.1934V48.8732H425.48L450.004 22.7764H464.858L436.14 52.9508H434.218L422.975 64.1934Z" fill="#676B78"/>
                        <path d="M494.131 85.2805C488.15 85.2805 482.985 83.999 478.636 81.4359C474.325 78.834 471.005 75.1641 468.675 70.4263C466.384 65.6497 465.238 60.0381 465.238 53.5916V53.5333C465.238 47.1645 466.403 41.5917 468.733 36.8151C471.063 31.9996 474.345 28.2715 478.578 25.6308C482.811 22.9512 487.781 21.6114 493.49 21.6114C499.238 21.6114 504.169 22.8929 508.286 25.456C512.441 27.9802 515.645 31.5724 517.897 36.2326C520.15 40.8539 521.276 46.2325 521.276 52.3683V56.6207H471.471V47.7082H515.16L508.927 56.0382V51.145C508.927 46.8344 508.267 43.2616 506.946 40.4267C505.665 37.5529 503.859 35.417 501.529 34.019C499.238 32.621 496.577 31.9219 493.548 31.9219C490.558 31.9219 487.878 32.6598 485.51 34.1355C483.141 35.6112 481.277 37.786 479.917 40.6597C478.558 43.4946 477.879 46.9897 477.879 51.145V56.0382C477.879 59.9993 478.539 63.3973 479.859 66.2322C481.218 69.0283 483.141 71.1836 485.626 72.6982C488.111 74.1739 491.043 74.9117 494.422 74.9117C496.907 74.9117 499.102 74.5428 501.004 73.8049C502.907 73.0282 504.48 72.0186 505.723 70.7758C507.004 69.4943 507.898 68.0769 508.402 66.5235L508.577 66.0575H520.577L520.461 66.6982C519.956 69.106 519.004 71.4166 517.606 73.6302C516.208 75.8437 514.383 77.8437 512.131 79.6301C509.917 81.3777 507.296 82.7563 504.267 83.766C501.237 84.7757 497.859 85.2805 494.131 85.2805Z" fill="#676B78"/>
                        <path d="M554.249 84.0572V0H567.297V84.0572H554.249Z" fill="#676B78"/>
                        <path d="M601.638 85.2805C595.58 85.2805 591.055 83.9213 588.065 81.2029C585.114 78.4457 583.638 73.9991 583.638 67.8633V32.7957H574.842V22.7764H583.638V6.81545H596.57V22.7764H608.045V32.7957H596.57V67.1642C596.57 70.271 597.249 72.4069 598.609 73.5719C599.968 74.6981 601.987 75.2612 604.667 75.2612C605.327 75.2612 605.929 75.2418 606.473 75.203C607.055 75.1253 607.579 75.0671 608.045 75.0282V84.7563C607.308 84.8728 606.376 84.9893 605.249 85.1058C604.123 85.2223 602.919 85.2805 601.638 85.2805Z" fill="#676B78"/>
                        <path d="M641.659 84.0572V0H654.707V35.5336H697.814V0H710.92V84.0572H697.814V46.8344H654.707V84.0572H641.659Z" fill="#676B78"/>
                        <path d="M740.135 85.164C736.057 85.164 732.484 84.3873 729.416 82.834C726.349 81.2806 723.96 79.1058 722.252 76.3098C720.543 73.5137 719.688 70.2904 719.688 66.64V66.5235C719.688 62.9507 720.582 59.8828 722.368 57.3197C724.154 54.7178 726.737 52.6596 730.115 51.145C733.533 49.6305 737.649 48.7373 742.465 48.4654L765.649 47.0674V55.9217L744.154 57.2614C740.387 57.4945 737.475 58.4071 735.416 59.9993C733.397 61.5527 732.387 63.6303 732.387 66.2322V66.3487C732.387 69.0283 733.397 71.1448 735.416 72.6982C737.475 74.2515 740.193 75.0282 743.572 75.0282C746.523 75.0282 749.164 74.4263 751.494 73.2224C753.863 72.0186 755.727 70.3681 757.086 68.271C758.445 66.1351 759.125 63.7468 759.125 61.1061V42.8733C759.125 39.4947 758.076 36.8539 755.979 34.951C753.882 33.0093 750.873 32.0384 746.95 32.0384C743.339 32.0384 740.426 32.8151 738.212 34.3685C736.038 35.9219 734.679 37.9219 734.135 40.3684L734.018 40.8927H722.135L722.193 40.2519C722.504 36.718 723.688 33.553 725.747 30.7569C727.805 27.922 730.659 25.689 734.31 24.058C737.96 22.4269 742.29 21.6114 747.3 21.6114C752.309 21.6114 756.639 22.4463 760.29 24.1162C763.94 25.7861 766.775 28.1356 768.795 31.1647C770.814 34.1938 771.824 37.7471 771.824 41.8247V84.0572H759.125V74.3875H758.892C757.688 76.601 756.135 78.5233 754.232 80.1544C752.329 81.7466 750.174 82.9893 747.766 83.8825C745.397 84.7368 742.853 85.164 740.135 85.164Z" fill="#676B78"/>
                        <path d="M782.747 104.445V22.7764H795.446V33.2617H795.737C796.941 30.854 798.475 28.7764 800.339 27.0288C802.242 25.2812 804.417 23.9415 806.863 23.0094C809.31 22.0774 811.989 21.6114 814.902 21.6114C820.106 21.6114 824.63 22.9123 828.475 25.5143C832.319 28.0773 835.29 31.7472 837.387 36.5238C839.484 41.2616 840.533 46.8926 840.533 53.4168V53.4751C840.533 59.9993 839.465 65.6303 837.329 70.3681C835.232 75.1059 832.28 78.7758 828.475 81.3777C824.669 83.9796 820.203 85.2805 815.077 85.2805C812.203 85.2805 809.504 84.8145 806.98 83.8825C804.494 82.9505 802.3 81.6301 800.397 79.9214C798.494 78.1738 796.922 76.1156 795.679 73.7467H795.446V104.445H782.747ZM811.582 74.3875C814.883 74.3875 817.737 73.5525 820.145 71.8826C822.552 70.1739 824.397 67.7468 825.679 64.6012C826.96 61.4556 827.601 57.7469 827.601 53.4751V53.4168C827.601 49.0674 826.96 45.3198 825.679 42.1742C824.397 39.0287 822.552 36.6209 820.145 34.951C817.737 33.2812 814.883 32.4462 811.582 32.4462C808.397 32.4462 805.582 33.32 803.135 35.0675C800.689 36.7763 798.766 39.2034 797.368 42.349C796.009 45.4558 795.329 49.145 795.329 53.4168V53.4751C795.329 57.708 796.028 61.3973 797.427 64.5429C798.825 67.6497 800.727 70.0768 803.135 71.8244C805.582 73.5331 808.397 74.3875 811.582 74.3875Z" fill="#676B78"/>
                        <path d="M849.01 104.445V22.7764H861.708V33.2617H862C863.204 30.854 864.738 28.7764 866.602 27.0288C868.504 25.2812 870.679 23.9415 873.126 23.0094C875.572 22.0774 878.252 21.6114 881.165 21.6114C886.368 21.6114 890.893 22.9123 894.737 25.5143C898.582 28.0773 901.553 31.7472 903.65 36.5238C905.747 41.2616 906.795 46.8926 906.795 53.4168V53.4751C906.795 59.9993 905.727 65.6303 903.591 70.3681C901.494 75.1059 898.543 78.7758 894.737 81.3777C890.931 83.9796 886.465 85.2805 881.339 85.2805C878.466 85.2805 875.767 84.8145 873.242 83.8825C870.757 82.9505 868.563 81.6301 866.66 79.9214C864.757 78.1738 863.184 76.1156 861.941 73.7467H861.708V104.445H849.01ZM877.844 74.3875C881.145 74.3875 883.999 73.5525 886.407 71.8826C888.815 70.1739 890.66 67.7468 891.941 64.6012C893.223 61.4556 893.863 57.7469 893.863 53.4751V53.4168C893.863 49.0674 893.223 45.3198 891.941 42.1742C890.66 39.0287 888.815 36.6209 886.407 34.951C883.999 33.2812 881.145 32.4462 877.844 32.4462C874.66 32.4462 871.844 33.32 869.398 35.0675C866.951 36.7763 865.029 39.2034 863.631 42.349C862.272 45.4558 861.592 49.145 861.592 53.4168V53.4751C861.592 57.708 862.291 61.3973 863.689 64.5429C865.087 67.6497 866.99 70.0768 869.398 71.8244C871.844 73.5331 874.66 74.3875 877.844 74.3875Z" fill="#676B78"/>
                        <path d="M941.485 85.2805C935.505 85.2805 930.34 83.999 925.99 81.4359C921.68 78.834 918.359 75.1641 916.029 70.4263C913.738 65.6497 912.593 60.0381 912.593 53.5916V53.5333C912.593 47.1645 913.758 41.5917 916.088 36.8151C918.418 31.9996 921.699 28.2715 925.932 25.6308C930.165 22.9512 935.136 21.6114 940.845 21.6114C946.592 21.6114 951.524 22.8929 955.641 25.456C959.796 27.9802 963 31.5724 965.252 36.2326C967.505 40.8539 968.631 46.2325 968.631 52.3683V56.6207H918.825V47.7082H962.514L956.281 56.0382V51.145C956.281 46.8344 955.621 43.2616 954.301 40.4267C953.019 37.5529 951.213 35.417 948.883 34.019C946.592 32.621 943.932 31.9219 940.903 31.9219C937.913 31.9219 935.233 32.6598 932.864 34.1355C930.495 35.6112 928.631 37.786 927.272 40.6597C925.913 43.4946 925.233 46.9897 925.233 51.145V56.0382C925.233 59.9993 925.893 63.3973 927.214 66.2322C928.573 69.0283 930.495 71.1836 932.981 72.6982C935.466 74.1739 938.398 74.9117 941.777 74.9117C944.262 74.9117 946.456 74.5428 948.359 73.8049C950.262 73.0282 951.835 72.0186 953.077 70.7758C954.359 69.4943 955.252 68.0769 955.757 66.5235L955.932 66.0575H967.932L967.815 66.6982C967.31 69.106 966.359 71.4166 964.961 73.6302C963.563 75.8437 961.738 77.8437 959.485 79.6301C957.272 81.3777 954.65 82.7563 951.621 83.766C948.592 84.7757 945.214 85.2805 941.485 85.2805Z" fill="#676B78"/>
                        <path d="M977.107 84.0572V22.7764H989.806V32.0384H990.039C991.67 28.9317 994.059 26.4269 997.204 24.524C1000.35 22.5823 1004.23 21.6114 1008.85 21.6114C1015.57 21.6114 1020.78 23.6502 1024.47 27.7278C1028.16 31.7666 1030 37.3199 1030 44.3878V84.0572H1017.36V46.8344C1017.36 42.2131 1016.27 38.6597 1014.1 36.1743C1011.96 33.6889 1008.72 32.4462 1004.37 32.4462C1001.42 32.4462 998.835 33.1064 996.622 34.4268C994.447 35.7471 992.758 37.5918 991.554 39.9607C990.389 42.3296 989.806 45.1257 989.806 48.3489V84.0572H977.107Z" fill="#676B78"/>
                    </svg>
                </div>
                <div class="ct-arr">
                    <svg width="64" height="104" viewBox="0 0 64 104" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_2044_2941)">
                        <path d="M57 23V78H2" stroke="#676B78" stroke-width="5"/>
                        <path d="M6 27L55 76" stroke="#676B78" stroke-width="5"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_2044_2941">
                        <rect width="104" height="64" fill="white" transform="translate(64 2.79753e-06) rotate(90)"/>
                        </clipPath>
                        </defs>
                    </svg>
                </div>
                <div class="ct-txt">
                    <svg width="237" height="104" viewBox="0 0 237 104" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.168 45.7871C4.752 45.7871 0.576 40.1711 0.576 32.3951C0.576 24.6551 5.292 19.0391 12.636 19.0391C19.296 19.0391 22.824 22.6031 23.652 27.4991H19.512C18.828 24.2591 16.416 22.4591 12.6 22.4591C6.912 22.4591 4.716 27.5711 4.716 32.3951C4.716 37.2551 6.372 42.3671 12.384 42.3671C16.632 42.3671 20.016 39.4151 20.052 35.1311H12.456V31.8191H24.084V45.2831H21.348L20.376 41.7191H20.304C18.504 44.3471 16.092 45.7871 12.168 45.7871Z" fill="#676B78"/>
                        <path d="M35.8327 45.8231C30.0007 45.8231 26.7607 41.6831 26.7607 36.0671C26.7607 30.3071 30.2167 26.3471 35.8327 26.3471C41.4127 26.3471 44.5447 30.0191 44.5447 35.7071C44.5447 36.2111 44.5447 36.7511 44.5087 37.0391H30.3967C30.4687 40.0991 32.2687 42.9431 35.9047 42.9431C39.1447 42.9431 40.4047 40.8551 40.7287 39.6311H44.3287C43.3567 43.1591 40.6567 45.8231 35.8327 45.8231ZM30.3967 34.2671H40.8727C40.8727 31.3871 38.8567 29.2271 35.7247 29.2271C32.7727 29.2271 30.6127 31.2431 30.3967 34.2671Z" fill="#676B78"/>
                        <path d="M53.2915 45.4991C50.2675 45.4991 48.4315 44.3471 48.4315 40.0991V29.8391H45.7675V26.9231H48.4315V21.0191H51.9595V26.9231H55.4875V29.8391H51.9595V40.2071C51.9595 42.1511 52.4995 42.5831 54.0115 42.5831C54.6235 42.5831 54.9115 42.5471 55.5235 42.4391V45.2831C54.6235 45.4631 54.0475 45.4991 53.2915 45.4991Z" fill="#676B78"/>
                        <path d="M71.0227 45.7871C67.3507 45.7871 65.0107 43.6631 65.0107 40.5311C65.0107 36.4271 68.1067 35.2031 72.6787 34.3391C75.5587 33.7991 77.3227 33.4391 77.3227 31.6391C77.3227 30.3071 76.5307 29.1911 73.8307 29.1911C70.6267 29.1911 69.6547 30.1991 69.4747 32.6471H65.8747C66.0547 29.1191 68.3587 26.3471 73.9747 26.3471C77.7547 26.3471 80.7787 27.9311 80.7787 32.6831V41.1071C80.7787 42.4391 80.9587 43.1231 81.6427 43.1231C81.7507 43.1231 81.8587 43.1231 82.0747 43.0871V45.2471C81.4627 45.3911 80.8507 45.4631 80.2747 45.4631C78.5107 45.4631 77.5747 44.7791 77.3587 42.6911H77.2867C76.0987 44.5991 74.0107 45.7871 71.0227 45.7871ZM68.6827 40.2791C68.6827 42.0071 69.6187 42.9431 71.8147 42.9431C74.9827 42.9431 77.3227 41.3231 77.3227 38.1191V35.4911C76.7467 36.0311 75.1627 36.4271 73.2907 36.8231C70.0507 37.4711 68.6827 38.3711 68.6827 40.2791Z" fill="#676B78"/>
                        <path d="M104.547 45.7871C96.8431 45.7871 91.9111 40.1351 91.9111 32.3951C91.9111 24.6551 96.8431 19.0391 104.547 19.0391C112.251 19.0391 117.183 24.6551 117.183 32.3951C117.183 35.9951 116.139 39.1271 114.231 41.4671L117.327 44.5631L115.023 46.9031L111.819 43.6631C109.839 45.0311 107.391 45.7871 104.547 45.7871ZM96.0511 32.3951C96.0511 37.6871 98.4631 42.3671 104.547 42.3671C106.455 42.3671 108.003 41.8991 109.227 41.1071L105.879 37.7231L108.183 35.3831L111.495 38.7311C112.575 36.9671 113.043 34.7351 113.043 32.3951C113.043 27.1031 110.631 22.4591 104.547 22.4591C98.4631 22.4591 96.0511 27.1031 96.0511 32.3951Z" fill="#676B78"/>
                        <path d="M126.239 45.7871C122.855 45.7871 120.119 43.8431 120.119 39.6311V26.9231H123.647V38.6591C123.647 41.1431 124.727 42.7991 127.391 42.7991C130.415 42.7991 132.359 40.9631 132.359 38.1911V26.9231H135.887V45.2831H132.359V42.9791H132.287C131.315 44.3831 129.407 45.7871 126.239 45.7871Z" fill="#676B78"/>
                        <path d="M148.053 45.8231C142.329 45.8231 138.873 41.8631 138.873 36.1031C138.873 30.3791 142.329 26.3471 148.089 26.3471C153.777 26.3471 157.233 30.3431 157.233 36.0671C157.233 41.8271 153.777 45.8231 148.053 45.8231ZM142.545 36.1031C142.545 39.9191 144.273 42.9071 148.089 42.9071C151.833 42.9071 153.561 39.9191 153.561 36.1031C153.561 32.2511 151.833 29.2991 148.089 29.2991C144.273 29.2991 142.545 32.2511 142.545 36.1031Z" fill="#676B78"/>
                        <path d="M165.932 45.4991C162.908 45.4991 161.072 44.3471 161.072 40.0991V29.8391H158.408V26.9231H161.072V21.0191H164.6V26.9231H168.128V29.8391H164.6V40.2071C164.6 42.1511 165.14 42.5831 166.652 42.5831C167.264 42.5831 167.552 42.5471 168.164 42.4391V45.2831C167.264 45.4631 166.688 45.4991 165.932 45.4991Z" fill="#676B78"/>
                        <path d="M178.813 45.8231C172.981 45.8231 169.741 41.6831 169.741 36.0671C169.741 30.3071 173.197 26.3471 178.813 26.3471C184.393 26.3471 187.525 30.0191 187.525 35.7071C187.525 36.2111 187.525 36.7511 187.489 37.0391H173.377C173.449 40.0991 175.249 42.9431 178.885 42.9431C182.125 42.9431 183.385 40.8551 183.709 39.6311H187.309C186.337 43.1591 183.637 45.8231 178.813 45.8231ZM173.377 34.2671H183.853C183.853 31.3871 181.837 29.2271 178.705 29.2271C175.753 29.2271 173.593 31.2431 173.377 34.2671Z" fill="#676B78"/>
                        <path d="M2.52 60.6911C2.52 56.4431 4.284 55.2911 7.272 55.2911C7.956 55.2911 8.496 55.3631 9.504 55.5071V58.3511C8.784 58.2791 8.496 58.2431 7.992 58.2431C6.516 58.2431 6.084 58.6751 6.084 60.6191V62.9231H9.504V65.8391H6.084V81.2831H2.52V65.8391H0V62.9231H2.52V60.6911Z" fill="#676B78"/>
                        <path d="M19.557 81.8231C13.833 81.8231 10.377 77.8631 10.377 72.1031C10.377 66.3791 13.833 62.3471 19.593 62.3471C25.281 62.3471 28.737 66.3431 28.737 72.0671C28.737 77.8271 25.281 81.8231 19.557 81.8231ZM14.049 72.1031C14.049 75.9191 15.777 78.9071 19.593 78.9071C23.337 78.9071 25.065 75.9191 25.065 72.1031C25.065 68.2511 23.337 65.2991 19.593 65.2991C15.777 65.2991 14.049 68.2511 14.049 72.1031Z" fill="#676B78"/>
                        <path d="M35.2676 71.7791V81.2831H31.7396V62.9231H35.2676V66.4151H35.3396C36.3116 64.1111 37.7876 62.4911 40.2716 62.4911C40.9196 62.4911 41.4236 62.5271 41.9636 62.5991V65.9831C41.5316 65.9111 41.2076 65.8751 40.7756 65.8751C37.5716 65.8751 35.2676 68.2871 35.2676 71.7791Z" fill="#676B78"/>
                        <path d="M52.5023 87.7271C51.7103 87.7271 51.1703 87.6551 50.2343 87.4751V84.5951C50.8463 84.6671 51.1703 84.7031 51.7463 84.7031C53.1503 84.7031 54.8063 83.9831 55.5263 81.1031L48.1103 62.9231H51.9623L57.3263 76.9631H57.3983L62.4383 62.9231H66.1463L58.8743 81.7151C57.1103 86.2511 55.3463 87.7271 52.5023 87.7271Z" fill="#676B78"/>
                        <path d="M75.8422 81.8231C70.1182 81.8231 66.6622 77.8631 66.6622 72.1031C66.6622 66.3791 70.1182 62.3471 75.8782 62.3471C81.5662 62.3471 85.0222 66.3431 85.0222 72.0671C85.0222 77.8271 81.5662 81.8231 75.8422 81.8231ZM70.3342 72.1031C70.3342 75.9191 72.0622 78.9071 75.8782 78.9071C79.6222 78.9071 81.3502 75.9191 81.3502 72.1031C81.3502 68.2511 79.6222 65.2991 75.8782 65.2991C72.0622 65.2991 70.3342 68.2511 70.3342 72.1031Z" fill="#676B78"/>
                        <path d="M94.0008 81.7871C90.6168 81.7871 87.8808 79.8431 87.8808 75.6311V62.9231H91.4088V74.6591C91.4088 77.1431 92.4888 78.7991 95.1528 78.7991C98.1768 78.7991 100.121 76.9631 100.121 74.1911V62.9231H103.649V81.2831H100.121V78.9791H100.049C99.0768 80.3831 97.1688 81.7871 94.0008 81.7871Z" fill="#676B78"/>
                        <path d="M111.135 71.7791V81.2831H107.607V62.9231H111.135V66.4151H111.207C112.179 64.1111 113.655 62.4911 116.139 62.4911C116.787 62.4911 117.291 62.5271 117.831 62.5991V65.9831C117.399 65.9111 117.075 65.8751 116.643 65.8751C113.439 65.8751 111.135 68.2871 111.135 71.7791Z" fill="#676B78"/>
                        <path d="M127.413 81.2831V55.5431H138.141C143.001 55.5431 146.565 57.8111 146.565 63.2111C146.565 68.6111 143.001 70.8431 138.141 70.8431H131.373V81.2831H127.413ZM131.373 67.4231H137.961C140.949 67.4231 142.461 66.0911 142.461 63.2111C142.461 60.2951 140.949 58.9631 137.961 58.9631H131.373V67.4231Z" fill="#676B78"/>
                        <path d="M152.584 71.7791V81.2831H149.056V62.9231H152.584V66.4151H152.656C153.628 64.1111 155.104 62.4911 157.588 62.4911C158.236 62.4911 158.74 62.5271 159.28 62.5991V65.9831C158.848 65.9111 158.524 65.8751 158.092 65.8751C154.888 65.8751 152.584 68.2871 152.584 71.7791Z" fill="#676B78"/>
                        <path d="M169.006 81.8231C163.282 81.8231 159.826 77.8631 159.826 72.1031C159.826 66.3791 163.282 62.3471 169.042 62.3471C174.73 62.3471 178.186 66.3431 178.186 72.0671C178.186 77.8271 174.73 81.8231 169.006 81.8231ZM163.498 72.1031C163.498 75.9191 165.226 78.9071 169.042 78.9071C172.786 78.9071 174.514 75.9191 174.514 72.1031C174.514 68.2511 172.786 65.2991 169.042 65.2991C165.226 65.2991 163.498 68.2511 163.498 72.1031Z" fill="#676B78"/>
                        <path d="M180.325 87.7991C179.569 87.7991 179.029 87.7271 178.129 87.5831V84.6671C178.705 84.7391 178.993 84.7751 179.533 84.7751C180.649 84.7751 181.189 84.1631 181.189 82.1111V62.9231H184.717V82.2551C184.717 86.1791 182.917 87.7991 180.325 87.7991ZM180.973 59.6471V55.8311H184.969V59.6471H180.973Z" fill="#676B78"/>
                        <path d="M196.813 81.8231C190.981 81.8231 187.741 77.6831 187.741 72.0671C187.741 66.3071 191.197 62.3471 196.813 62.3471C202.393 62.3471 205.525 66.0191 205.525 71.7071C205.525 72.2111 205.525 72.7511 205.489 73.0391H191.377C191.449 76.0991 193.249 78.9431 196.885 78.9431C200.125 78.9431 201.385 76.8551 201.709 75.6311H205.309C204.337 79.1591 201.637 81.8231 196.813 81.8231ZM191.377 70.2671H201.853C201.853 67.3871 199.837 65.2271 196.705 65.2271C193.753 65.2271 191.593 67.2431 191.377 70.2671Z" fill="#676B78"/>
                        <path d="M216.569 81.8231C211.097 81.8231 207.533 77.8631 207.533 72.1031C207.533 66.3431 211.097 62.3831 216.533 62.3831C221.249 62.3831 224.381 65.4431 224.813 69.5831H221.177C220.997 67.6751 219.917 65.2991 216.569 65.2991C212.645 65.2991 211.205 68.6471 211.205 72.1031C211.205 75.5591 212.645 78.8711 216.569 78.8711C219.953 78.8711 220.997 76.5671 221.177 74.4791H224.813C224.561 78.6911 221.285 81.8231 216.569 81.8231Z" fill="#676B78"/>
                        <path d="M233.538 81.4991C230.514 81.4991 228.678 80.3471 228.678 76.0991V65.8391H226.014V62.9231H228.678V57.0191H232.206V62.9231H235.734V65.8391H232.206V76.2071C232.206 78.1511 232.746 78.5831 234.258 78.5831C234.87 78.5831 235.158 78.5471 235.77 78.4391V81.2831C234.87 81.4631 234.294 81.4991 233.538 81.4991Z" fill="#676B78"/>
                        </svg>
                </div>
                <div class="ct-arr">
                    <svg width="64" height="104" viewBox="0 0 64 104" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_2044_2941)">
                        <path d="M57 23V78H2" stroke="#676B78" stroke-width="5"/>
                        <path d="M6 27L55 76" stroke="#676B78" stroke-width="5"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_2044_2941">
                        <rect width="104" height="64" fill="white" transform="translate(64 2.79753e-06) rotate(90)"/>
                        </clipPath>
                        </defs>
                    </svg>
                </div>
                <div class="ct-txt">
                    <svg width="1030" height="105" viewBox="0 0 1030 105" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 84.0572V0H13.0484V72.7564H52.2518V84.0572H0Z" fill="#676B78"/>
                        <path d="M85.4273 85.2805C79.4468 85.2805 74.2818 83.999 69.9324 81.4359C65.6217 78.834 62.3014 75.1641 59.9713 70.4263C57.6801 65.6497 56.5345 60.0381 56.5345 53.5916V53.5333C56.5345 47.1645 57.6995 41.5917 60.0296 36.8151C62.3596 31.9996 65.6412 28.2715 69.8741 25.6308C74.1071 22.9512 79.0779 21.6114 84.7866 21.6114C90.5341 21.6114 95.466 22.8929 99.5825 25.456C103.738 27.9802 106.942 31.5724 109.194 36.2326C111.446 40.8539 112.573 46.2325 112.573 52.3683V56.6207H62.7674V47.7082H106.456L100.223 56.0382V51.145C100.223 46.8344 99.5631 43.2616 98.2427 40.4267C96.9612 37.5529 95.1554 35.417 92.8253 34.019C90.5341 32.621 87.8739 31.9219 84.8448 31.9219C81.8546 31.9219 79.175 32.6598 76.8061 34.1355C74.4372 35.6112 72.5731 37.786 71.2139 40.6597C69.8547 43.4946 69.1751 46.9897 69.1751 51.145V56.0382C69.1751 59.9993 69.8353 63.3973 71.1557 66.2322C72.5149 69.0283 74.4372 71.1836 76.9226 72.6982C79.408 74.1739 82.34 74.9117 85.7186 74.9117C88.204 74.9117 90.3981 74.5428 92.301 73.8049C94.2039 73.0282 95.7767 72.0186 97.0194 70.7758C98.301 69.4943 99.1941 68.0769 99.699 66.5235L99.8738 66.0575H111.874L111.757 66.6982C111.252 69.106 110.301 71.4166 108.903 73.6302C107.505 75.8437 105.68 77.8437 103.427 79.6301C101.214 81.3777 98.5922 82.7563 95.5631 83.766C92.534 84.7757 89.1554 85.2805 85.4273 85.2805Z" fill="#676B78"/>
                        <path d="M142.661 85.2805C136.603 85.2805 132.078 83.9213 129.088 81.2029C126.137 78.4457 124.661 73.9991 124.661 67.8633V32.7957H115.865V22.7764H124.661V6.81545H137.593V22.7764H149.069V32.7957H137.593V67.1642C137.593 70.271 138.273 72.4069 139.632 73.5719C140.991 74.6981 143.01 75.2612 145.69 75.2612C146.35 75.2612 146.952 75.2418 147.496 75.203C148.078 75.1253 148.602 75.0671 149.069 75.0282V84.7563C148.331 84.8728 147.399 84.9893 146.272 85.1058C145.146 85.2223 143.942 85.2805 142.661 85.2805Z" fill="#676B78"/>
                        <path d="M155.273 29.8249L160.108 0H172.691L164.186 29.8249H155.273Z" fill="#676B78"/>
                        <path d="M197.07 85.2805C191.944 85.2805 187.536 84.5038 183.847 82.9505C180.197 81.3582 177.323 79.1641 175.226 76.368C173.129 73.5331 171.867 70.2516 171.439 66.5235L171.381 65.9992H183.847L183.964 66.5817C184.585 69.3778 185.964 71.572 188.099 73.1642C190.235 74.7175 193.226 75.4942 197.07 75.4942C199.633 75.4942 201.808 75.1836 203.594 74.5622C205.381 73.902 206.759 72.97 207.73 71.7661C208.701 70.5623 209.187 69.1254 209.187 67.4555V67.3972C209.187 65.4167 208.546 63.8245 207.264 62.6206C205.983 61.4167 203.692 60.407 200.391 59.5915L190.371 57.3197C186.488 56.4265 183.245 55.2032 180.643 53.6498C178.08 52.0965 176.158 50.1936 174.876 47.9412C173.595 45.6888 172.954 43.0869 172.954 40.1354V40.0772C172.954 36.3879 173.944 33.1646 175.925 30.4074C177.905 27.6113 180.682 25.456 184.255 23.9415C187.828 22.3881 191.964 21.6114 196.662 21.6114C201.478 21.6114 205.633 22.4269 209.128 24.058C212.623 25.689 215.342 27.922 217.284 30.7569C219.264 33.553 220.352 36.6792 220.546 40.1354V40.8345H208.721L208.662 40.4267C208.313 37.7471 207.109 35.5724 205.051 33.9025C202.993 32.1938 200.196 31.3394 196.662 31.3394C194.41 31.3394 192.449 31.6695 190.779 32.3297C189.109 32.9899 187.828 33.9413 186.934 35.184C186.041 36.3879 185.595 37.8054 185.595 39.4364V39.4947C185.595 40.7374 185.886 41.8636 186.468 42.8733C187.09 43.883 188.08 44.7567 189.439 45.4946C190.798 46.2325 192.546 46.8538 194.682 47.3587L204.701 49.6887C210.954 51.1256 215.381 53.1644 217.983 55.8052C220.623 58.4071 221.944 61.9216 221.944 66.3487V66.407C221.944 70.1351 220.876 73.4166 218.74 76.2515C216.604 79.0864 213.653 81.3 209.886 82.8922C206.158 84.4844 201.886 85.2805 197.07 85.2805Z" fill="#676B78"/>
                        <path d="M254.975 84.0572V0H270.062L297.266 67.0477H297.615L324.819 0H339.964V84.0572H328.022V22.0774H322.023L335.653 2.33007L302.275 84.0572H292.605L259.285 2.33007L272.916 22.0774H266.916V84.0572H254.975Z" fill="#676B78"/>
                        <path d="M369.178 85.164C365.101 85.164 361.528 84.3873 358.46 82.834C355.392 81.2806 353.004 79.1058 351.295 76.3098C349.586 73.5137 348.732 70.2904 348.732 66.64V66.5235C348.732 62.9507 349.625 59.8828 351.412 57.3197C353.198 54.7178 355.781 52.6596 359.159 51.145C362.577 49.6305 366.693 48.7373 371.509 48.4654L394.693 47.0674V55.9217L373.198 57.2614C369.431 57.4945 366.518 58.4071 364.46 59.9993C362.441 61.5527 361.431 63.6303 361.431 66.2322V66.3487C361.431 69.0283 362.441 71.1448 364.46 72.6982C366.518 74.2515 369.237 75.0282 372.615 75.0282C375.567 75.0282 378.207 74.4263 380.538 73.2224C382.906 72.0186 384.771 70.3681 386.13 68.271C387.489 66.1351 388.169 63.7468 388.169 61.1061V42.8733C388.169 39.4947 387.12 36.8539 385.023 34.951C382.926 33.0093 379.916 32.0384 375.994 32.0384C372.382 32.0384 369.47 32.8151 367.256 34.3685C365.081 35.9219 363.722 37.9219 363.179 40.3684L363.062 40.8927H351.179L351.237 40.2519C351.548 36.718 352.732 33.553 354.79 30.7569C356.849 27.922 359.703 25.689 363.353 24.058C367.004 22.4269 371.334 21.6114 376.343 21.6114C381.353 21.6114 385.683 22.4463 389.334 24.1162C392.984 25.7861 395.819 28.1356 397.838 31.1647C399.858 34.1938 400.867 37.7471 400.867 41.8247V84.0572H388.169V74.3875H387.936C386.732 76.601 385.178 78.5233 383.275 80.1544C381.373 81.7466 379.217 82.9893 376.809 83.8825C374.441 84.7368 371.897 85.164 369.178 85.164Z" fill="#676B78"/>
                        <path d="M412.548 84.0572V0H425.189V84.0572H412.548ZM451.169 84.0572L429.499 55.6304L437.713 46.6014L465.79 84.0572H451.169ZM422.975 64.1934V48.8732H425.48L450.004 22.7764H464.858L436.14 52.9508H434.218L422.975 64.1934Z" fill="#676B78"/>
                        <path d="M494.131 85.2805C488.15 85.2805 482.985 83.999 478.636 81.4359C474.325 78.834 471.005 75.1641 468.675 70.4263C466.384 65.6497 465.238 60.0381 465.238 53.5916V53.5333C465.238 47.1645 466.403 41.5917 468.733 36.8151C471.063 31.9996 474.345 28.2715 478.578 25.6308C482.811 22.9512 487.781 21.6114 493.49 21.6114C499.238 21.6114 504.169 22.8929 508.286 25.456C512.441 27.9802 515.645 31.5724 517.897 36.2326C520.15 40.8539 521.276 46.2325 521.276 52.3683V56.6207H471.471V47.7082H515.16L508.927 56.0382V51.145C508.927 46.8344 508.267 43.2616 506.946 40.4267C505.665 37.5529 503.859 35.417 501.529 34.019C499.238 32.621 496.577 31.9219 493.548 31.9219C490.558 31.9219 487.878 32.6598 485.51 34.1355C483.141 35.6112 481.277 37.786 479.917 40.6597C478.558 43.4946 477.879 46.9897 477.879 51.145V56.0382C477.879 59.9993 478.539 63.3973 479.859 66.2322C481.218 69.0283 483.141 71.1836 485.626 72.6982C488.111 74.1739 491.043 74.9117 494.422 74.9117C496.907 74.9117 499.102 74.5428 501.004 73.8049C502.907 73.0282 504.48 72.0186 505.723 70.7758C507.004 69.4943 507.898 68.0769 508.402 66.5235L508.577 66.0575H520.577L520.461 66.6982C519.956 69.106 519.004 71.4166 517.606 73.6302C516.208 75.8437 514.383 77.8437 512.131 79.6301C509.917 81.3777 507.296 82.7563 504.267 83.766C501.237 84.7757 497.859 85.2805 494.131 85.2805Z" fill="#676B78"/>
                        <path d="M554.249 84.0572V0H567.297V84.0572H554.249Z" fill="#676B78"/>
                        <path d="M601.638 85.2805C595.58 85.2805 591.055 83.9213 588.065 81.2029C585.114 78.4457 583.638 73.9991 583.638 67.8633V32.7957H574.842V22.7764H583.638V6.81545H596.57V22.7764H608.045V32.7957H596.57V67.1642C596.57 70.271 597.249 72.4069 598.609 73.5719C599.968 74.6981 601.987 75.2612 604.667 75.2612C605.327 75.2612 605.929 75.2418 606.473 75.203C607.055 75.1253 607.579 75.0671 608.045 75.0282V84.7563C607.308 84.8728 606.376 84.9893 605.249 85.1058C604.123 85.2223 602.919 85.2805 601.638 85.2805Z" fill="#676B78"/>
                        <path d="M641.659 84.0572V0H654.707V35.5336H697.814V0H710.92V84.0572H697.814V46.8344H654.707V84.0572H641.659Z" fill="#676B78"/>
                        <path d="M740.135 85.164C736.057 85.164 732.484 84.3873 729.416 82.834C726.349 81.2806 723.96 79.1058 722.252 76.3098C720.543 73.5137 719.688 70.2904 719.688 66.64V66.5235C719.688 62.9507 720.582 59.8828 722.368 57.3197C724.154 54.7178 726.737 52.6596 730.115 51.145C733.533 49.6305 737.649 48.7373 742.465 48.4654L765.649 47.0674V55.9217L744.154 57.2614C740.387 57.4945 737.475 58.4071 735.416 59.9993C733.397 61.5527 732.387 63.6303 732.387 66.2322V66.3487C732.387 69.0283 733.397 71.1448 735.416 72.6982C737.475 74.2515 740.193 75.0282 743.572 75.0282C746.523 75.0282 749.164 74.4263 751.494 73.2224C753.863 72.0186 755.727 70.3681 757.086 68.271C758.445 66.1351 759.125 63.7468 759.125 61.1061V42.8733C759.125 39.4947 758.076 36.8539 755.979 34.951C753.882 33.0093 750.873 32.0384 746.95 32.0384C743.339 32.0384 740.426 32.8151 738.212 34.3685C736.038 35.9219 734.679 37.9219 734.135 40.3684L734.018 40.8927H722.135L722.193 40.2519C722.504 36.718 723.688 33.553 725.747 30.7569C727.805 27.922 730.659 25.689 734.31 24.058C737.96 22.4269 742.29 21.6114 747.3 21.6114C752.309 21.6114 756.639 22.4463 760.29 24.1162C763.94 25.7861 766.775 28.1356 768.795 31.1647C770.814 34.1938 771.824 37.7471 771.824 41.8247V84.0572H759.125V74.3875H758.892C757.688 76.601 756.135 78.5233 754.232 80.1544C752.329 81.7466 750.174 82.9893 747.766 83.8825C745.397 84.7368 742.853 85.164 740.135 85.164Z" fill="#676B78"/>
                        <path d="M782.747 104.445V22.7764H795.446V33.2617H795.737C796.941 30.854 798.475 28.7764 800.339 27.0288C802.242 25.2812 804.417 23.9415 806.863 23.0094C809.31 22.0774 811.989 21.6114 814.902 21.6114C820.106 21.6114 824.63 22.9123 828.475 25.5143C832.319 28.0773 835.29 31.7472 837.387 36.5238C839.484 41.2616 840.533 46.8926 840.533 53.4168V53.4751C840.533 59.9993 839.465 65.6303 837.329 70.3681C835.232 75.1059 832.28 78.7758 828.475 81.3777C824.669 83.9796 820.203 85.2805 815.077 85.2805C812.203 85.2805 809.504 84.8145 806.98 83.8825C804.494 82.9505 802.3 81.6301 800.397 79.9214C798.494 78.1738 796.922 76.1156 795.679 73.7467H795.446V104.445H782.747ZM811.582 74.3875C814.883 74.3875 817.737 73.5525 820.145 71.8826C822.552 70.1739 824.397 67.7468 825.679 64.6012C826.96 61.4556 827.601 57.7469 827.601 53.4751V53.4168C827.601 49.0674 826.96 45.3198 825.679 42.1742C824.397 39.0287 822.552 36.6209 820.145 34.951C817.737 33.2812 814.883 32.4462 811.582 32.4462C808.397 32.4462 805.582 33.32 803.135 35.0675C800.689 36.7763 798.766 39.2034 797.368 42.349C796.009 45.4558 795.329 49.145 795.329 53.4168V53.4751C795.329 57.708 796.028 61.3973 797.427 64.5429C798.825 67.6497 800.727 70.0768 803.135 71.8244C805.582 73.5331 808.397 74.3875 811.582 74.3875Z" fill="#676B78"/>
                        <path d="M849.01 104.445V22.7764H861.708V33.2617H862C863.204 30.854 864.738 28.7764 866.602 27.0288C868.504 25.2812 870.679 23.9415 873.126 23.0094C875.572 22.0774 878.252 21.6114 881.165 21.6114C886.368 21.6114 890.893 22.9123 894.737 25.5143C898.582 28.0773 901.553 31.7472 903.65 36.5238C905.747 41.2616 906.795 46.8926 906.795 53.4168V53.4751C906.795 59.9993 905.727 65.6303 903.591 70.3681C901.494 75.1059 898.543 78.7758 894.737 81.3777C890.931 83.9796 886.465 85.2805 881.339 85.2805C878.466 85.2805 875.767 84.8145 873.242 83.8825C870.757 82.9505 868.563 81.6301 866.66 79.9214C864.757 78.1738 863.184 76.1156 861.941 73.7467H861.708V104.445H849.01ZM877.844 74.3875C881.145 74.3875 883.999 73.5525 886.407 71.8826C888.815 70.1739 890.66 67.7468 891.941 64.6012C893.223 61.4556 893.863 57.7469 893.863 53.4751V53.4168C893.863 49.0674 893.223 45.3198 891.941 42.1742C890.66 39.0287 888.815 36.6209 886.407 34.951C883.999 33.2812 881.145 32.4462 877.844 32.4462C874.66 32.4462 871.844 33.32 869.398 35.0675C866.951 36.7763 865.029 39.2034 863.631 42.349C862.272 45.4558 861.592 49.145 861.592 53.4168V53.4751C861.592 57.708 862.291 61.3973 863.689 64.5429C865.087 67.6497 866.99 70.0768 869.398 71.8244C871.844 73.5331 874.66 74.3875 877.844 74.3875Z" fill="#676B78"/>
                        <path d="M941.485 85.2805C935.505 85.2805 930.34 83.999 925.99 81.4359C921.68 78.834 918.359 75.1641 916.029 70.4263C913.738 65.6497 912.593 60.0381 912.593 53.5916V53.5333C912.593 47.1645 913.758 41.5917 916.088 36.8151C918.418 31.9996 921.699 28.2715 925.932 25.6308C930.165 22.9512 935.136 21.6114 940.845 21.6114C946.592 21.6114 951.524 22.8929 955.641 25.456C959.796 27.9802 963 31.5724 965.252 36.2326C967.505 40.8539 968.631 46.2325 968.631 52.3683V56.6207H918.825V47.7082H962.514L956.281 56.0382V51.145C956.281 46.8344 955.621 43.2616 954.301 40.4267C953.019 37.5529 951.213 35.417 948.883 34.019C946.592 32.621 943.932 31.9219 940.903 31.9219C937.913 31.9219 935.233 32.6598 932.864 34.1355C930.495 35.6112 928.631 37.786 927.272 40.6597C925.913 43.4946 925.233 46.9897 925.233 51.145V56.0382C925.233 59.9993 925.893 63.3973 927.214 66.2322C928.573 69.0283 930.495 71.1836 932.981 72.6982C935.466 74.1739 938.398 74.9117 941.777 74.9117C944.262 74.9117 946.456 74.5428 948.359 73.8049C950.262 73.0282 951.835 72.0186 953.077 70.7758C954.359 69.4943 955.252 68.0769 955.757 66.5235L955.932 66.0575H967.932L967.815 66.6982C967.31 69.106 966.359 71.4166 964.961 73.6302C963.563 75.8437 961.738 77.8437 959.485 79.6301C957.272 81.3777 954.65 82.7563 951.621 83.766C948.592 84.7757 945.214 85.2805 941.485 85.2805Z" fill="#676B78"/>
                        <path d="M977.107 84.0572V22.7764H989.806V32.0384H990.039C991.67 28.9317 994.059 26.4269 997.204 24.524C1000.35 22.5823 1004.23 21.6114 1008.85 21.6114C1015.57 21.6114 1020.78 23.6502 1024.47 27.7278C1028.16 31.7666 1030 37.3199 1030 44.3878V84.0572H1017.36V46.8344C1017.36 42.2131 1016.27 38.6597 1014.1 36.1743C1011.96 33.6889 1008.72 32.4462 1004.37 32.4462C1001.42 32.4462 998.835 33.1064 996.622 34.4268C994.447 35.7471 992.758 37.5918 991.554 39.9607C990.389 42.3296 989.806 45.1257 989.806 48.3489V84.0572H977.107Z" fill="#676B78"/>
                    </svg>
                </div>
            </div>
            <div class="ct-rolling fx fx-ac" aria-hidden>
                <div class="ct-txt">
                    <svg width="1030" height="105" viewBox="0 0 1030 105" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 84.0572V0H13.0484V72.7564H52.2518V84.0572H0Z" fill="#676B78"/>
                        <path d="M85.4273 85.2805C79.4468 85.2805 74.2818 83.999 69.9324 81.4359C65.6217 78.834 62.3014 75.1641 59.9713 70.4263C57.6801 65.6497 56.5345 60.0381 56.5345 53.5916V53.5333C56.5345 47.1645 57.6995 41.5917 60.0296 36.8151C62.3596 31.9996 65.6412 28.2715 69.8741 25.6308C74.1071 22.9512 79.0779 21.6114 84.7866 21.6114C90.5341 21.6114 95.466 22.8929 99.5825 25.456C103.738 27.9802 106.942 31.5724 109.194 36.2326C111.446 40.8539 112.573 46.2325 112.573 52.3683V56.6207H62.7674V47.7082H106.456L100.223 56.0382V51.145C100.223 46.8344 99.5631 43.2616 98.2427 40.4267C96.9612 37.5529 95.1554 35.417 92.8253 34.019C90.5341 32.621 87.8739 31.9219 84.8448 31.9219C81.8546 31.9219 79.175 32.6598 76.8061 34.1355C74.4372 35.6112 72.5731 37.786 71.2139 40.6597C69.8547 43.4946 69.1751 46.9897 69.1751 51.145V56.0382C69.1751 59.9993 69.8353 63.3973 71.1557 66.2322C72.5149 69.0283 74.4372 71.1836 76.9226 72.6982C79.408 74.1739 82.34 74.9117 85.7186 74.9117C88.204 74.9117 90.3981 74.5428 92.301 73.8049C94.2039 73.0282 95.7767 72.0186 97.0194 70.7758C98.301 69.4943 99.1941 68.0769 99.699 66.5235L99.8738 66.0575H111.874L111.757 66.6982C111.252 69.106 110.301 71.4166 108.903 73.6302C107.505 75.8437 105.68 77.8437 103.427 79.6301C101.214 81.3777 98.5922 82.7563 95.5631 83.766C92.534 84.7757 89.1554 85.2805 85.4273 85.2805Z" fill="#676B78"/>
                        <path d="M142.661 85.2805C136.603 85.2805 132.078 83.9213 129.088 81.2029C126.137 78.4457 124.661 73.9991 124.661 67.8633V32.7957H115.865V22.7764H124.661V6.81545H137.593V22.7764H149.069V32.7957H137.593V67.1642C137.593 70.271 138.273 72.4069 139.632 73.5719C140.991 74.6981 143.01 75.2612 145.69 75.2612C146.35 75.2612 146.952 75.2418 147.496 75.203C148.078 75.1253 148.602 75.0671 149.069 75.0282V84.7563C148.331 84.8728 147.399 84.9893 146.272 85.1058C145.146 85.2223 143.942 85.2805 142.661 85.2805Z" fill="#676B78"/>
                        <path d="M155.273 29.8249L160.108 0H172.691L164.186 29.8249H155.273Z" fill="#676B78"/>
                        <path d="M197.07 85.2805C191.944 85.2805 187.536 84.5038 183.847 82.9505C180.197 81.3582 177.323 79.1641 175.226 76.368C173.129 73.5331 171.867 70.2516 171.439 66.5235L171.381 65.9992H183.847L183.964 66.5817C184.585 69.3778 185.964 71.572 188.099 73.1642C190.235 74.7175 193.226 75.4942 197.07 75.4942C199.633 75.4942 201.808 75.1836 203.594 74.5622C205.381 73.902 206.759 72.97 207.73 71.7661C208.701 70.5623 209.187 69.1254 209.187 67.4555V67.3972C209.187 65.4167 208.546 63.8245 207.264 62.6206C205.983 61.4167 203.692 60.407 200.391 59.5915L190.371 57.3197C186.488 56.4265 183.245 55.2032 180.643 53.6498C178.08 52.0965 176.158 50.1936 174.876 47.9412C173.595 45.6888 172.954 43.0869 172.954 40.1354V40.0772C172.954 36.3879 173.944 33.1646 175.925 30.4074C177.905 27.6113 180.682 25.456 184.255 23.9415C187.828 22.3881 191.964 21.6114 196.662 21.6114C201.478 21.6114 205.633 22.4269 209.128 24.058C212.623 25.689 215.342 27.922 217.284 30.7569C219.264 33.553 220.352 36.6792 220.546 40.1354V40.8345H208.721L208.662 40.4267C208.313 37.7471 207.109 35.5724 205.051 33.9025C202.993 32.1938 200.196 31.3394 196.662 31.3394C194.41 31.3394 192.449 31.6695 190.779 32.3297C189.109 32.9899 187.828 33.9413 186.934 35.184C186.041 36.3879 185.595 37.8054 185.595 39.4364V39.4947C185.595 40.7374 185.886 41.8636 186.468 42.8733C187.09 43.883 188.08 44.7567 189.439 45.4946C190.798 46.2325 192.546 46.8538 194.682 47.3587L204.701 49.6887C210.954 51.1256 215.381 53.1644 217.983 55.8052C220.623 58.4071 221.944 61.9216 221.944 66.3487V66.407C221.944 70.1351 220.876 73.4166 218.74 76.2515C216.604 79.0864 213.653 81.3 209.886 82.8922C206.158 84.4844 201.886 85.2805 197.07 85.2805Z" fill="#676B78"/>
                        <path d="M254.975 84.0572V0H270.062L297.266 67.0477H297.615L324.819 0H339.964V84.0572H328.022V22.0774H322.023L335.653 2.33007L302.275 84.0572H292.605L259.285 2.33007L272.916 22.0774H266.916V84.0572H254.975Z" fill="#676B78"/>
                        <path d="M369.178 85.164C365.101 85.164 361.528 84.3873 358.46 82.834C355.392 81.2806 353.004 79.1058 351.295 76.3098C349.586 73.5137 348.732 70.2904 348.732 66.64V66.5235C348.732 62.9507 349.625 59.8828 351.412 57.3197C353.198 54.7178 355.781 52.6596 359.159 51.145C362.577 49.6305 366.693 48.7373 371.509 48.4654L394.693 47.0674V55.9217L373.198 57.2614C369.431 57.4945 366.518 58.4071 364.46 59.9993C362.441 61.5527 361.431 63.6303 361.431 66.2322V66.3487C361.431 69.0283 362.441 71.1448 364.46 72.6982C366.518 74.2515 369.237 75.0282 372.615 75.0282C375.567 75.0282 378.207 74.4263 380.538 73.2224C382.906 72.0186 384.771 70.3681 386.13 68.271C387.489 66.1351 388.169 63.7468 388.169 61.1061V42.8733C388.169 39.4947 387.12 36.8539 385.023 34.951C382.926 33.0093 379.916 32.0384 375.994 32.0384C372.382 32.0384 369.47 32.8151 367.256 34.3685C365.081 35.9219 363.722 37.9219 363.179 40.3684L363.062 40.8927H351.179L351.237 40.2519C351.548 36.718 352.732 33.553 354.79 30.7569C356.849 27.922 359.703 25.689 363.353 24.058C367.004 22.4269 371.334 21.6114 376.343 21.6114C381.353 21.6114 385.683 22.4463 389.334 24.1162C392.984 25.7861 395.819 28.1356 397.838 31.1647C399.858 34.1938 400.867 37.7471 400.867 41.8247V84.0572H388.169V74.3875H387.936C386.732 76.601 385.178 78.5233 383.275 80.1544C381.373 81.7466 379.217 82.9893 376.809 83.8825C374.441 84.7368 371.897 85.164 369.178 85.164Z" fill="#676B78"/>
                        <path d="M412.548 84.0572V0H425.189V84.0572H412.548ZM451.169 84.0572L429.499 55.6304L437.713 46.6014L465.79 84.0572H451.169ZM422.975 64.1934V48.8732H425.48L450.004 22.7764H464.858L436.14 52.9508H434.218L422.975 64.1934Z" fill="#676B78"/>
                        <path d="M494.131 85.2805C488.15 85.2805 482.985 83.999 478.636 81.4359C474.325 78.834 471.005 75.1641 468.675 70.4263C466.384 65.6497 465.238 60.0381 465.238 53.5916V53.5333C465.238 47.1645 466.403 41.5917 468.733 36.8151C471.063 31.9996 474.345 28.2715 478.578 25.6308C482.811 22.9512 487.781 21.6114 493.49 21.6114C499.238 21.6114 504.169 22.8929 508.286 25.456C512.441 27.9802 515.645 31.5724 517.897 36.2326C520.15 40.8539 521.276 46.2325 521.276 52.3683V56.6207H471.471V47.7082H515.16L508.927 56.0382V51.145C508.927 46.8344 508.267 43.2616 506.946 40.4267C505.665 37.5529 503.859 35.417 501.529 34.019C499.238 32.621 496.577 31.9219 493.548 31.9219C490.558 31.9219 487.878 32.6598 485.51 34.1355C483.141 35.6112 481.277 37.786 479.917 40.6597C478.558 43.4946 477.879 46.9897 477.879 51.145V56.0382C477.879 59.9993 478.539 63.3973 479.859 66.2322C481.218 69.0283 483.141 71.1836 485.626 72.6982C488.111 74.1739 491.043 74.9117 494.422 74.9117C496.907 74.9117 499.102 74.5428 501.004 73.8049C502.907 73.0282 504.48 72.0186 505.723 70.7758C507.004 69.4943 507.898 68.0769 508.402 66.5235L508.577 66.0575H520.577L520.461 66.6982C519.956 69.106 519.004 71.4166 517.606 73.6302C516.208 75.8437 514.383 77.8437 512.131 79.6301C509.917 81.3777 507.296 82.7563 504.267 83.766C501.237 84.7757 497.859 85.2805 494.131 85.2805Z" fill="#676B78"/>
                        <path d="M554.249 84.0572V0H567.297V84.0572H554.249Z" fill="#676B78"/>
                        <path d="M601.638 85.2805C595.58 85.2805 591.055 83.9213 588.065 81.2029C585.114 78.4457 583.638 73.9991 583.638 67.8633V32.7957H574.842V22.7764H583.638V6.81545H596.57V22.7764H608.045V32.7957H596.57V67.1642C596.57 70.271 597.249 72.4069 598.609 73.5719C599.968 74.6981 601.987 75.2612 604.667 75.2612C605.327 75.2612 605.929 75.2418 606.473 75.203C607.055 75.1253 607.579 75.0671 608.045 75.0282V84.7563C607.308 84.8728 606.376 84.9893 605.249 85.1058C604.123 85.2223 602.919 85.2805 601.638 85.2805Z" fill="#676B78"/>
                        <path d="M641.659 84.0572V0H654.707V35.5336H697.814V0H710.92V84.0572H697.814V46.8344H654.707V84.0572H641.659Z" fill="#676B78"/>
                        <path d="M740.135 85.164C736.057 85.164 732.484 84.3873 729.416 82.834C726.349 81.2806 723.96 79.1058 722.252 76.3098C720.543 73.5137 719.688 70.2904 719.688 66.64V66.5235C719.688 62.9507 720.582 59.8828 722.368 57.3197C724.154 54.7178 726.737 52.6596 730.115 51.145C733.533 49.6305 737.649 48.7373 742.465 48.4654L765.649 47.0674V55.9217L744.154 57.2614C740.387 57.4945 737.475 58.4071 735.416 59.9993C733.397 61.5527 732.387 63.6303 732.387 66.2322V66.3487C732.387 69.0283 733.397 71.1448 735.416 72.6982C737.475 74.2515 740.193 75.0282 743.572 75.0282C746.523 75.0282 749.164 74.4263 751.494 73.2224C753.863 72.0186 755.727 70.3681 757.086 68.271C758.445 66.1351 759.125 63.7468 759.125 61.1061V42.8733C759.125 39.4947 758.076 36.8539 755.979 34.951C753.882 33.0093 750.873 32.0384 746.95 32.0384C743.339 32.0384 740.426 32.8151 738.212 34.3685C736.038 35.9219 734.679 37.9219 734.135 40.3684L734.018 40.8927H722.135L722.193 40.2519C722.504 36.718 723.688 33.553 725.747 30.7569C727.805 27.922 730.659 25.689 734.31 24.058C737.96 22.4269 742.29 21.6114 747.3 21.6114C752.309 21.6114 756.639 22.4463 760.29 24.1162C763.94 25.7861 766.775 28.1356 768.795 31.1647C770.814 34.1938 771.824 37.7471 771.824 41.8247V84.0572H759.125V74.3875H758.892C757.688 76.601 756.135 78.5233 754.232 80.1544C752.329 81.7466 750.174 82.9893 747.766 83.8825C745.397 84.7368 742.853 85.164 740.135 85.164Z" fill="#676B78"/>
                        <path d="M782.747 104.445V22.7764H795.446V33.2617H795.737C796.941 30.854 798.475 28.7764 800.339 27.0288C802.242 25.2812 804.417 23.9415 806.863 23.0094C809.31 22.0774 811.989 21.6114 814.902 21.6114C820.106 21.6114 824.63 22.9123 828.475 25.5143C832.319 28.0773 835.29 31.7472 837.387 36.5238C839.484 41.2616 840.533 46.8926 840.533 53.4168V53.4751C840.533 59.9993 839.465 65.6303 837.329 70.3681C835.232 75.1059 832.28 78.7758 828.475 81.3777C824.669 83.9796 820.203 85.2805 815.077 85.2805C812.203 85.2805 809.504 84.8145 806.98 83.8825C804.494 82.9505 802.3 81.6301 800.397 79.9214C798.494 78.1738 796.922 76.1156 795.679 73.7467H795.446V104.445H782.747ZM811.582 74.3875C814.883 74.3875 817.737 73.5525 820.145 71.8826C822.552 70.1739 824.397 67.7468 825.679 64.6012C826.96 61.4556 827.601 57.7469 827.601 53.4751V53.4168C827.601 49.0674 826.96 45.3198 825.679 42.1742C824.397 39.0287 822.552 36.6209 820.145 34.951C817.737 33.2812 814.883 32.4462 811.582 32.4462C808.397 32.4462 805.582 33.32 803.135 35.0675C800.689 36.7763 798.766 39.2034 797.368 42.349C796.009 45.4558 795.329 49.145 795.329 53.4168V53.4751C795.329 57.708 796.028 61.3973 797.427 64.5429C798.825 67.6497 800.727 70.0768 803.135 71.8244C805.582 73.5331 808.397 74.3875 811.582 74.3875Z" fill="#676B78"/>
                        <path d="M849.01 104.445V22.7764H861.708V33.2617H862C863.204 30.854 864.738 28.7764 866.602 27.0288C868.504 25.2812 870.679 23.9415 873.126 23.0094C875.572 22.0774 878.252 21.6114 881.165 21.6114C886.368 21.6114 890.893 22.9123 894.737 25.5143C898.582 28.0773 901.553 31.7472 903.65 36.5238C905.747 41.2616 906.795 46.8926 906.795 53.4168V53.4751C906.795 59.9993 905.727 65.6303 903.591 70.3681C901.494 75.1059 898.543 78.7758 894.737 81.3777C890.931 83.9796 886.465 85.2805 881.339 85.2805C878.466 85.2805 875.767 84.8145 873.242 83.8825C870.757 82.9505 868.563 81.6301 866.66 79.9214C864.757 78.1738 863.184 76.1156 861.941 73.7467H861.708V104.445H849.01ZM877.844 74.3875C881.145 74.3875 883.999 73.5525 886.407 71.8826C888.815 70.1739 890.66 67.7468 891.941 64.6012C893.223 61.4556 893.863 57.7469 893.863 53.4751V53.4168C893.863 49.0674 893.223 45.3198 891.941 42.1742C890.66 39.0287 888.815 36.6209 886.407 34.951C883.999 33.2812 881.145 32.4462 877.844 32.4462C874.66 32.4462 871.844 33.32 869.398 35.0675C866.951 36.7763 865.029 39.2034 863.631 42.349C862.272 45.4558 861.592 49.145 861.592 53.4168V53.4751C861.592 57.708 862.291 61.3973 863.689 64.5429C865.087 67.6497 866.99 70.0768 869.398 71.8244C871.844 73.5331 874.66 74.3875 877.844 74.3875Z" fill="#676B78"/>
                        <path d="M941.485 85.2805C935.505 85.2805 930.34 83.999 925.99 81.4359C921.68 78.834 918.359 75.1641 916.029 70.4263C913.738 65.6497 912.593 60.0381 912.593 53.5916V53.5333C912.593 47.1645 913.758 41.5917 916.088 36.8151C918.418 31.9996 921.699 28.2715 925.932 25.6308C930.165 22.9512 935.136 21.6114 940.845 21.6114C946.592 21.6114 951.524 22.8929 955.641 25.456C959.796 27.9802 963 31.5724 965.252 36.2326C967.505 40.8539 968.631 46.2325 968.631 52.3683V56.6207H918.825V47.7082H962.514L956.281 56.0382V51.145C956.281 46.8344 955.621 43.2616 954.301 40.4267C953.019 37.5529 951.213 35.417 948.883 34.019C946.592 32.621 943.932 31.9219 940.903 31.9219C937.913 31.9219 935.233 32.6598 932.864 34.1355C930.495 35.6112 928.631 37.786 927.272 40.6597C925.913 43.4946 925.233 46.9897 925.233 51.145V56.0382C925.233 59.9993 925.893 63.3973 927.214 66.2322C928.573 69.0283 930.495 71.1836 932.981 72.6982C935.466 74.1739 938.398 74.9117 941.777 74.9117C944.262 74.9117 946.456 74.5428 948.359 73.8049C950.262 73.0282 951.835 72.0186 953.077 70.7758C954.359 69.4943 955.252 68.0769 955.757 66.5235L955.932 66.0575H967.932L967.815 66.6982C967.31 69.106 966.359 71.4166 964.961 73.6302C963.563 75.8437 961.738 77.8437 959.485 79.6301C957.272 81.3777 954.65 82.7563 951.621 83.766C948.592 84.7757 945.214 85.2805 941.485 85.2805Z" fill="#676B78"/>
                        <path d="M977.107 84.0572V22.7764H989.806V32.0384H990.039C991.67 28.9317 994.059 26.4269 997.204 24.524C1000.35 22.5823 1004.23 21.6114 1008.85 21.6114C1015.57 21.6114 1020.78 23.6502 1024.47 27.7278C1028.16 31.7666 1030 37.3199 1030 44.3878V84.0572H1017.36V46.8344C1017.36 42.2131 1016.27 38.6597 1014.1 36.1743C1011.96 33.6889 1008.72 32.4462 1004.37 32.4462C1001.42 32.4462 998.835 33.1064 996.622 34.4268C994.447 35.7471 992.758 37.5918 991.554 39.9607C990.389 42.3296 989.806 45.1257 989.806 48.3489V84.0572H977.107Z" fill="#676B78"/>
                    </svg>
                </div>
                <div class="ct-arr">
                    <svg width="64" height="104" viewBox="0 0 64 104" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_2044_2941)">
                        <path d="M57 23V78H2" stroke="#676B78" stroke-width="5"/>
                        <path d="M6 27L55 76" stroke="#676B78" stroke-width="5"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_2044_2941">
                        <rect width="104" height="64" fill="white" transform="translate(64 2.79753e-06) rotate(90)"/>
                        </clipPath>
                        </defs>
                    </svg>
                </div>
                <div class="ct-txt">
                    <svg width="237" height="104" viewBox="0 0 237 104" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.168 45.7871C4.752 45.7871 0.576 40.1711 0.576 32.3951C0.576 24.6551 5.292 19.0391 12.636 19.0391C19.296 19.0391 22.824 22.6031 23.652 27.4991H19.512C18.828 24.2591 16.416 22.4591 12.6 22.4591C6.912 22.4591 4.716 27.5711 4.716 32.3951C4.716 37.2551 6.372 42.3671 12.384 42.3671C16.632 42.3671 20.016 39.4151 20.052 35.1311H12.456V31.8191H24.084V45.2831H21.348L20.376 41.7191H20.304C18.504 44.3471 16.092 45.7871 12.168 45.7871Z" fill="#676B78"/>
                        <path d="M35.8327 45.8231C30.0007 45.8231 26.7607 41.6831 26.7607 36.0671C26.7607 30.3071 30.2167 26.3471 35.8327 26.3471C41.4127 26.3471 44.5447 30.0191 44.5447 35.7071C44.5447 36.2111 44.5447 36.7511 44.5087 37.0391H30.3967C30.4687 40.0991 32.2687 42.9431 35.9047 42.9431C39.1447 42.9431 40.4047 40.8551 40.7287 39.6311H44.3287C43.3567 43.1591 40.6567 45.8231 35.8327 45.8231ZM30.3967 34.2671H40.8727C40.8727 31.3871 38.8567 29.2271 35.7247 29.2271C32.7727 29.2271 30.6127 31.2431 30.3967 34.2671Z" fill="#676B78"/>
                        <path d="M53.2915 45.4991C50.2675 45.4991 48.4315 44.3471 48.4315 40.0991V29.8391H45.7675V26.9231H48.4315V21.0191H51.9595V26.9231H55.4875V29.8391H51.9595V40.2071C51.9595 42.1511 52.4995 42.5831 54.0115 42.5831C54.6235 42.5831 54.9115 42.5471 55.5235 42.4391V45.2831C54.6235 45.4631 54.0475 45.4991 53.2915 45.4991Z" fill="#676B78"/>
                        <path d="M71.0227 45.7871C67.3507 45.7871 65.0107 43.6631 65.0107 40.5311C65.0107 36.4271 68.1067 35.2031 72.6787 34.3391C75.5587 33.7991 77.3227 33.4391 77.3227 31.6391C77.3227 30.3071 76.5307 29.1911 73.8307 29.1911C70.6267 29.1911 69.6547 30.1991 69.4747 32.6471H65.8747C66.0547 29.1191 68.3587 26.3471 73.9747 26.3471C77.7547 26.3471 80.7787 27.9311 80.7787 32.6831V41.1071C80.7787 42.4391 80.9587 43.1231 81.6427 43.1231C81.7507 43.1231 81.8587 43.1231 82.0747 43.0871V45.2471C81.4627 45.3911 80.8507 45.4631 80.2747 45.4631C78.5107 45.4631 77.5747 44.7791 77.3587 42.6911H77.2867C76.0987 44.5991 74.0107 45.7871 71.0227 45.7871ZM68.6827 40.2791C68.6827 42.0071 69.6187 42.9431 71.8147 42.9431C74.9827 42.9431 77.3227 41.3231 77.3227 38.1191V35.4911C76.7467 36.0311 75.1627 36.4271 73.2907 36.8231C70.0507 37.4711 68.6827 38.3711 68.6827 40.2791Z" fill="#676B78"/>
                        <path d="M104.547 45.7871C96.8431 45.7871 91.9111 40.1351 91.9111 32.3951C91.9111 24.6551 96.8431 19.0391 104.547 19.0391C112.251 19.0391 117.183 24.6551 117.183 32.3951C117.183 35.9951 116.139 39.1271 114.231 41.4671L117.327 44.5631L115.023 46.9031L111.819 43.6631C109.839 45.0311 107.391 45.7871 104.547 45.7871ZM96.0511 32.3951C96.0511 37.6871 98.4631 42.3671 104.547 42.3671C106.455 42.3671 108.003 41.8991 109.227 41.1071L105.879 37.7231L108.183 35.3831L111.495 38.7311C112.575 36.9671 113.043 34.7351 113.043 32.3951C113.043 27.1031 110.631 22.4591 104.547 22.4591C98.4631 22.4591 96.0511 27.1031 96.0511 32.3951Z" fill="#676B78"/>
                        <path d="M126.239 45.7871C122.855 45.7871 120.119 43.8431 120.119 39.6311V26.9231H123.647V38.6591C123.647 41.1431 124.727 42.7991 127.391 42.7991C130.415 42.7991 132.359 40.9631 132.359 38.1911V26.9231H135.887V45.2831H132.359V42.9791H132.287C131.315 44.3831 129.407 45.7871 126.239 45.7871Z" fill="#676B78"/>
                        <path d="M148.053 45.8231C142.329 45.8231 138.873 41.8631 138.873 36.1031C138.873 30.3791 142.329 26.3471 148.089 26.3471C153.777 26.3471 157.233 30.3431 157.233 36.0671C157.233 41.8271 153.777 45.8231 148.053 45.8231ZM142.545 36.1031C142.545 39.9191 144.273 42.9071 148.089 42.9071C151.833 42.9071 153.561 39.9191 153.561 36.1031C153.561 32.2511 151.833 29.2991 148.089 29.2991C144.273 29.2991 142.545 32.2511 142.545 36.1031Z" fill="#676B78"/>
                        <path d="M165.932 45.4991C162.908 45.4991 161.072 44.3471 161.072 40.0991V29.8391H158.408V26.9231H161.072V21.0191H164.6V26.9231H168.128V29.8391H164.6V40.2071C164.6 42.1511 165.14 42.5831 166.652 42.5831C167.264 42.5831 167.552 42.5471 168.164 42.4391V45.2831C167.264 45.4631 166.688 45.4991 165.932 45.4991Z" fill="#676B78"/>
                        <path d="M178.813 45.8231C172.981 45.8231 169.741 41.6831 169.741 36.0671C169.741 30.3071 173.197 26.3471 178.813 26.3471C184.393 26.3471 187.525 30.0191 187.525 35.7071C187.525 36.2111 187.525 36.7511 187.489 37.0391H173.377C173.449 40.0991 175.249 42.9431 178.885 42.9431C182.125 42.9431 183.385 40.8551 183.709 39.6311H187.309C186.337 43.1591 183.637 45.8231 178.813 45.8231ZM173.377 34.2671H183.853C183.853 31.3871 181.837 29.2271 178.705 29.2271C175.753 29.2271 173.593 31.2431 173.377 34.2671Z" fill="#676B78"/>
                        <path d="M2.52 60.6911C2.52 56.4431 4.284 55.2911 7.272 55.2911C7.956 55.2911 8.496 55.3631 9.504 55.5071V58.3511C8.784 58.2791 8.496 58.2431 7.992 58.2431C6.516 58.2431 6.084 58.6751 6.084 60.6191V62.9231H9.504V65.8391H6.084V81.2831H2.52V65.8391H0V62.9231H2.52V60.6911Z" fill="#676B78"/>
                        <path d="M19.557 81.8231C13.833 81.8231 10.377 77.8631 10.377 72.1031C10.377 66.3791 13.833 62.3471 19.593 62.3471C25.281 62.3471 28.737 66.3431 28.737 72.0671C28.737 77.8271 25.281 81.8231 19.557 81.8231ZM14.049 72.1031C14.049 75.9191 15.777 78.9071 19.593 78.9071C23.337 78.9071 25.065 75.9191 25.065 72.1031C25.065 68.2511 23.337 65.2991 19.593 65.2991C15.777 65.2991 14.049 68.2511 14.049 72.1031Z" fill="#676B78"/>
                        <path d="M35.2676 71.7791V81.2831H31.7396V62.9231H35.2676V66.4151H35.3396C36.3116 64.1111 37.7876 62.4911 40.2716 62.4911C40.9196 62.4911 41.4236 62.5271 41.9636 62.5991V65.9831C41.5316 65.9111 41.2076 65.8751 40.7756 65.8751C37.5716 65.8751 35.2676 68.2871 35.2676 71.7791Z" fill="#676B78"/>
                        <path d="M52.5023 87.7271C51.7103 87.7271 51.1703 87.6551 50.2343 87.4751V84.5951C50.8463 84.6671 51.1703 84.7031 51.7463 84.7031C53.1503 84.7031 54.8063 83.9831 55.5263 81.1031L48.1103 62.9231H51.9623L57.3263 76.9631H57.3983L62.4383 62.9231H66.1463L58.8743 81.7151C57.1103 86.2511 55.3463 87.7271 52.5023 87.7271Z" fill="#676B78"/>
                        <path d="M75.8422 81.8231C70.1182 81.8231 66.6622 77.8631 66.6622 72.1031C66.6622 66.3791 70.1182 62.3471 75.8782 62.3471C81.5662 62.3471 85.0222 66.3431 85.0222 72.0671C85.0222 77.8271 81.5662 81.8231 75.8422 81.8231ZM70.3342 72.1031C70.3342 75.9191 72.0622 78.9071 75.8782 78.9071C79.6222 78.9071 81.3502 75.9191 81.3502 72.1031C81.3502 68.2511 79.6222 65.2991 75.8782 65.2991C72.0622 65.2991 70.3342 68.2511 70.3342 72.1031Z" fill="#676B78"/>
                        <path d="M94.0008 81.7871C90.6168 81.7871 87.8808 79.8431 87.8808 75.6311V62.9231H91.4088V74.6591C91.4088 77.1431 92.4888 78.7991 95.1528 78.7991C98.1768 78.7991 100.121 76.9631 100.121 74.1911V62.9231H103.649V81.2831H100.121V78.9791H100.049C99.0768 80.3831 97.1688 81.7871 94.0008 81.7871Z" fill="#676B78"/>
                        <path d="M111.135 71.7791V81.2831H107.607V62.9231H111.135V66.4151H111.207C112.179 64.1111 113.655 62.4911 116.139 62.4911C116.787 62.4911 117.291 62.5271 117.831 62.5991V65.9831C117.399 65.9111 117.075 65.8751 116.643 65.8751C113.439 65.8751 111.135 68.2871 111.135 71.7791Z" fill="#676B78"/>
                        <path d="M127.413 81.2831V55.5431H138.141C143.001 55.5431 146.565 57.8111 146.565 63.2111C146.565 68.6111 143.001 70.8431 138.141 70.8431H131.373V81.2831H127.413ZM131.373 67.4231H137.961C140.949 67.4231 142.461 66.0911 142.461 63.2111C142.461 60.2951 140.949 58.9631 137.961 58.9631H131.373V67.4231Z" fill="#676B78"/>
                        <path d="M152.584 71.7791V81.2831H149.056V62.9231H152.584V66.4151H152.656C153.628 64.1111 155.104 62.4911 157.588 62.4911C158.236 62.4911 158.74 62.5271 159.28 62.5991V65.9831C158.848 65.9111 158.524 65.8751 158.092 65.8751C154.888 65.8751 152.584 68.2871 152.584 71.7791Z" fill="#676B78"/>
                        <path d="M169.006 81.8231C163.282 81.8231 159.826 77.8631 159.826 72.1031C159.826 66.3791 163.282 62.3471 169.042 62.3471C174.73 62.3471 178.186 66.3431 178.186 72.0671C178.186 77.8271 174.73 81.8231 169.006 81.8231ZM163.498 72.1031C163.498 75.9191 165.226 78.9071 169.042 78.9071C172.786 78.9071 174.514 75.9191 174.514 72.1031C174.514 68.2511 172.786 65.2991 169.042 65.2991C165.226 65.2991 163.498 68.2511 163.498 72.1031Z" fill="#676B78"/>
                        <path d="M180.325 87.7991C179.569 87.7991 179.029 87.7271 178.129 87.5831V84.6671C178.705 84.7391 178.993 84.7751 179.533 84.7751C180.649 84.7751 181.189 84.1631 181.189 82.1111V62.9231H184.717V82.2551C184.717 86.1791 182.917 87.7991 180.325 87.7991ZM180.973 59.6471V55.8311H184.969V59.6471H180.973Z" fill="#676B78"/>
                        <path d="M196.813 81.8231C190.981 81.8231 187.741 77.6831 187.741 72.0671C187.741 66.3071 191.197 62.3471 196.813 62.3471C202.393 62.3471 205.525 66.0191 205.525 71.7071C205.525 72.2111 205.525 72.7511 205.489 73.0391H191.377C191.449 76.0991 193.249 78.9431 196.885 78.9431C200.125 78.9431 201.385 76.8551 201.709 75.6311H205.309C204.337 79.1591 201.637 81.8231 196.813 81.8231ZM191.377 70.2671H201.853C201.853 67.3871 199.837 65.2271 196.705 65.2271C193.753 65.2271 191.593 67.2431 191.377 70.2671Z" fill="#676B78"/>
                        <path d="M216.569 81.8231C211.097 81.8231 207.533 77.8631 207.533 72.1031C207.533 66.3431 211.097 62.3831 216.533 62.3831C221.249 62.3831 224.381 65.4431 224.813 69.5831H221.177C220.997 67.6751 219.917 65.2991 216.569 65.2991C212.645 65.2991 211.205 68.6471 211.205 72.1031C211.205 75.5591 212.645 78.8711 216.569 78.8711C219.953 78.8711 220.997 76.5671 221.177 74.4791H224.813C224.561 78.6911 221.285 81.8231 216.569 81.8231Z" fill="#676B78"/>
                        <path d="M233.538 81.4991C230.514 81.4991 228.678 80.3471 228.678 76.0991V65.8391H226.014V62.9231H228.678V57.0191H232.206V62.9231H235.734V65.8391H232.206V76.2071C232.206 78.1511 232.746 78.5831 234.258 78.5831C234.87 78.5831 235.158 78.5471 235.77 78.4391V81.2831C234.87 81.4631 234.294 81.4991 233.538 81.4991Z" fill="#676B78"/>
                        </svg>
                </div>
                <div class="ct-arr">
                    <svg width="64" height="104" viewBox="0 0 64 104" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_2044_2941)">
                        <path d="M57 23V78H2" stroke="#676B78" stroke-width="5"/>
                        <path d="M6 27L55 76" stroke="#676B78" stroke-width="5"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_2044_2941">
                        <rect width="104" height="64" fill="white" transform="translate(64 2.79753e-06) rotate(90)"/>
                        </clipPath>
                        </defs>
                    </svg>
                </div>
                <div class="ct-txt">
                    <svg width="1030" height="105" viewBox="0 0 1030 105" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 84.0572V0H13.0484V72.7564H52.2518V84.0572H0Z" fill="#676B78"/>
                        <path d="M85.4273 85.2805C79.4468 85.2805 74.2818 83.999 69.9324 81.4359C65.6217 78.834 62.3014 75.1641 59.9713 70.4263C57.6801 65.6497 56.5345 60.0381 56.5345 53.5916V53.5333C56.5345 47.1645 57.6995 41.5917 60.0296 36.8151C62.3596 31.9996 65.6412 28.2715 69.8741 25.6308C74.1071 22.9512 79.0779 21.6114 84.7866 21.6114C90.5341 21.6114 95.466 22.8929 99.5825 25.456C103.738 27.9802 106.942 31.5724 109.194 36.2326C111.446 40.8539 112.573 46.2325 112.573 52.3683V56.6207H62.7674V47.7082H106.456L100.223 56.0382V51.145C100.223 46.8344 99.5631 43.2616 98.2427 40.4267C96.9612 37.5529 95.1554 35.417 92.8253 34.019C90.5341 32.621 87.8739 31.9219 84.8448 31.9219C81.8546 31.9219 79.175 32.6598 76.8061 34.1355C74.4372 35.6112 72.5731 37.786 71.2139 40.6597C69.8547 43.4946 69.1751 46.9897 69.1751 51.145V56.0382C69.1751 59.9993 69.8353 63.3973 71.1557 66.2322C72.5149 69.0283 74.4372 71.1836 76.9226 72.6982C79.408 74.1739 82.34 74.9117 85.7186 74.9117C88.204 74.9117 90.3981 74.5428 92.301 73.8049C94.2039 73.0282 95.7767 72.0186 97.0194 70.7758C98.301 69.4943 99.1941 68.0769 99.699 66.5235L99.8738 66.0575H111.874L111.757 66.6982C111.252 69.106 110.301 71.4166 108.903 73.6302C107.505 75.8437 105.68 77.8437 103.427 79.6301C101.214 81.3777 98.5922 82.7563 95.5631 83.766C92.534 84.7757 89.1554 85.2805 85.4273 85.2805Z" fill="#676B78"/>
                        <path d="M142.661 85.2805C136.603 85.2805 132.078 83.9213 129.088 81.2029C126.137 78.4457 124.661 73.9991 124.661 67.8633V32.7957H115.865V22.7764H124.661V6.81545H137.593V22.7764H149.069V32.7957H137.593V67.1642C137.593 70.271 138.273 72.4069 139.632 73.5719C140.991 74.6981 143.01 75.2612 145.69 75.2612C146.35 75.2612 146.952 75.2418 147.496 75.203C148.078 75.1253 148.602 75.0671 149.069 75.0282V84.7563C148.331 84.8728 147.399 84.9893 146.272 85.1058C145.146 85.2223 143.942 85.2805 142.661 85.2805Z" fill="#676B78"/>
                        <path d="M155.273 29.8249L160.108 0H172.691L164.186 29.8249H155.273Z" fill="#676B78"/>
                        <path d="M197.07 85.2805C191.944 85.2805 187.536 84.5038 183.847 82.9505C180.197 81.3582 177.323 79.1641 175.226 76.368C173.129 73.5331 171.867 70.2516 171.439 66.5235L171.381 65.9992H183.847L183.964 66.5817C184.585 69.3778 185.964 71.572 188.099 73.1642C190.235 74.7175 193.226 75.4942 197.07 75.4942C199.633 75.4942 201.808 75.1836 203.594 74.5622C205.381 73.902 206.759 72.97 207.73 71.7661C208.701 70.5623 209.187 69.1254 209.187 67.4555V67.3972C209.187 65.4167 208.546 63.8245 207.264 62.6206C205.983 61.4167 203.692 60.407 200.391 59.5915L190.371 57.3197C186.488 56.4265 183.245 55.2032 180.643 53.6498C178.08 52.0965 176.158 50.1936 174.876 47.9412C173.595 45.6888 172.954 43.0869 172.954 40.1354V40.0772C172.954 36.3879 173.944 33.1646 175.925 30.4074C177.905 27.6113 180.682 25.456 184.255 23.9415C187.828 22.3881 191.964 21.6114 196.662 21.6114C201.478 21.6114 205.633 22.4269 209.128 24.058C212.623 25.689 215.342 27.922 217.284 30.7569C219.264 33.553 220.352 36.6792 220.546 40.1354V40.8345H208.721L208.662 40.4267C208.313 37.7471 207.109 35.5724 205.051 33.9025C202.993 32.1938 200.196 31.3394 196.662 31.3394C194.41 31.3394 192.449 31.6695 190.779 32.3297C189.109 32.9899 187.828 33.9413 186.934 35.184C186.041 36.3879 185.595 37.8054 185.595 39.4364V39.4947C185.595 40.7374 185.886 41.8636 186.468 42.8733C187.09 43.883 188.08 44.7567 189.439 45.4946C190.798 46.2325 192.546 46.8538 194.682 47.3587L204.701 49.6887C210.954 51.1256 215.381 53.1644 217.983 55.8052C220.623 58.4071 221.944 61.9216 221.944 66.3487V66.407C221.944 70.1351 220.876 73.4166 218.74 76.2515C216.604 79.0864 213.653 81.3 209.886 82.8922C206.158 84.4844 201.886 85.2805 197.07 85.2805Z" fill="#676B78"/>
                        <path d="M254.975 84.0572V0H270.062L297.266 67.0477H297.615L324.819 0H339.964V84.0572H328.022V22.0774H322.023L335.653 2.33007L302.275 84.0572H292.605L259.285 2.33007L272.916 22.0774H266.916V84.0572H254.975Z" fill="#676B78"/>
                        <path d="M369.178 85.164C365.101 85.164 361.528 84.3873 358.46 82.834C355.392 81.2806 353.004 79.1058 351.295 76.3098C349.586 73.5137 348.732 70.2904 348.732 66.64V66.5235C348.732 62.9507 349.625 59.8828 351.412 57.3197C353.198 54.7178 355.781 52.6596 359.159 51.145C362.577 49.6305 366.693 48.7373 371.509 48.4654L394.693 47.0674V55.9217L373.198 57.2614C369.431 57.4945 366.518 58.4071 364.46 59.9993C362.441 61.5527 361.431 63.6303 361.431 66.2322V66.3487C361.431 69.0283 362.441 71.1448 364.46 72.6982C366.518 74.2515 369.237 75.0282 372.615 75.0282C375.567 75.0282 378.207 74.4263 380.538 73.2224C382.906 72.0186 384.771 70.3681 386.13 68.271C387.489 66.1351 388.169 63.7468 388.169 61.1061V42.8733C388.169 39.4947 387.12 36.8539 385.023 34.951C382.926 33.0093 379.916 32.0384 375.994 32.0384C372.382 32.0384 369.47 32.8151 367.256 34.3685C365.081 35.9219 363.722 37.9219 363.179 40.3684L363.062 40.8927H351.179L351.237 40.2519C351.548 36.718 352.732 33.553 354.79 30.7569C356.849 27.922 359.703 25.689 363.353 24.058C367.004 22.4269 371.334 21.6114 376.343 21.6114C381.353 21.6114 385.683 22.4463 389.334 24.1162C392.984 25.7861 395.819 28.1356 397.838 31.1647C399.858 34.1938 400.867 37.7471 400.867 41.8247V84.0572H388.169V74.3875H387.936C386.732 76.601 385.178 78.5233 383.275 80.1544C381.373 81.7466 379.217 82.9893 376.809 83.8825C374.441 84.7368 371.897 85.164 369.178 85.164Z" fill="#676B78"/>
                        <path d="M412.548 84.0572V0H425.189V84.0572H412.548ZM451.169 84.0572L429.499 55.6304L437.713 46.6014L465.79 84.0572H451.169ZM422.975 64.1934V48.8732H425.48L450.004 22.7764H464.858L436.14 52.9508H434.218L422.975 64.1934Z" fill="#676B78"/>
                        <path d="M494.131 85.2805C488.15 85.2805 482.985 83.999 478.636 81.4359C474.325 78.834 471.005 75.1641 468.675 70.4263C466.384 65.6497 465.238 60.0381 465.238 53.5916V53.5333C465.238 47.1645 466.403 41.5917 468.733 36.8151C471.063 31.9996 474.345 28.2715 478.578 25.6308C482.811 22.9512 487.781 21.6114 493.49 21.6114C499.238 21.6114 504.169 22.8929 508.286 25.456C512.441 27.9802 515.645 31.5724 517.897 36.2326C520.15 40.8539 521.276 46.2325 521.276 52.3683V56.6207H471.471V47.7082H515.16L508.927 56.0382V51.145C508.927 46.8344 508.267 43.2616 506.946 40.4267C505.665 37.5529 503.859 35.417 501.529 34.019C499.238 32.621 496.577 31.9219 493.548 31.9219C490.558 31.9219 487.878 32.6598 485.51 34.1355C483.141 35.6112 481.277 37.786 479.917 40.6597C478.558 43.4946 477.879 46.9897 477.879 51.145V56.0382C477.879 59.9993 478.539 63.3973 479.859 66.2322C481.218 69.0283 483.141 71.1836 485.626 72.6982C488.111 74.1739 491.043 74.9117 494.422 74.9117C496.907 74.9117 499.102 74.5428 501.004 73.8049C502.907 73.0282 504.48 72.0186 505.723 70.7758C507.004 69.4943 507.898 68.0769 508.402 66.5235L508.577 66.0575H520.577L520.461 66.6982C519.956 69.106 519.004 71.4166 517.606 73.6302C516.208 75.8437 514.383 77.8437 512.131 79.6301C509.917 81.3777 507.296 82.7563 504.267 83.766C501.237 84.7757 497.859 85.2805 494.131 85.2805Z" fill="#676B78"/>
                        <path d="M554.249 84.0572V0H567.297V84.0572H554.249Z" fill="#676B78"/>
                        <path d="M601.638 85.2805C595.58 85.2805 591.055 83.9213 588.065 81.2029C585.114 78.4457 583.638 73.9991 583.638 67.8633V32.7957H574.842V22.7764H583.638V6.81545H596.57V22.7764H608.045V32.7957H596.57V67.1642C596.57 70.271 597.249 72.4069 598.609 73.5719C599.968 74.6981 601.987 75.2612 604.667 75.2612C605.327 75.2612 605.929 75.2418 606.473 75.203C607.055 75.1253 607.579 75.0671 608.045 75.0282V84.7563C607.308 84.8728 606.376 84.9893 605.249 85.1058C604.123 85.2223 602.919 85.2805 601.638 85.2805Z" fill="#676B78"/>
                        <path d="M641.659 84.0572V0H654.707V35.5336H697.814V0H710.92V84.0572H697.814V46.8344H654.707V84.0572H641.659Z" fill="#676B78"/>
                        <path d="M740.135 85.164C736.057 85.164 732.484 84.3873 729.416 82.834C726.349 81.2806 723.96 79.1058 722.252 76.3098C720.543 73.5137 719.688 70.2904 719.688 66.64V66.5235C719.688 62.9507 720.582 59.8828 722.368 57.3197C724.154 54.7178 726.737 52.6596 730.115 51.145C733.533 49.6305 737.649 48.7373 742.465 48.4654L765.649 47.0674V55.9217L744.154 57.2614C740.387 57.4945 737.475 58.4071 735.416 59.9993C733.397 61.5527 732.387 63.6303 732.387 66.2322V66.3487C732.387 69.0283 733.397 71.1448 735.416 72.6982C737.475 74.2515 740.193 75.0282 743.572 75.0282C746.523 75.0282 749.164 74.4263 751.494 73.2224C753.863 72.0186 755.727 70.3681 757.086 68.271C758.445 66.1351 759.125 63.7468 759.125 61.1061V42.8733C759.125 39.4947 758.076 36.8539 755.979 34.951C753.882 33.0093 750.873 32.0384 746.95 32.0384C743.339 32.0384 740.426 32.8151 738.212 34.3685C736.038 35.9219 734.679 37.9219 734.135 40.3684L734.018 40.8927H722.135L722.193 40.2519C722.504 36.718 723.688 33.553 725.747 30.7569C727.805 27.922 730.659 25.689 734.31 24.058C737.96 22.4269 742.29 21.6114 747.3 21.6114C752.309 21.6114 756.639 22.4463 760.29 24.1162C763.94 25.7861 766.775 28.1356 768.795 31.1647C770.814 34.1938 771.824 37.7471 771.824 41.8247V84.0572H759.125V74.3875H758.892C757.688 76.601 756.135 78.5233 754.232 80.1544C752.329 81.7466 750.174 82.9893 747.766 83.8825C745.397 84.7368 742.853 85.164 740.135 85.164Z" fill="#676B78"/>
                        <path d="M782.747 104.445V22.7764H795.446V33.2617H795.737C796.941 30.854 798.475 28.7764 800.339 27.0288C802.242 25.2812 804.417 23.9415 806.863 23.0094C809.31 22.0774 811.989 21.6114 814.902 21.6114C820.106 21.6114 824.63 22.9123 828.475 25.5143C832.319 28.0773 835.29 31.7472 837.387 36.5238C839.484 41.2616 840.533 46.8926 840.533 53.4168V53.4751C840.533 59.9993 839.465 65.6303 837.329 70.3681C835.232 75.1059 832.28 78.7758 828.475 81.3777C824.669 83.9796 820.203 85.2805 815.077 85.2805C812.203 85.2805 809.504 84.8145 806.98 83.8825C804.494 82.9505 802.3 81.6301 800.397 79.9214C798.494 78.1738 796.922 76.1156 795.679 73.7467H795.446V104.445H782.747ZM811.582 74.3875C814.883 74.3875 817.737 73.5525 820.145 71.8826C822.552 70.1739 824.397 67.7468 825.679 64.6012C826.96 61.4556 827.601 57.7469 827.601 53.4751V53.4168C827.601 49.0674 826.96 45.3198 825.679 42.1742C824.397 39.0287 822.552 36.6209 820.145 34.951C817.737 33.2812 814.883 32.4462 811.582 32.4462C808.397 32.4462 805.582 33.32 803.135 35.0675C800.689 36.7763 798.766 39.2034 797.368 42.349C796.009 45.4558 795.329 49.145 795.329 53.4168V53.4751C795.329 57.708 796.028 61.3973 797.427 64.5429C798.825 67.6497 800.727 70.0768 803.135 71.8244C805.582 73.5331 808.397 74.3875 811.582 74.3875Z" fill="#676B78"/>
                        <path d="M849.01 104.445V22.7764H861.708V33.2617H862C863.204 30.854 864.738 28.7764 866.602 27.0288C868.504 25.2812 870.679 23.9415 873.126 23.0094C875.572 22.0774 878.252 21.6114 881.165 21.6114C886.368 21.6114 890.893 22.9123 894.737 25.5143C898.582 28.0773 901.553 31.7472 903.65 36.5238C905.747 41.2616 906.795 46.8926 906.795 53.4168V53.4751C906.795 59.9993 905.727 65.6303 903.591 70.3681C901.494 75.1059 898.543 78.7758 894.737 81.3777C890.931 83.9796 886.465 85.2805 881.339 85.2805C878.466 85.2805 875.767 84.8145 873.242 83.8825C870.757 82.9505 868.563 81.6301 866.66 79.9214C864.757 78.1738 863.184 76.1156 861.941 73.7467H861.708V104.445H849.01ZM877.844 74.3875C881.145 74.3875 883.999 73.5525 886.407 71.8826C888.815 70.1739 890.66 67.7468 891.941 64.6012C893.223 61.4556 893.863 57.7469 893.863 53.4751V53.4168C893.863 49.0674 893.223 45.3198 891.941 42.1742C890.66 39.0287 888.815 36.6209 886.407 34.951C883.999 33.2812 881.145 32.4462 877.844 32.4462C874.66 32.4462 871.844 33.32 869.398 35.0675C866.951 36.7763 865.029 39.2034 863.631 42.349C862.272 45.4558 861.592 49.145 861.592 53.4168V53.4751C861.592 57.708 862.291 61.3973 863.689 64.5429C865.087 67.6497 866.99 70.0768 869.398 71.8244C871.844 73.5331 874.66 74.3875 877.844 74.3875Z" fill="#676B78"/>
                        <path d="M941.485 85.2805C935.505 85.2805 930.34 83.999 925.99 81.4359C921.68 78.834 918.359 75.1641 916.029 70.4263C913.738 65.6497 912.593 60.0381 912.593 53.5916V53.5333C912.593 47.1645 913.758 41.5917 916.088 36.8151C918.418 31.9996 921.699 28.2715 925.932 25.6308C930.165 22.9512 935.136 21.6114 940.845 21.6114C946.592 21.6114 951.524 22.8929 955.641 25.456C959.796 27.9802 963 31.5724 965.252 36.2326C967.505 40.8539 968.631 46.2325 968.631 52.3683V56.6207H918.825V47.7082H962.514L956.281 56.0382V51.145C956.281 46.8344 955.621 43.2616 954.301 40.4267C953.019 37.5529 951.213 35.417 948.883 34.019C946.592 32.621 943.932 31.9219 940.903 31.9219C937.913 31.9219 935.233 32.6598 932.864 34.1355C930.495 35.6112 928.631 37.786 927.272 40.6597C925.913 43.4946 925.233 46.9897 925.233 51.145V56.0382C925.233 59.9993 925.893 63.3973 927.214 66.2322C928.573 69.0283 930.495 71.1836 932.981 72.6982C935.466 74.1739 938.398 74.9117 941.777 74.9117C944.262 74.9117 946.456 74.5428 948.359 73.8049C950.262 73.0282 951.835 72.0186 953.077 70.7758C954.359 69.4943 955.252 68.0769 955.757 66.5235L955.932 66.0575H967.932L967.815 66.6982C967.31 69.106 966.359 71.4166 964.961 73.6302C963.563 75.8437 961.738 77.8437 959.485 79.6301C957.272 81.3777 954.65 82.7563 951.621 83.766C948.592 84.7757 945.214 85.2805 941.485 85.2805Z" fill="#676B78"/>
                        <path d="M977.107 84.0572V22.7764H989.806V32.0384H990.039C991.67 28.9317 994.059 26.4269 997.204 24.524C1000.35 22.5823 1004.23 21.6114 1008.85 21.6114C1015.57 21.6114 1020.78 23.6502 1024.47 27.7278C1028.16 31.7666 1030 37.3199 1030 44.3878V84.0572H1017.36V46.8344C1017.36 42.2131 1016.27 38.6597 1014.1 36.1743C1011.96 33.6889 1008.72 32.4462 1004.37 32.4462C1001.42 32.4462 998.835 33.1064 996.622 34.4268C994.447 35.7471 992.758 37.5918 991.554 39.9607C990.389 42.3296 989.806 45.1257 989.806 48.3489V84.0572H977.107Z" fill="#676B78"/>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    .hp-solutions h1{
        color: var(--lightGrey);
    }
    .sl-filter-row{
        margin: 2.5rem 0;
        gap: 0.5rem;
    }
    .sl-filter-row a{
        padding: 0.75rem 1.25rem;
        border-radius: 1.375rem;
        border: 1px solid var(--white);
        color: var(--white);
        font-size: 1rem;
        font-weight: 500;
        transition: all .5s linear;
        -webkit-transition: all .5s linear;
        -moz-transition: all .5s linear;
    }
    .sl-filter-row a.active, .sl-filter-row a:hover{
        background: var(--white);
        color: var(--darkBlue);
    }
    .projects-list{
        gap: 1.5rem;
    }
    .pj-ft-image{
        overflow: hidden;
        border-radius: 1.25rem;
    }
    .pj-ft-image img{
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 1.25rem;
        -webkit-transition: transform 0.5s ease;
        -moz-transition: transform 0.5s ease;
        transition: transform 0.5s ease;
    }
    .pj-ft-image:hover img{
        transform: scale(1.05);
    }
    .pj-ft-info-row{
        padding: 1.5rem;
    }
    .pj-ft-info-lcol{
        width: 50%;
    }
    .pj-ft-info-rcol{
        width: 50%;
    }
    .pj-ft-info-txt{
        margin-top: 1.5rem;
    }
    .pj-ft-info-txt h4{
        color: var(--lightGrey);
    }
    .pj-ft-info-rcol p{
        font-family: 'pp_neue_montrealbook';
        color: var(--lightGrey);
        text-align: right;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5rem;
        margin: 0;
        letter-spacing: 0.02rem;
    }
    .pj-featured-item{
        width: calc((100% - 1.5rem) / 2);
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .pj-featured-item:nth-child(3n + 1){
        width: 100%;
        margin: 0;
    }
    .pj-featured-item:nth-child(3n + 1) .pj-ft-info-txt{
        width: 100%;
    }
    .ct-animation-bar{
        padding: 12.5rem 0;
        overflow: hidden;
    }
    @-webkit-keyframes scroll {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-100%);
        }
    }
    @-moz-keyframes scroll {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-100%);
        }
    }
    @-ms-keyframes scroll {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-100%);
        }
    }
    @-o-keyframes scroll {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-100%);
        }
    }
    @keyframes scroll {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-100%);
        }
    }
    .ct-rolling{
        gap: 2.5rem;
        -moz-animation: scroll 30s linear infinite;
        -webkit-animation: scroll 30s linear infinite;
        -o-animation: scroll 30s linear infinite;
        animation: scroll 30s linear infinite;
        white-space: nowrap;
        flex-shrink: 0;
        padding-right: 1rem;
    }
    .center-detector{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 12.5rem;
        height: 100%;
        pointer-events: none;
    }
    .ct-txt svg {
        fill: #676B78;
    }
    .to-white path {
        fill: #ffffff !important;
    }
</style>

<script>
    const observer = new IntersectionObserver(
        entries => {
            entries.forEach(entry => {
            const svg = entry.target.querySelector('svg');
            if (!svg) return;

            if (entry.isIntersecting) {
                svg.classList.add('to-white');
            } else {
                svg.classList.remove('to-white');
            }
            });
        },
        {
            root: null,
            rootMargin: "0px",
            threshold: 0.6,
        }
    );

    document.querySelectorAll('.ct-arr, .ct-txt').forEach(el => {
        observer.observe(el);
    });
</script>