<section class="pv-pg sc-pd ps-rel">
    <div class="container">
        <div class="hero-intro-text">
            <h1 class="txt-anim"><strong>IPOINT INT</strong> <br/> Terms & Conditions.</h1>
        </div>
        <div class="pg-content-wrap">
            <div class="page-content">
                <h2>1. Inroduction</h2>
                <p>1.1. Welcome to <a href="https://www.ipoint.com.mt/">www.ipoint.com.mt</a> – Ipoint International LTD (“Ipoint”) official website (“<em>the Website</em>”). By continuing browsing and using this website, you (“<em>the User</em>”) are agreeing to comply with and be bound by the following terms and conditions of use (“<em>the T&amp;Cs”</em>), which together with our <a href="/privacy-policy">Privacy Policy</a> and <a href="/cookie-policy">Cookie Policy</a> govern in full your relationship with Ipoint in relation to this website.</p>
                <p>1.2. If you entirely or partially disagree with these T&amp;Cs, you should not browse the Website and exit it immediately.</p>
                <p>1.3. The owner of the Website is Ipoint International LTD, a company incorporated in Malta and having registered address at:</p>
                <p>IPOINT INT Ltd. <br> 42,  <br> Triq L-Amaroz, <br> Mgarr, Malta <br> Ipoint is reachable at: info@ipoint.com.mt <br> +356 21384 308</p>
                <h2>2. Acceptable use</h2>
                <p>2.1.  The User may use the Website only for lawful purposes and may refrain from using the Website:</p>
                <ul>
                    <li>(i) In any way that breaches any applicable local, national or international law or regulation;</li>
                    <li>(ii) In any way that is unlawful or fraudulent or has any unlawful or fraudulent purpose or effect;</li>
                    <li>(iii) To transmit, or procure the sending of, any unsolicited or unauthorised advertising or promotional material or any other form of similar solicitation (spam);</li>
                    <li>(iv) To knowingly transmit any data, send or upload any material that contains viruses and malwares, or any other item designed to adversely affect the operation the Website.</li>
                </ul>
                <p>2.2. Any breach of clause 2.1 will be reported by Ipoint with undue delay to the competent authorities.</p>
                <h2>3. Copyright</h2>
                <p>3.1. All content published on this website (“the Content”), including but not limited to digital downloadable files, images, texts, graphics, logos, is the intellectual property of Ipoint.</p>
                <p>3.2. The User may not copy, reproduce or communicate the Content, without the written permission of Ipoint. The permission may be sought contacting Ipoint at: <a href="mailto:info@ipoint.com.mt">info@ipoint.com.mt</a>.</p>
                <h2>4. Disclaimer of liability</h2>
                <p>4.1. Ipoint disclaims liability for incidental or consequential damages and assumes no responsibility or liability for any loss or damage suffered by any person as a result of the use or misuse of the Website or of any of the information or content hereto.</p>
                <p>4.2. The Website may contain hyperlinks to websites operated by parties other than Ipoint (“<em>Third-Party Websites</em>”).</p>
                <p>4.3. Links to Third-Party Websites are provided for User’s convenience only. When the User activates one of them, they leave Ipoint website. Ipoint has no control over and will accept no responsibility or liability in respect of, material on any web site that is not under the control of Ipoint.</p>
                <p>4.4. The inclusion of links to Third-Party Websites does not imply any endorsement of the material on them or any association with their operators.</p>
                <p>4.5. By following a link from the Website to a Third-Party Website you may be supplying confidential and/or personal data directly to a third party. Ipoint is not responsible for confidentiality and data protection practices of Third-Party Websites.</p>
                <h2>5. Recruitment</h2>
                <p>5.1.The Website has a “<a href="/about-us#vacancies"><em>Career</em></a>” section there Ipoint may from time to time publish, on the Website, advertisements on vacant positions within the organisation.</p>
                <p>5.2. Ipoint reserves the right to update information concerning the job advertisements posted on the Career section at any time.</p>
                <p>5.3. All information forming part of a job application, including that contained in the attachments, will be treated by Ipoint as confidential and will not be disclosed to any third-party.</p>
                <p>5.4.All personal data submitted by job applicants, including their CVs and covering letters, will be processed lawfully and in accordance with our <a href="/privacy-policy">Privacy Policy</a>.</p>
                <h2>6. Privacy</h2>
                <p>6.1. Any item of personal data that the User provides to Ipoint through the Website is subject to our <a href="/privacy-policy">Privacy Policy</a>, which governs the processing of your personal information.</p>
                <h2>7. Security</h2>
                <p>7.1. User’s connection to Ipoint website is secured with a Secure Sockets Layer (SSL) certificate.</p>
                <p>7.2. Ipoint cannot warrant that the Website will be free of infection by viruses, malwares or any other manifesting, contaminating or destructive items, nor it assumes any liability over the damages suffered by the User in case of an infection.</p>
                <h2>8. Amendments</h2>
                <p>8.1. Ipoint may revise these T&amp;Cs unilaterally at any time by amending this page. The User is expected to check this page from time to time to familiarize with any change that Ipoint makes.</p>
                <h2>9. Governing law and settlement of disputes</h2>
                <p>9.1. These T&amp;Cs (and all non-contractual obligations arising out of or in connection with them) shall be governed by, and shall be construed in accordance with, Maltese law.</p>
                <p>9.2. The User irrevocably agree the courts of Malta shall have jurisdiction to hear and determine any suit, action or proceeding, and to settle any disputes, which may arise out of or in connection with these T&amp;Cs and, for such purposes, irrevocably submits to the jurisdiction of such courts.</p>
            </div>
        </div>
    </div>
</section>

<style>
    .pv-pg h1 strong{
        color: #676B78;
        font-weight: 500;
    }
    .pv-pg{
        padding-bottom: 12.5rem;
    }
    .pv-pg:after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 12.5rem;
        background: url(/privacy-grd.png) no-repeat;
        background-size: 100% 100%;
        z-index: 0;
    }
    .pg-content-wrap{
        margin-top: 5.5rem;
    }
    .page-content{
        color: var(--white);
        font-family: 'pp_neue_montrealbook';
        font-size: 1.25rem;
        font-weight: 400;
        line-height: 1.7rem;
        letter-spacing: 0.025rem;
    }
    .page-content p{
        margin: 1rem 0;
    }
    .page-content a{
        color: var(--white);
    }
    .page-content h2{
        font-size: 1.75rem;
        line-height: 2rem;
        font-family: 'pp_neue_montrealmedium';
        margin-top: 2.5rem;
    }
    .page-content ul{
        list-style: disc;
        margin-left: 2rem;
        line-height: 1.8rem;
    }
</style>