---
const response = await fetch ("https://www.ipoint.com.mt/blog/wp-json/wp/v2/posts");
const pages = await response.json();
const selectedPage = pages.find(page => page.slug === 'insights-igaming-marketing-malta-growth-strategies');

import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---

<div set:html={selectedPage?.content.rendered}></div>


