---
const { theme = "dark", isContact = "no", isErr = "no" } = Astro.props;
import "../styles/style.css";
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

---

<!doctype html>
<html lang="en" class={`${theme}`}>
	<head>
		<!-- Start cookieyes banner -->
		<script id="cookieyes" type="text/javascript" src="https://cdn-cookieyes.com/client_data/012d22f76b769b5504370d9ea4c5906a/script.js"></script>
		<!-- End cookieyes banner -->
		 
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="desciption" content="" />
		<title>IPOINT INT</title>
	</head>
	<body class={isContact === "yes" ? "ct-pg" : ""}>
		<Header />
		<slot />
		<Footer
			{...(isContact === "yes" ? { isContact: "yes" } : {})}
			{...(isErr === "yes" ? { isErr: "yes" } : {})}
		/>
		<script type="module" src="/js/global.js"></script>
	</body>
</html>
